<style>
	paperwork-form {
		position: relative;
		display: table;
		background-color: white;
		width: 100%;
		margin: 0;
		padding: 0;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 13px;
		line-height: 1.42857143;
		color: #333;
	}
	
	paperwork-form *, paperwork-form :after, paperwork-form :before {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 0;
		margin: 0;
	}
	
	paperwork-form table {
		border-spacing: 0;
		border-collapse: collapse;
	}
	
	paperwork-form li {
		list-style-type: none;
	}
</style>