[data-template="logan"] {
	
	.inventory-item {
		.inventory-item_name {
			
			doc-text {
				padding: 3px 6px;
			}
		}
		
		.inventory-item_qty, .inventory-item_price, .inventory-item_total {
			border-left: 1px solid black;
			min-width: 95px;
			text-align: center;
			padding: 3px 6px;
			height: 100%;
		}
	}
}