[data-template="logan"] {
	
	.inventory-item {
		.inventory-item_name {
			flex: 1 1 100%;
			
			doc-text {
				height: 24px;
				line-height: 24px;
				padding: 0 6px;
			}
		}
		
		.inventory-item_qty, .inventory-item_price, .inventory-item_total {
			flex: 1 0 70px;
			border-left: 1px solid black;
			
			doc-text {
				padding: 0 6px;
				height: 24px;
				line-height: 24px;
				
				text-align: center;
				padding: 0 6px;
			}
		}
	}
}