[data-template="modern"] {
	
	.inventory-input {
		border-top: 1px solid #000;
	}
	
	.twitter-typeahead {
		border-left: 0;
		border-right: 0;
	}
	
	.inventory-item {
		
		.inventory-item_name {
			border-bottom: 1px solid #eee;
			
			doc-text {
				padding: 3px 6px 3px 0;
			}
		}
		
		.inventory-item_qty, .inventory-item_price, .inventory-item_total {
			min-width: 95px;
			text-align: center;
			padding: 3px 6px;
			height: 100%;
			border-bottom: 1px solid #eee;
		}
		
		.inventory-item_total {
			min-width: 96px;
		}
	}
}