/* Infrastructure */

body {font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif}
ul {-webkit-padding-start:0px!important;margin:0!important}
li {list-style-type:none!important}

.width {
	width: 100%;
	max-width: 1400px;
	margin-left:auto;
	margin-right:auto;
	padding: 0px 60px;
	min-width: 343px;
}

.nav_list span, .nav_list_less span {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* IE/Edge */
	user-select: none;
	background-color:white;
}

@media screen and (max-width:921px){
	feature {width: 100%!important}
}

@media screen and (max-width:700px){
	.logo {float: none!important;text-align:center}
	.nav_list {float: none!important;width:315px;margin: 0 auto!important;}
	.nav_list_less {float: none!important;width:220px;margin: 0 auto!important;}
}

@media screen and (max-width:500px){
	.width {padding: 0px!important;}
	video {min-width: 330px!important}
	feature {padding-left: 5px!important;padding-right: 5px!important}
	.feature .main_title {text-align:center}
	.form {min-width:330px!important}
	.large {font-size:18px!important}
}

input[type=text], input[type=email], input[type=password] {
	-webkit-appearance: none;
	-moz-appearance: none;
	border:1px solid #ccc;
	border-radius: 0px !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-webkit-transition: border-color 0.3s ease;
         -moz-transition: border-color 0.3s ease;
           -o-transition: border-color 0.3s ease;
          -ms-transition: border-color 0.3s ease;
              transition: border-color 0.3s ease;
}

/********** Scroll **************/
::-webkit-scrollbar {
	width: 10px;
    height: 10px;
    overflow: visible;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
    min-height: 28px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #888;
}

body::-webkit-scrollbar-track, body::-webkit-scrollbar {
	background-color:white; /* must be same as body background color */
}

::-webkit-scrollbar-track, ::-webkit-scrollbar {
	background-color:transparent;
}

.no-click{
	pointer-events:none!important;
	cursor: default;
}

.disable {
	color: #999;
	cursor: default;
}

/* Structure */
.wrapper:before{
	display:table;
	content: " ";
}
.wrapper:after{
	display:table;
	content: " ";
	clear:both;
}

section:before{
	display:table;
	content: " ";
}

section:after{
	display: table;
	content: " ";
}

.nav {
	padding-top: 30px;
	padding-bottom: 30px;
}

.nav_list, .nav_list_less {
	display: block;
	float: right;
}

.nav_list li, .nav_list_less li {
	float: left;
	margin: 20px 15px;
	cursor: pointer;
}

.color_hint {color: #999}
.color_blue {color: #0db7ed}

/* Elements */
.logo {
	display: block;
	float: left;
	font-size: 46px;
	line-height:46px;
	font-weight:300;
}

.main {
	padding: 50px 0px;
	position: relative;
}

.main_title {
	font-size: 26px;
	line-height: 26px;
	font-weight: 300;
	padding-bottom: 15px;
	display: block;
}

.div_fade:before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: linear-gradient(transparent 100px, white);
	background: -moz-linear-gradient(transparent 100px, white); /* FF3.6+ */
	background: -webkit-linear-gradient(transparent 100px, white); /* Chrome,Safari */
}

.feature {
	background-color: #53aee0;
}

.content_white {
	color: white;
}

feature {
	display: block;
	float: left;
	width: 50%;
	padding: 15px;
}

.minor_title {
	font-size: 20px;
	line-height: 20px;
	font-weight: 300;
	padding-bottom: 12px;
	display: block;
}

.spotlight {
	opacity: 0.6;
}

.spotlight:hover {
	opacity: 1;
}

.centered {text-align:center}

.large {
	padding: 0px 10px;
	font-size:20px;
	line-height:51px;
}

.wolfe-btn {
	background-color:#2ecc71;
	color:white;
	text-transform:uppercase;
	border:none;
	border-bottom:4px solid #27ae60;
	outline:none
}

.wolfe-btn:hover {
	background-color:#40d47e;
	cursor:pointer;
}

.wolfe-btn:active {
	border:none;
	margin-top:4px;
	outline:0;
}

.wolfe-btn:focus {
	background-color:#40d47e;
}

.facade {
	display:block;
}

.special {
	color: #53aee0;
	font-weight: 600;
}

video {
	min-width: 400px;
}

.form {
	margin: 0 auto;
	max-width: 750px;
	padding:10px;
}

.form_input {
	width: 70%;
	padding-top: 1px;
	padding-bottom: 1px;
}

.form_button {
	width: 30%;
	padding-left:5px;
}

.top {padding-bottom:120px}
.foot {padding-bottom:200px}

/* Login/Registration */

.user-information td:nth-child(odd) {
	color: #999;
	text-align: right;
}

.user-information td:nth-child(even) {
	font-size: 20px;
}

.user-information td {
	padding: 5px 10px;
}

.user-information input, .user-information button {padding:8px}

.login input, .login button {
	display:block;
	margin: 15px 0px;
	font-size:16px;
	padding: 15px;
	width:100%;
	height:53px;
}

.wolfe-btn-wait{
	padding:7px!important;
	opacity:0.5!important;
	pointer-events:none!important;
}

.wolfe-btn-wait .wait {
	margin: auto;
}