<!DOCTYPE html>
<html lang="en">
	<head>
		{% include path.head %}
	</head>
	<body>
		{% include path.scaffolding %}
		<div id="content" style="padding:15px 0px 0px 15px">
			<div class="obj" style="display:inline-block;margin-bottom:5px">
				<div data-obj="0" id="summary" class="box material">
					<h3 style="margin-bottom:0">
						<span class="jobName">{{job.name}}</span>
						<span class="pull-right" style="color:green">{{job.jobID}}</span>
					</h3>
					<div id="ajax" style="color:#888;font-style:italic;opacity:0">Saved</div>
					<table class="archived w1">
						<tbody>
							<tr>
								<td>Client</td>
								<td>{{client.name}}</td>
							</tr>
							<tr>
								<td>Address</td>
								<td>{{client.address}}</td>
							</tr>
							<tr>
								<td>Started</td>
								<td>{{job.date_created}} - {% set difference = date().diff(date(job.date_created)) %} {{difference.days}} days ago</td>
							</tr>
							<tr>
								<td>Invoiced</td>
								<td>{{job.date_invoiced}} - {% set difference = date(job.date_invoiced).diff(date(job.date_created)) %} {{difference.days}} days after start date</td>
							</tr>
							<tr>
								<td>Closed</td>
								<td>{{job.date_completed}} - {% set difference = date(job.date_completed).diff(date(job.date_created)) %} {{difference.days}} days after start date</td>
							</tr>
							{% if job.notes %}
							<tr>
								<td>Notes</td>
								<td>{{job.notes | raw }}</td>
							</tr>
							{% endif %}
							{% if tabs %}
								<tr>
									<td>Paper</td>
									<td>
										{% set i = 0 %}
										{% for key,pair in tabs %}
											{% set i = i + 1 %}
											<a href="http://localhost/wolfe/app/app/storage/clients/{{user.easy}}/{{jobID}}-{{i}}.pdf" target="_blank">{{jobID}}-{{i}}.pdf</a><br>
										{% endfor %}
									</td>
								</tr>
							{% endif %}
							<tr>
								<td>Status</td>
								<td>{{job.status.name}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<script>
		var environment = {
			root: '{{path.root}}',
			page: '{{path.page}}',
		};
		</script>
		{% include path.js %}
		<script>
			$(function(){
				{% include path.load %}
			});
		</script>
	</body>
</html>