<!DOCTYPE html>
<html lang="en">
	<head>
		{% include path.head %}
		<meta name="format-detection" content="telephone=no">
	</head>
	<body>
		{% include path.scaffolding %}
		<div id="content">
			<!-- <div style="width:100%">
            	{% include path.flash %}
			</div> -->
			<module>
				<part class="tabs-job">
					<ul class="wrap box-std">
						<li data-tab="0" class="tab">Job</li>
						{% set i = 0 %}
						{% for form in forms %}
							{% set i = i + 1 %}
							<li data-tab="{{i}}" class="tab">{{form.name}}</li>
						{% endfor %}
						{% set i = i + 1 %}
						<li data-tab="{{i}}" heir hidden></li>
						<li data-tab="+" class="tab">+</li>
					</ul>
				</part>
				<part class="obj-job">
					<box data-obj="0" class="tabobj box-std">
						<part class="container wrap" style="padding-top: 20px;">
							<input type="text" class="job-name" name="job-name" value="{{job.name}}" placeholder="Job name" />
							<select title="Status" class="status right" job-status-select>
								{% for item in status %}
									{% if job.job_status.name == item.name %}
									<option value="{{item.name}}" selected="selected"/>{{item.name}}</option>
									{% else %}
									<option value="{{item.name}}"/>{{item.name}}</option>
									{% endif %}
								{% endfor %}
							</select>
						</part>
						<hr>
						<part class="container-top">
							<table class="client-details">
								<tbody>
									<tr>
										<td>Job</td>
										<td title="Job #{{job.job_number}}">#{{job.job_number}}</td>
									</tr>
									<tr>
										<td>Client</td>
										<td><a href="{{path.root}}/client/{{client.client_number}}" title="{{client.name}}'s Page">{{client.name}}</a></td>
									</tr>
									{% if client.email %}
									<tr>
										<td>Email</td>
										<td><a href="mailto:{{client.email}}" title="Send Email" target="_blank">{{client.email}}</a></td>
									</tr>
									{% endif %}
									{% if client.address %}
									<tr>
										<td>Address</td>
										<td><a href="http://maps.google.com/?q={{client.address}}" title="Google Maps" target="_blank">{{client.address}}</a></td>
									</tr>
									{% endif %}
									{% if client.phone %}
									<tr>
										<td>Phone</td>
										<td><a href="tel:{{client.phone}}" title="Call {{client.name}}">{{client.phone}}</a></td>
									</tr>
									{% endif %}
									{% if job.date_created %}
									<tr>
										<td>Started</td>
										<td title="{{job.date_created}}">{{job.date_created_pretty}}</td>
									</tr>
									{% endif %}
									{% if job.date_invoiced %}
									<tr>
										<td>Invoiced</td>
										<td title="{{job.date_invoiced}}">{{job.date_invoiced_pretty}}</td>
									</tr>
									{% endif %}
									{% if job.date_completed %}
									<tr>
										<td>Closed</td>
										<td title="{{job.date_completed}}">{{job.date_completed_pretty}}</td>
									</tr>
									{% endif %}
									<tr>
										<td class="token pdf-title" style="padding-top:6px;vertical-align:top;"></td>
										<td>
											<div class="pdf-load"></div>
											<div class="pdf-list"></div>
										</td>
									</tr>
								</tbody>
							</table>
						</part>
						<part class="container-bottom wrap">
							<form method="post" action="{{path.root}}/delete/job" job-del-form>
								<input type="hidden" name="id" value="{{job.id}}"/>
							</form>
							<button class="button delete right" job-del-btn>Delete Job</button>
						</part>
					</box>
					{% set i = 0 %}
					{% for a,b in forms %}
						{% set i = i + 1 %}
						<part data-obj="{{i}}" class="tabobj" hidden>
							{% include path.form with {
								id: a,
								html: b.html
							} %}
						</part>
					{% endfor %}
					{% set i = i + 1 %}
					<box data-obj="{{i}}" heir hidden>
					</box>
					<box data-obj="+" class="tabobj box-std" hidden>
						<part class="container">
							{% for a,b in templates %}
							<div class="new-template" new-template data-templateid="{{a}}" href="{{path.root}}/post/form">
								{{b.name}}
							</div>
							{% endfor %}
						</part>
					</box>
				</part>
				<box class="notes">
					<part style="padding: 5px;">
						<div class="notes-label">
							Notes
						</div>
						<div class="note-wrap wrap">
							<div class="notepad" contenteditable>
								{{job.notes | raw}}
							</div>
						</div>
					</part>
				</box>
			</module>
		</div>
		<div class="pw-notification" data-module="notification"></div>
		<div class="email-signature-raw" hidden>{{email.signature|raw}}</div>
		<script>
		var environment = {
			job_id: '{{job.id}}',
			job_number: '{{job.job_number}}',
			client_id: '{{client.id}}',
			client_number: '{{client.client_number}}',
			client_name: '{{client.name}}',
			client_email: '{{client.email}}',
			root: '{{path.root}}',
			page: '{{path.page}}',
		};
		</script>
		{% include path.js with {
			include: ['Tab', 'typeahead', 'sweetalert', 'interact', 'contextmenu', 'selection', 'sortable']
		}%}
		<script>
		var tab	= new Tab({
			tabParent: '.tabs-job',
			objParent: '.obj-job',
			cookie: {
				name: 'job',
				value: '{{job.job_number}}',
			}
		});
		</script>
		<script src="{{path.root}}/js/services/{{path.js_cache[job.painter]}}"></script>
		<script src="{{path.root}}/js/services/{{path.js_cache.Form}}"></script>
		<script>var form = new Form;</script>
		<script>
		$(function(){
			// AJAX CALL FOR PDFS
			Paperwork.wait($('.pdf-load'));
			$.get('{{path.root}}/get/pdf-json/{{job.job_number}}')
			.done(function(data){
				if(data != '0'){
					$('.pdf-load').remove();
					$('.pdf-title').html('Paper');
					data = JSON.parse(data);
					$.each(data, function(a,b){
						$('.pdf-list').append(
							'<div style="height:24px;line-height:24px">'+
								'<a target="_blank" href="{{path.root}}/get/pdf/{{job.job_number}}/'+b+'">'+b+'</a>'+
							'</div>'
						);
					});
				}else{
					$('.pdf-load').closest('tr').remove();
				}
			});
			
			// JOB STATUS
			$(document).on('change', '[job-status-select]', function(){
				if($(this).val() != undefined){
					$.post('{{path.root}}/put/job-details', {
						id: '{{job.id}}',
						status: $(this).val()
					}).done(function(data){
						if(data != '0'){
							Box.Application.broadcast('notification', 'Saved');
							if(data == 'Completed'){
								location.reload();
							}
						}
					});
				}
			});
			
			// NOTES FOCUS
			$('.note-wrap').on('click', function(){
				$('.notepad').focus();
			});
			
			// NOTES CHANGE
			var notes = $('.notepad').html();
			$('.notepad').on('blur', function(){
				if($(this).html() != notes){
					$.post('{{path.root}}/put/job-details', {
						notes: $(this).html(),
						id: '{{job.id}}',
					}).done(function(){
						notes = $('.notepad').html();
						Box.Application.broadcast('notification', 'Saved');
					});
				}
			});
			
			// JOB NAME CHANGE
			$('.job-name').change(function(){
				if($('.job-name').val() !=''){
					$.post('{{path.root}}/put/job-details', {
						name: $('.job-name').val(),
						id: '{{job.id}}',
					}).done(function(){
						Box.Application.broadcast('notification', 'Saved');
					});
				}
			});
			
			// JOB DELETE
			$(document).on('click', '[job-del-btn]', function(){
				$this = $(this);
				
				swal({
					title: 'Are you sure you want to delete this job?',
					text: 'Deleting this job will delete ALL quotes and invoices attached',
					showCancelButton: true,
					closeOnConfirm: true,
				}, function(result){
					if(result){
						$('[job-del-form]').submit();
					}else{
						Paperwork.ready($this, 'Delete Job');
					}
				});
			});
			
			// Right click context menu
			$('.tabs-job').contextMenu({
				selector: '.tab',
				callback: function(key){
					var item = $(this).attr('data-tab'),
						id = $('[data-obj="'+item+'"]').find(form.form).attr('data-formid');
					
					if(key != 'cancel' && id != undefined){
						swal({
							title: 'New Name',
							type: 'input',
							showCancelButton: true,
							closeOnConfirm: false,
							showLoaderOnConfirm: true,
						}, function(name){
							if(name === false){
								return false
							}else if(name === ''){
								swal.showInputError('You need to write something!');
								return false;
							}
							$.post('{{path.root}}/put/rename-form', {
								id: id,
								name: name,
							}).done(function(data){
								data = JSON.parse(data);
								if(data.type == 'success'){
									swal({
										title: 'Renamed Form!',
										timer: '1000',
										type: 'success',
										showConfirmButton: false
									});
									$('[data-tab="'+item+'"]').html(data.name);
								}
							});
						});
					}
				},
				items: {
					Rename: {
						name: 'Rename'
					},
					sep: '-',
					cancel: {
						name: 'Cancel'
					}
				}
			});
			
			// FORM.POST()
			$(document).on('click', '[new-template]', function(){
				var button = $(this),
					name = $(this).html();
				
				Paperwork.wait(button);
				form.post({
					url: '{{path.root}}/post/form',
					template_name: name,
					template_id: button.attr('data-templateid'),
					client_id: '{{client.id}}',
					job_id: '{{job.id}}',
					job_number: '{{job.job_number}}',
				}, function(bool){
					if(bool){
						Paperwork.ready(button, name);
						$(form.s).find('[form-blob]').removeClass('form-loading');
					}else{
						//location.reload();
					}
					$(form.s).find('.tt-input').focus();
				});
			});
			
			// FORM.PUT()
			$(document).on('click', '[form-save-btn]', function(){
				var button = $(this);
				
				form.put({
					url: '{{path.root}}/put/form',
					id: $(form.s).find('[form-blob]').attr('data-formid'),
				}, function(bool){
					if(bool){
						Paperwork.ready(button, 'SAVE');
						Box.Application.broadcast('notification', 'Saved');
					}else{
						Paperwork.ready(button, 'SAVE');
						Paperwork.saved('Failed to save');
					}
				});
			});
			
			// FORM.DELETE()
			$(document).on('click', '[form-del-btn]', function(){
				var button = $(this);
				
				$(form.s+' '+form.form).addClass('form-loading');
				swal({
					title: 'Are you sure you want to delete this?',
					text: 'Deleting this will remove it forever',
					showCancelButton: true,
					closeOnConfirm: true,
				}, function(a){
					if(a){
						form.delete({
							url: '{{path.root}}/delete/form',
							form_id: $(form.s).find('[form-blob]').attr('data-formid'),
						}, function(){
							var noteposition = $('.notes').position(),
								noteparent = $('.notes').clone(),
								tab_id = $('.'+tab.activeTab).attr('data-tab');
							
							$('.notes').css({
								position: 'absolute',
								top: noteposition.top,
								left: noteposition.left,
							});
							$(form.s).slideUp('fast', function(){
								$(form.s).remove();
								$('.'+tab.tab+'.'+tab.activeTab).fadeOut('fast', function(){
									tab.activate($('[data-tab="'+tab_id+'"]').prev());
									$('.notes').replaceWith(noteparent);
									$('.note-wrap').on('click', function(){
										$('.notepad').focus();
									});
									$(this).remove();
								});
							});
						});
					}else{
						Paperwork.ready(button, 'DELETE');
					}
					
				});
			});
			
			// PDF
			$(document).on('click', '[form-pdf-btn]', function(){
				var button = $(this),
					html = button.html();
				
				form.put({
					url: '{{path.root}}/put/form',
					id: $(form.s).find('[form-blob]').attr('data-formid'),
				}, function(bool){
					form.pdf($(form.s).find('[form-blob]'), function(name, data){
						
						$(form.s).find('[form-pdf-name]').val(name);
						$(form.s).find('[form-pdf-html]').val(data);
						$(form.s).find('[form-pdf-form]').submit();
						
						window.onfocus = function(){
							Paperwork.ready($('[form-pdf-btn]'), 'PDF');
						}
						
					});
				});
			});
			
			// COPY
			$(document).on('click', '[form-copy-btn]', function(){
				form.copy($(form.s+' [form-blob]'), {
					{% for a,b in templates %}{{a}}:"{{b.name}}",{%endfor%}
				});
			});
			
			// MARGIN
			$(document).on('click', '[form-margin-btn]', function(){
				form.margin($(form.s+' [form-blob]'));
			});
			
			// EMAIL
			$(document).on('click', '[form-email-btn]', function(){
				form.email($(form.s+' [form-blob]'));
				Paperwork.validate($('body .email-parent'), $('body [email-send]'), 'email');
			});
			
			// FORM PUT after 2 seconds after last keyup
			var timer;
			$(document).on('keyup', '[form-blob] [contenteditable]', function(){
				clearTimeout(timer);
				timer = setTimeout(function(){
					form.put({
						url: '{{path.root}}/put/form',
						id: $(form.s).find('[form-blob]').attr('data-formid'),
					});
				}, 2000);
			});
			
			{% include path.load %}
		});
		</script>
	</body>
</html>