<!DOCTYPE html>
<html lang="en">
	<head>
		{% include path.typeahead %}
		{% include path.sweetalert %}
		{% include path.head %}
		<meta name="format-detection" content="telephone=no">
	</head>
	<body>
		{% include path.scaffolding %}
		<div id="content" style="display:none;padding:15px 0px 0px 15px">
			<div style="width:100%">
            	{% include path.flash %}
			</div>
			<div class="tabs">
				<ul class="wrapper">
					<li data-tab="0" id="summarytab" class="tab noselect">Summary</li>
					{% set i = 0 %}
					{% for form in forms %}
						{% set i = i + 1 %}
						<li data-tab="{{i}}" class="tab noselect">{{form.name}}</li>
					{% endfor %}
					{% set i = i + 1 %}
					<li data-tab="{{i}}" heir hidden></li>
					<li data-tab="+" id="newtab" class="tab noselect">+</li>
				</ul>
			</div>
			<div class="obj" style="display:inline-block;margin-bottom:5px">
				<div data-obj="0" id="summary" class="tabobj box material">
					<h3 style="margin-bottom:0">
						<input class="jobName" name="jobName" value="{{job.name}}" placeholder="Job name"/>
						<span class="pull-right" style="color:green">{{job.jobID}}</span>
					</h3>
					<hr>
					<table class="clientdetails">
						<tbody>
							<tr>
								<td>Name</td>
								<td><a href="{{path.root}}/client/{{client.clientID}}" title="{{client.name}}'s Page">{{client.name}}</a></td>
							</tr>
							<tr>
								<td>Address</td>
								<td><a href="http://maps.google.com/?q={{client.address}}" title="Google Maps" target="_blank">{{client.address}}</a></td>
							</tr>
							<tr>
								<td>Phone</td>
								<td><a href="tel:{{client.phone}}" title="Call {{client.name}}">{{client.phone}}</a></td>
							</tr>
							{% if job.date_created != '0000-00-00 00:00:00' %}
							<tr>
								<td>Started</td>
								<td>
									{{job.date_created}}
									{% set difference = date().diff(date(job.date_created)) %}
									{% if difference.days == 1 %}
										 - {{ difference.days }} day ago
									{% elseif difference.days > 1 %}
										 - {{ difference.days }} days ago
									{% endif %}
								</td>
							</tr>
							{% endif %}
							{% if job.date_invoiced != '0000-00-00 00:00:00' %}
							<tr>
								<td>Invoiced</td>
								<td>
									{{job.date_invoiced}}
									 - {% set difference = date().diff(date(job.date_invoiced)) %}
									{% if difference.days == 0 %}
										Today
									{% elseif difference.days == 1 %}
										Yesterday
									{% else %}
										{{difference.days}} days ago
									{% endif %}
									
								</td>
							</tr>
							{% endif %}
							{% if job.date_completed != '0000-00-00 00:00:00' %}
							<tr>
								<td>Closed</td>
								<td>
									{{job.date_completed}}
									 - {% set difference = date().diff(date(job.date_completed)) %}
									{% if difference.days == 0 %}
										Today
									{% elseif difference.days == 1 %}
										Yesterday
									{% else %}
										{{difference.days}} days ago
									{% endif %}
								</td>
							</tr>
							{% endif %}
							<tr>
								<td>Status</td>
								<td>
									<select job-status-select>
										{% for item in status %}
											{% if job.status.name == item.name %}
											<option value="{{item.name}}" selected="selected"/>{{item.name}}</option>
											{% else %}
											<option value="{{item.name}}"/>{{item.name}}</option>
											{% endif %}
										{% endfor %}
									</select>
								</td>
							</tr>
							<tr>
								<td class="token pdf-title" style="vertical-align:top; padding-top:17px">
									
								</td>
								<td style="padding-top:10px">
									<div class="pdf-load"></div>
									<div class="pdf-list"></div>
								</td>
							</tr>
						</tbody>
					</table>
					<div class="wrapper">
						<form method="post" action="{{path.root}}/delete/job" job-del-form>
							<input type="hidden" name="jobID" value="{{jobID}}"/>
						</form>
						<button class="wolfe-btn delete pull-right" job-del-btn>Delete Job</button>
					</div>
				</div>
				{% set i = 0 %}
				{% for a,b in forms %}
					{% set i = i + 1 %}
					<div data-obj="{{i}}" class="tabobj h">
						{% include path.form with {
							formID: a,
							html: b.html
						} %}
					</div>
				{% endfor %}
				{% set i = i + 1 %}
				<div data-obj="{{i}}" heir hidden></div>
				<div data-obj="+" id="newtabscreen" class="tabobj box material h">
					<table style="height:130px" form-templates>
						<tbody>
							<tr>
								{% for a,b in templates %}
								<td style="padding:5px;width:100px">
									<button data-templateid="{{a}}" class="wolfe-btn" href="{{path.root}}/post/form" new-form-btn>{{b.name}}</button>
								</td>
								{% endfor %}
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div note-parent class="box wrapper" style="display:inline-block;vertical-align:top;padding:5px;">
				<div style="color:#7f8c8d">
					<span style="line-height:9pt;font-size:9pt">Notes</span>
				</div>
				<div note-wrapper style="width:250px;min-height:209px;border:1px solid #eee;cursor:text;min-width:30px;" class="wrapper" >
					<div id="notes" style="padding:4px;min-width:30px;min-height:30px;outline:none" contenteditable>{{job.notes | raw}}</div>
				</div>
			</div>
		</div>
		{% include path.js with {
			include: ['Tab', 'typeahead', 'sweetalert', 'interact', 'contextmenu']
		}%}
		<script>
			var environment = {
				jobID: '{{jobID}}',
				clientID: '{{client.clientID}}',
				root: '{{path.root}}'
			};
			var pw	= new Paperwork;
			var tab	= new Tab({
				cookie: {
					name:	'job',
					value:	'{{jobID}}',
				}
			});
		</script>
		<script src="{{path.root}}/services/Form/Painter/{{job.formjs}}"></script>
		<script src="{{path.root}}/services/Form/Form.min.js"></script>
		<script>var form = new Form</script>
		<script>
		$(function(){
			// AJAX CALL FOR PDFS
			pw.wait($('.pdf-load'));
			$.get('{{path.root}}/get/pdf-json/{{jobID}}')
			.done(function(data){
				if(data != '0'){
					$('.pdf-load').remove();
					$('.pdf-title').html('Paper');
					data = JSON.parse(data);
					$.each(data, function(a,b){
						$('.pdf-list').append(
							'<div style="height:24px;line-height:24px">'+
								'<a href="{{path.root}}/get/pdf/{{jobID}}/'+b+'">'+b+'</a>'+
							'</div>'
						);
					});
				}else{
					$('.pdf-load').closest('tr').remove();
				}
			});
			
			// JOB STATUS
			$(document).on('change', '[job-status-select]', function(){
				if($(this).val() != undefined){
					$.post('{{path.root}}/put/job-details', {
						jobID: '{{jobID}}',
						status: $(this).val()
					}).done(function(data){
						if(data != '0'){
							pw.saved();
							if(data == 'Completed'){
								location.reload();
							}
						}
					});
				}
			});
			
			// NOTES FOCUS
			$('[note-wrapper]').on('click', function(){
				$('#notes').focus();
			});
			
			// NOTES CHANGE
			var notes = $('#notes').html();
			$('#notes').on('blur', function(){
				if($(this).html() != notes){
					$.post('{{path.root}}/put/job-details', {
						notes: $(this).html(),
						jobID: '{{job.jobID}}',
					}).done(function(){
						notes = $('#notes').html();
						pw.saved();
					});
				}
			});
			
			// JOB NAME CHANGE
			$('.jobName').change(function(){
				if($('.jobName').val() !=''){
					$.post('{{path.root}}/put/job-details', {
						name: $('.jobName').val(),
						jobID: '{{jobID}}',
					}).done(function(){
						pw.saved();
					});
				}
			});
			
			// JOB DELETE
			$(document).on('click', '[job-del-btn]', function(){
				swal({
					title: 'Are you sure you want to delete this job?',
					text: 'Deleting this job will delete ALL quotes and invoices attached',
					showCancelButton: true,
					closeOnConfirm: true,
				}, function(){
					$('[job-del-form]').submit();
				});
			});
			
			// Right click context menu
			$('.tabs').contextMenu({
				selector: '.tab',
				callback: function(key){
					var item = $(this).attr('data-tab'),
						formID = $('[data-obj="'+item+'"]').find(form.form).attr('data-formid');
					
					if(key != 'cancel' && formID != undefined){
						swal({
							title: 'New Name',
							type: 'input',
							showCancelButton: true,
							closeOnConfirm: false,
							showLoaderOnConfirm: true,
						}, function(name){
							if(name === false){
								return false
							}else if(name === ''){
								swal.showInputError('You need to write something!');
								return false;
							}
							$.post('{{path.root}}/put/rename-form', {
								formID: formID,
								name: name,
							}).done(function(data){
								data = JSON.parse(data);
								if(data.type == 'success'){
									swal({
										title: 'Renamed Form!',
										timer: '1000',
										type: 'success',
										showConfirmButton: false
									});
									$('[data-tab="'+item+'"]').html(data.name);
								}
							});
						});
					}
				},
				items: {
					Rename: {
						name: 'Rename'
					},
					sep: '-',
					cancel: {
						name: 'Cancel'
					}
				}
			});
			
			// FORM.POST()
			$(document).on('click', '[new-form-btn]', function(){
				var button = $(this),
					name = $(this).html();
				
				pw.wait(button);
				form.post({
					url: '{{path.root}}/post/form',
					templateName: name,
					templateID: button.attr('data-templateid'),
					clientID: '{{client.clientID}}',
					jobID: '{{jobID}}',
				}, function(bool){
					if(bool){
						pw.ready(button, name);
						$(form.s).find('[form-blob]').removeClass('form-loading');
					}else{
						//location.reload();
					}
					$(form.s).find('.tt-input').focus();
				});
			});
			
			// FORM.PUT()
			$(document).on('click', '[form-save-btn]', function(){
				var button = $(this);
				
				pw.wait(button);
				form.put({
					url: '{{path.root}}/put/form',
					formID: $(form.s).find('[form-blob]').attr('data-formid'),
				}, function(bool){
					if(bool){
						pw.ready(button, 'SAVE');
						pw.saved();
					}else{
						pw.ready(button, 'SAVE');
						pw.saved('Failed to save');
					}
				});
			});
			
			// FORM.DELETE()
			$(document).on('click', '[form-del-btn]', function(){
				var button = $(this);
				
				pw.wait(button);
				$(form.s+' '+form.form).addClass('form-loading');
				swal({
					title: 'Are you sure you want to delete this?',
					text: 'Deleting this will remove it forever',
					showCancelButton: true,
					closeOnConfirm: true,
				}, function(){
					form.delete({
						url: '{{path.root}}/delete/form',
						formID: $(form.s).find('[form-blob]').attr('data-formid'),
					}, function(){
						var noteposition = $('[note-parent]').position(),
							noteparent = $('[note-parent]').clone(),
							tabID = $('.'+tab.activeTab).attr('data-tab');
						$('[note-parent]').css({
							'position':'absolute',
							'top':noteposition.top,
							'left':noteposition.left
						});
						$(form.s).slideUp('fast', function(){
							$(form.s).remove();
							$('.'+tab.tab+'.'+tab.activeTab).fadeOut('fast', function(){
								tab.activate($('[data-tab="'+tabID+'"]').prev());
								$('[note-parent]').replaceWith(noteparent);
								$('[note-wrapper]').on('click', function(){
									$('#notes').focus();
								});
								$(this).remove();
							});
						});
					});
				});
			});
			
			// PDF
			$(document).on('click', '[form-pdf-btn]', function(){
				var button = $(this),
					html = button.html();
				
				pw.wait(button);
				form.pdf($(form.s).find('[form-blob]'), function(data){
					$(form.s).find('[form-pdf-html]').val(data);
					$(form.s).find('[form-pdf-jobID]').val('{{jobID}}');
					$(form.s).find('[form-pdf-form]').submit();
					window.onfocus = function(){
						pw.ready(button, html);
					};
				});
			});
			
			// COPY
			$(document).on('click', '[form-copy-btn]', function(){
				form.copy($(form.s+' [form-blob]'));
			});
			
			// MARGIN
			$(document).on('click', '[form-margin-btn]', function(){
				form.margin($(form.s+' [form-blob]'));
			});
		});
		</script>
	</body>
</html>