<script src="{{path.root}}/inc/jquery/jquery.2.1.4.js"></script>
<script src="{{path.root}}/services/Paperwork/Paperwork.0.js"></script>

{% for link in include %}
{% if link == 'typeahead' %}
<script src="{{path.root}}/inc/typeahead/typeahead.js"></script>
<script src="{{path.root}}/inc/typeahead/thebasics.js"></script>
<script src="{{path.root}}/services/Typeahead/Typeahead.1.0.js"></script>
{% elseif link == 'areyousure' %}
<script src="{{path.root}}/inc/areyousure/jquery.are-you-sure.js"></script>
{% elseif link == 'sweetalert' %}
<script src="{{path.root}}/inc/sweetalert/sweetalert.min.js"></script>
{% elseif link == 'Tab' %}
<script src="{{path.root}}/services/Tab/Tab.js"></script>
{% elseif link == 'Table' %}
<script src="{{path.root}}/inc/tinysort/tinysort.js"></script>
<script src="{{path.root}}/inc/sortable/sortable.js"></script>
<script src="{{path.root}}/inc/interact/interact.js"></script>
<script src="{{path.root}}/services/Table/Table.js"></script>
{% elseif link == 'interact' %}
<script src="{{path.root}}/inc/interact/interact.js"></script>
{% elseif link == 'contextmenu' %}
<script src="{{path.root}}/inc/contextmenu/jquery.contextMenu.js"></script>
{% elseif link == 'react' %}
<script src="{{path.root}}/inc/react/react.js"></script>
<script src="{{path.root}}/inc/react/react-dom.js"></script>
{% elseif link == 'selection' %}
<script src="{{path.root}}/inc/selection/src/jquery.selection.js"></script>
{% elseif link == 'Validation' %}
<script src="{{path.root}}/services/Validation/Validation.js"></script>
{% endif %}
{% endfor %}