<doc-body data-template="modern">
	<doc-section style="padding-bottom: 10mm;">
		<doc-section class="top-region">
			<doc-part class="centered">
				<doc-text data-property="user-company" class="h3">
					Your Company Name
				</doc-text>
			</doc-part>
		</doc-section>
	</doc-section>
	<doc-section style="padding-bottom: 10mm;">
		<doc-section class="header">
			<doc-section class="table">
				<doc-part style="vertical-align: middle;">
					<doc-text data-aspect="name" data-property="text_colour" class="h1">
						DOCUMENT
					</doc-text>
				</doc-part>
				<doc-part class="smaller">
					<doc-text style="font-weight: 600;padding-bottom: 5px;">
						To:
					</doc-text>
					<doc-text data-aspect="client-name">
						Client Name
					</doc-text>
					<doc-text data-aspect="client-address">
						Client Address
					</doc-text>
				</doc-part>
				<doc-part class="smaller">
					<doc-text style="font-weight: 600;padding-bottom: 5px;">
						From:
					</doc-text>
					<doc-text data-property="user-name">
						Your Name
					</doc-text>
					<doc-text data-property="user-address">
						Your Address
					</doc-text>
				</doc-part>
				<doc-part class="smaller">
					<doc-text data-property="user-phone" style="padding-top: 22px;">
						Phone Number
					</doc-text>
					<doc-text data-property="user-email">
						your@email.com
					</doc-text>
				</doc-part>
			</doc-section>
		</doc-section>
	</doc-section>
	<doc-section>
		<doc-section class="middle-region">
			<doc-section>
				<doc-part>
					<doc-text>
						Invoice ID
					</doc-text>
				</doc-part>
				<doc-part>
					<doc-text data-aspect="reference">
						0000
					</doc-text>
				</doc-part>
			</doc-section>
			<doc-section>
				<doc-part>
					<doc-text>
						Date
					</doc-text>
				</doc-part>
				<doc-part>
					<doc-text data-aspect="date">
						00/00/0000
					</doc-text>
				</doc-part>
			</doc-section>
			<doc-section>
				<doc-part>
					<doc-text>
						Tax Number
					</doc-text>
				</doc-part>
				<doc-part>
					<doc-text data-property="tax_number">
						000-000-000
					</doc-text>
				</doc-part>
			</doc-section>
		</doc-section>
	</doc-section>
	<doc-section>
		<doc-part>
			<doc-part>
				<doc-text style="font-weight: 600;font-size: 12px;">
					DESCRIPTION:
				</doc-text>
			</doc-part>
			<doc-part>
				<doc-text data-aspect="description" class="pad" style="min-height: 24px;padding-left: 0;padding-right: 0;"></doc-text>
			</doc-part>
		</doc-part>
	</doc-section>
	<doc-section class="inventory" data-type="inventory" style="padding-bottom: 15px;">
		<doc-section class="inventory-head">
			<doc-part>
				<doc-text>
					ITEM DESCRIPTION
				</doc-text>
			</doc-part>
			<doc-part>
				<doc-text>
					QUANTITY
				</doc-text>
			</doc-part>
			<doc-part>
				<doc-text>
					UNIT PRICE
				</doc-text>
			</doc-part>
			<doc-part>
				<doc-text>
					TOTAL
				</doc-text>
			</doc-part>
		</doc-section>
		<doc-section data-type="inventory-input">
		</doc-section>
		<doc-section data-type="inventory-content">
		</doc-section>
	</doc-section>
	<doc-section style="padding-bottom: 15px;">
		<doc-section class="bottom-region">
			<doc-part class="bottom-left">
			</doc-part>
			<doc-part class="bottom-right">
				<doc-table class="document-total">
					<doc-row>
						<doc-col>
							<doc-text>
								Sub Total
							</doc-text>
						</doc-col>
						<doc-col>
							<doc-text data-aspect="subtotal">
								[sub-total]
							</doc-text>
						</doc-col>
					</doc-row>
					<doc-row>
						<doc-col>
							<doc-text>
								GST
							</doc-text>
						</doc-col>
						<doc-col>
							<doc-text data-aspect="tax">
								[tax]
							</doc-text>
						</doc-col>
					</doc-row>
					<doc-row>
						<doc-col>
							<doc-text>
								TOTAL TO PAY
							</doc-text>
						</doc-col>
						<doc-col>
							<doc-text data-aspect="total" data-property="text_colour">
								[total]
							</doc-text>
						</doc-col>
					</doc-row>
				</doc-table>
			</doc-part>
		</doc-section>
	</doc-section>
	<doc-section style="padding-bottom: 15px;">
		<doc-part>
			<doc-part>
				<doc-text style="font-weight: 600;font-size: 12px;padding-left: 6px;">
					NOTES:
				</doc-text>
			</doc-part>
			<doc-part>
				<doc-text data-property="notes" class="pad" style="min-height: 24px;">Notes</doc-text>
			</doc-part>
		</doc-part>
	</doc-section>
	<doc-section style="padding-bottom: 15px;">
		<doc-part>
			<doc-part>
				<doc-text style="font-weight: 600;font-size: 12px;padding-left: 6px;">
					TERMS AND CONDITIONS:
				</doc-text>
			</doc-part>
			<doc-part>
				<doc-text data-property="terms" class="pad" style="min-height: 24px;">Terms and Conditions</doc-text>
			</doc-part>
		</doc-part>
	</doc-section>
</doc-body><link rel="stylesheet" type="text/css" href="/../../../../public/css/library/Paperwork.css"><link rel="stylesheet" type="text/css" href="inline/css/modern.css">