<doc-body data-template="traditional">
	<doc-section>
		<doc-section class="top-region">
			<doc-part class="top-left">
				<doc-part>
					<doc-text data-property="user-company" class="h2" style="padding-bottom: 0;">
						Your Company Name
					</doc-text>
				</doc-part>
			</doc-part>
			<doc-part class="document-type">
				<doc-part>
					<doc-text data-aspect="name" data-property="text_colour" class="h2" style="padding-bottom: 0;">
						DOCUMENT
					</doc-text>
				</doc-part>
			</doc-part>
		</doc-section>
	</doc-section>
	<doc-section>
		<doc-section class="middle-region">
			<doc-part class="middle-left">
				<doc-text data-property="user-name">Your Name</doc-text>
				<doc-text data-property="user-phone">Phone Number</doc-text>
				<doc-text data-property="user-address">Your Address</doc-text>
				<doc-text data-property="user-email">your@email.com</doc-text>
			</doc-part>
			<doc-part class="middle-right">
				<doc-table class="detail">
					<doc-row>
						<doc-col>
							<doc-text>
								Date
							</doc-text>
						</doc-col>
						<doc-col>
							<doc-text data-aspect="date">
								00/00/0000
							</doc-text>
						</doc-col>
					</doc-row>
					<doc-row>
						<doc-col>
							<doc-text>
								Reference#
							</doc-text>
						</doc-col>
						<doc-col>
							<doc-text data-aspect="reference">
								0000
							</doc-text>
						</doc-col>
					</doc-row>
					<doc-row>
						<doc-col>
							<doc-text>
								GST#
							</doc-text>
						</doc-col>
						<doc-col>
							<doc-text data-property="tax_number">
								000-000-000
							</doc-text>
						</doc-col>
					</doc-row>
				</doc-table>
			</doc-part>
		</doc-section>
	</doc-section>
	<doc-section>
		<doc-part>
			<doc-part style="width: 50%;" data-property="background_colour">
				<doc-text class="heading">
					CUSTOMER
				</doc-text>
			</doc-part>
			<doc-part class="heading-text pad" style="width: 50%;text-align: center;">
				<doc-text data-aspect="client-name">Client Name</doc-text>
				<doc-text data-aspect="client-address">Client Address</doc-text>
			</doc-part>
		</doc-part>
	</doc-section>
	<doc-section>
		<doc-part>
			<doc-part data-property="background_colour">
				<doc-text class="heading">
					JOB DESCRIPTION
				</doc-text>
			</doc-part>
			<doc-part class="heading-text">
				<doc-text class="pad" data-aspect="description">
				</doc-text>
			</doc-part>
		</doc-part>
	</doc-section>
	<doc-section class="inventory" data-type="inventory">
		<doc-section class="inventory-head" data-property="background_colour">
			<doc-part>
				<doc-text>
					ITEM
				</doc-text>
			</doc-part>
			<doc-part>
				<doc-text>
					QTY
				</doc-text>
			</doc-part>
			<doc-part>
				<doc-text>
					PRICE
				</doc-text>
			</doc-part>
			<doc-part>
				<doc-text>
					TOTAL
				</doc-text>
			</doc-part>
		</doc-section>
		<doc-section data-type="inventory-input">
		</doc-section>
		<doc-section data-type="inventory-content">
		</doc-section>
	</doc-section>
	<doc-section class="bottom">
		<doc-section class="bottom-left">
			<doc-part>
				<doc-text data-property="notes" class="bank">Notes</doc-text>
			</doc-part>
			<doc-part style="font-size: 11px;page-break-inside: avoid!important;">
				<doc-part class="heading" data-property="background_colour">
					<doc-text>
						TERMS & CONDITIONS
					</doc-text>
				</doc-part>
				<doc-part class="heading-text">
					<doc-text class="pad" data-property="terms">Terms and Conditions</doc-text>
				</doc-part>
			</doc-part>
		</doc-section>
		<doc-section class="bottom-right">
			<doc-table class="document-total">
				<doc-row>
					<doc-col>
						<doc-text>
							Sub Total
						</doc-text>
					</doc-col>
					<doc-col>
						<doc-text data-aspect="subtotal">
							[sub-total]
						</doc-text>
					</doc-col>
				</doc-row>
				<doc-row>
					<doc-col>
						<doc-text>
							GST
						</doc-text>
					</doc-col>
					<doc-col>
						<doc-text data-aspect="tax">
							[tax]
						</doc-text>
					</doc-col>
				</doc-row>
				<doc-row>
					<doc-col data-property="background_colour">
						<doc-text>
							TOTAL TO PAY
						</doc-text>
					</doc-col>
					<doc-col>
						<doc-text data-aspect="total">
							[total]
						</doc-text>
					</doc-col>
				</doc-row>
			</doc-table>
		</doc-section>
	</doc-section>
</doc-body><link rel="stylesheet" type="text/css" href="/../../../../public/css/library/Paperwork.css"><link rel="stylesheet" type="text/css" href="inline/css/logan.css">