// 
// 
// Transitions
@mixin transition($transition) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin transition-property($property) {
    -moz-transition-property:    $property;
    -o-transition-property:      $property;
    -webkit-transition-property: $property;
    transition-property:         $property;
}

@mixin transition-duration($duration) {
    -moz-transition-property:    $duration;
    -o-transition-property:      $duration;
    -webkit-transition-property: $duration;
    transition-property:         $duration;
}

@mixin transition-timing-function($timing) {
    -moz-transition-timing-function:    $timing;
    -o-transition-timing-function:      $timing;
    -webkit-transition-timing-function: $timing;
    transition-timing-function:         $timing;
}

@mixin transition-delay($delay) {
    -moz-transition-delay:    $delay;
    -o-transition-delay:      $delay;
    -webkit-transition-delay: $delay;
    transition-delay:         $delay;
}

@mixin border-radius($property) {
    -webkit-border-radius: $property;
	-moz-border-radius: $property;
    -ms-border-radius: $property;
    border-radius: $property;
}

@mixin appearance($property) {
    -webkit-appearance: $property;
	-moz-appearance: $property;
}

// 
// 
// Media queries
$break: 800px;

@mixin mobile {
    @media (max-width: #{$break} - 1px) {
        @content;
    }
}

@mixin size($size) {
    @media (max-width: #{$size} - 1px) {
        @content;
    }
}

//
//
// No select
@mixin select($property) {
    -webkit-touch-callout: $property; /* iOS Safari */
	-webkit-user-select: $property;   /* Chrome/Safari/Opera */
	-khtml-user-select: $property;    /* Konqueror */
	-moz-user-select: $property;      /* Firefox */
	-ms-user-select: $property;       /* IE/Edge */
	user-select: $property;
}