<part data-type="tab-container" class="tabs">
	<ul class="wrap box-std">
		<li data-type="tab" data-id="0" class="tab">SQL</li>
		<li data-type="tab" data-id="1" class="tab">UAC</li>
		<li data-type="tab" data-id="2" class="tab">Toggles</li>
		<li data-type="tab" data-id="3" class="tab">Backup</li>
		<li data-type="tab" data-id="4" class="tab">Tour</li>
		<li data-type="tab" data-id="5" class="tab">Templates</li>
	</ul>
</part>
<part data-type="obj-container" class="obj">
	<box data-type="obj" data-id="0" class="tabobj box-std">
		<part class="wrap container">
			<input type="text" class="prompt" placeholder="SQL" />
		</part>
		<part class="wrap container-bottom">
			<a event class="left" style="cursor: pointer">Events</a>
			<a clear-event class="right" style="cursor: pointer;">Clear events</a>
		</part>
		<part class="output" style="display: none;">
			<hr>
			<part class="container">
				<div insights>
				</div>
			</part>
			<hr>
			<part class="container">
				<div console>
				</div>
			</part>
		</part>
	</box>
	<box data-type="obj" data-id="1" class="tabobj box-std">
		<part class="wrap container" data-validate="on">
			<div class="h3 title">
				Generate Password
			</div>
			<input type="text" class="left" pw style="height: 37px;" required>
			<button pw-get class="button left" style="margin-left: 5px;">GET</button>
		</part>
		<part class="container">
			<div pw-console>
			</div>
		</part>
	</box>
	<box data-type="obj" data-id="2" class="tabobj box-std">
		<part class="container" style="padding: 30px 15px;">
			<table class="toggle-table">
				<tbody>
					{% for a, b in environment %}
					<tr>
						<td>{{a}}</td>
						<td>
							{% if b %}
							<img src="{{environment.root}}/css/media/toggle-on.png" data-name="{{a}}" data-value="{{b}}" height="26" />
							{% else %}
							<img src="{{environment.root}}/css/media/toggle-off.png" data-name="{{a}}" data-value="{{b}}" height="26" />
							{% endif %}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</part>
	</box>
	<box data-type="obj" data-id="3" class="tabobj box-std">
		<part class="container" style="padding: 30px 15px;">
			<button pw-backup class="button">
				BACKUP
			</button>
			<div backup-console class="container-top" style="padding-left: 0;padding-right: 0;">
			</div>
		</part>
	</box>
	<box data-type="obj" data-id="4" class="tabobj box-std">
		<part class="container" style="padding: 30px;">
			<table class="new-tour" data-validate="on">
				<tbody>
					<tr>
						<td>user_id</td>
						<td><input type="text" name="user_id" placeholder="1,2,3 || All, all, *" required></td>
					</tr>
					<tr>
						<td>Text</td>
						<td><input type="text" name="text" placeholder="What arm thing homie?" required></td>
					</tr>
					<tr>
						<td>Page</td>
						<td><input type="text" name="page" placeholder="jobs" required></td>
					</tr>
					<tr>
						<td>Anchor</td>
						<td><input type="text" name="anchor" placeholder=".box" required></td>
					</tr>
					<tr>
						<td>Position</td>
						<td><input type="text" name="position" placeholder="right-center"></td>
					</tr>
					<tr>
						<td style="vertical-align: top;line-height: 20px;">Commands</td>
						<td>
							<part>
								<part>
									{
								</part>
								<part class="commands">
									<div class="new-command wrap">
										<select style="width: 100%;">
											<option>
												
											</option>
										</select>
									</div>
								</part>
								<part>
									}
								</part>
							</part>
						</td>
					</tr>
					<tr>
						<td></td>
						<td style="height:40px">
							<button class="button tour-post" style="margin-top:3px">POST</button>
						</td>
					</tr>
				</tbody>
			</table>
		</part>
	</box>
	<box data-type="obj" data-id="5" class="tabobj" style="width: 710px;">
		<part class="container" style="padding: 30px;">
			{% include 'other/templates/parts/style.html' %}
			{% include 'other/templates/form_1.html' %}
		</part>
		<hr>
		<part class="container wrap">
			<button class="button right">PUBLISH</button>
		</part>
	</box>
</part>