<box class="box-std">
	<part class="container-top">
		<div class="h3 title">
			Your 14 day trial has expired
		</div>
		<div>
			<p>
				Thank you for trying Paperwork. You have already helped us 
				deliver a better product!
			</p>
			<p>
				If you think Paperwork is right for your business, start your 
				subscription below. You can cancel or pause this subscription 
				at any time.
			</p>
			<p>
				<b>Note:</b> You are paying $56.35 ($49 + GST(15%))
			</p>
		</div>
		<div style="padding-top: 15px;">
			We accept the following payment options:
			<div style="display: inline-block;">
				<!--<img alt="Paypal" title="Paypal" src="{{environment.root}}/css/media/paypal_account.png" width="40px">-->
				<img alt="Visa" title="Visa" src="{{environment.root}}/css/media/visa.png" width="40px">
				<img alt="Mastercard" title="Mastercard" src="{{environment.root}}/css/media/mastercard.png" width="40px">
			</div>
		</div>
	</part>
	<part class="container wrap">
		<form action="{{environment.root}}/post/pay" method="post" class="wrap">
			<div id="braintree" class="container" style="padding-left: 0;padding-right: 0;">
				<div id="braintree-loading" class="centered">
					<img src="{{environment.root}}/css/media/plane.gif" width="200px" />
				</div>
			</div>
			<button class="button right">Start my subscription</button>
		</form>
		<div class="wrap" style="padding-top: 5px;">
			<button data-type="cancel" class="button blue right">CANCEL</button>
		</div>
	</part>
</box>
<script src="https://js.braintreegateway.com/js/braintree-2.26.0.min.js"></script>