<box class="box-std">
	<part class="container-top">
		<div class="h3 title">
			Your 14 day trial is up
		</div>
		<div>
			<p>
				If you think your business is better off with Paperwork, start your subscription below!
			</p>
			<p style="font-size: 12px;">
				We trust Braintree, a PayPal company, with our credit transactions. You can cancel or pause this subscription at any time.
			</p>
		</div>
		<div style="padding-top: 15px;">
			We accept the following payment options:
			<div style="display: inline-block;">
				<!--<img alt="Paypal" title="Paypal" src="{{environment.root}}/css/media/paypal_account.png" width="40px">-->
				<img alt="Visa" data-title="Visa" src="{{environment.root}}/css/media/visa.png" width="40px">
				<img alt="Mastercard" data-title="Mastercard" src="{{environment.root}}/css/media/mastercard.png" width="40px">
			</div>
		</div>
	</part>
	<part class="container wrap">
		<form action="{{environment.root}}/post/pay" method="post" class="wrap">
			<div id="braintree" class="container" style="padding-left: 0;padding-right: 0;">
				<div id="braintree-loading" class="centered">
					<img src="{{environment.root}}/css/media/plane.gif" width="200px" />
				</div>
			</div>
			<p><b>Note:</b> You are paying NZD $5</p>
			<button class="button right">Start my subscription</button>
		</form>
		<div class="wrap" style="padding-top: 5px;">
			<button data-type="cancel" class="button blue right">LOG OUT</button>
		</div>
	</part>
</box>
<script src="https://js.braintreegateway.com/js/braintree-2.26.0.min.js"></script>