<box class="box-std">
	<part class="container top">
		<div class="h4 title centered create-new noselect">
			New Client
		</div>
		<div id="new-content" class="container-bottom" style="display: none;padding: 0 0 15px;">
			<table class="central" data-validate="on">
				<tbody>
					<tr>
						<td class="ar">
							Full name
						</td>
						<td>
							<input type="text" name="name" autocomplete="off" required>
						</td>
					</tr>
					<tr>
						<td></td>
						<td>
							<button class="button" data-type="new-client">Create</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</part>
	<hr>
	<part class="container" style="padding: 15px 0px;">
		<div id="the-basics" style="display: none;">
			<input type="text" class="typeahead" placeholder="Quick Search" autocomplete="off">
		</div>
	</part>
</box>