<part data-type="tab-container" class="tabs">
	<ul class="wrap box-std">
		<li data-type="tab" data-id="0" class="tab">Client</li>
		{% if modules.client.data.jobs %}
			<li data-type="tab" data-id="1" class="tab">Jobs</li>
		{% endif %}
	</ul>
</part>
<part data-type="obj-container" class="obj">
	<box data-type="obj" data-id="0" class="tabobj box-std">
		<part class="container">
			<part class="header">
				
				<part class="client-name">
					<input type="text" data-type="name" value="{{modules.client.data.client.name}}" placeholder="{{modules.client.data.client.name}}" autocomplete="off">
				</part>
				<part class="new-job">
					<button class="button">
						New Job
					</button>
				</part>
			</part>
		</part>
		<part class="container-mid">
			<table class="client-details">
				<tbody>
					<tr>
						<td>Email</td>
						<td>
							<input type="text" data-type="email" value="{{modules.client.data.client.email}}" placeholder="..." autocomplete="off">
						</td>
					</tr>
					<tr>
						<td>Phone</td>
						<td>
							<input type="text" data-type="phone" value="{{modules.client.data.client.phone}}" placeholder="..." autocomplete="off">
						</td>
					</tr>
					<tr>
						<td style="vertical-align: top;padding-top: 9px;">Address</td>
						<td>
							<div contenteditable="true" data-type="address">
								{{modules.client.data.client.address | raw}}
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</part>
		<part class="container">
			<part class="footer">
				<part class="email-link">
					<a style="padding-left: 4px" data-type="email-button">
						Email {{modules.client.data.client.name}}
					</a>
				</part>
				<part class="delete-button">
					<form name="delete" method="post" action="{{environment.root}}/delete/client">
						<input type="hidden" name="id" value="{{modules.client.data.client.id}}" />
					</form>
					<button type="submit" class="button delete">
						Delete Client
					</button>
				</part>
			</part>
		</part>
		<hr>
		<part class="container">
			<div style="color: #7f8c8d">
				Notes
			</div>
			<part data-type="notes" class="notes" contenteditable="true">
				{{modules.client.data.client.notes | raw}}
			</textarea>
		</part>
	</box>
	{% if modules.client.data.jobs %}
	<box data-type="obj" data-id="1" class="tabobj box-std">
		<part class="container">
			{% include path.html.table with {
				data: modules.client.data.jobs,
				head: {
					id: '_id',
					job_number: 'ID',
					name: 'Name',
					'client.name': 'Client',
					'job_status.name': 'Status',
				},
				status: modules.client.data.status,
			}%}
		</part>
	</box>
	{% endif %}
</part>