<link rel="stylesheet" type="text/css" href="{{environment.root}}/css/library/{{path.css.library.Document}}">
<section class="job-parent">
	<part class="job-content">
		<part data-type="tab-container" class="tabs-job">
			<ul class="wrap box-document">
				<li data-type="tab" data-id="0" class="tab">Job</li>
				{% set i = 0 %}
				{% for document in modules.job.data.documents %}
					{% set i = i + 1 %}
					<li data-type="tab" data-id="{{i}}" class="tab">{{document.name}}</li>
				{% endfor %}
				{% set i = i + 1 %}
				<li data-type="tab" data-id="+" class="tab">+</li>
			</ul>
		</part>
		<part data-type="obj-container" class="obj-job">
			<box data-type="obj" data-id="0" class="tabobj box-document">
				<part class="container">
					<part class="header">
						<part class="name-block">
							<input type="text" class="job-name" name="job-name" value="{{modules.job.data.job.name}}" placeholder="Job name" autocomplete="off">
						</part>
						<part class="status-block">
							<select class="status right" data-type="status">
								{% for status in modules.job.data.status %}
									{% if modules.job.data.job.job_status.name == status.name %}
									<option value="{{status.name}}" selected="selected">{{status.name}}</option>
									{% else %}
									<option value="{{status.name}}">{{status.name}}</option>
									{% endif %}
								{% endfor %}
							</select>
						</part>
					</part>
				</part>
				<hr>
				<part class="container-top">
					<table class="client-details">
						<tbody>
							<tr>
								<td>Job</td>
								<td>#{{modules.job.data.job.job_number}}</td>
							</tr>
							<tr>
								<td>Client</td>
								<td><a data-type="client" data-title="Open {{modules.job.data.client.name}}'s page">{{modules.job.data.client.name}}</a></td>
							</tr>
							{% if modules.job.data.client.email %}
							<tr>
								<td>Email</td>
								<td><a data-type="email" data-title="Open a new email" target="_blank">{{modules.job.data.client.email}}</a></td>
							</tr>
							{% endif %}
							{% if client.address %}
							<tr>
								<td>Address</td>
								<td><a href="http://maps.google.com/?q={{client.address}}" data-title="Google Maps" target="_blank">{{client.address}}</a></td>
							</tr>
							{% endif %}
							{% if client.phone %}
							<tr>
								<td>Phone</td>
								<td><a href="tel:{{client.phone}}" data-title="Call {{modules.job.data.client.name}}">{{client.phone}}</a></td>
							</tr>
							{% endif %}
							{% if modules.job.data.job.date_created %}
							<tr>
								<td>Started</td>
								<td><span data-title="Job started at {{modules.job.data.job.date_created}}">{{modules.job.data.job.date_created_pretty}}</span></td>
							</tr>
							{% endif %}
							{% if modules.job.data.job.date_invoiced %}
							<tr>
								<td>Invoiced</td>
								<td><span data-title="Invoiced at {{modules.job.data.job.date_invoiced}}">{{modules.job.data.job.date_invoiced_pretty}}</span></td>
							</tr>
							{% endif %}
							{% if modules.job.data.job.date_completed %}
							<tr>
								<td>Closed</td>
								<td><span data-title="Closed at {{modules.job.data.job.date_completed}}">{{modules.job.data.job.date_completed_pretty}}</span></td>
							</tr>
							{% endif %}
							<tr>
								<td class="token pdf-title" style="vertical-align: top;padding-top: 9px;"></td>
								<td>
									<div class="pdf-load"></div>
									<div class="pdf-list"></div>
								</td>
							</tr>
						</tbody>
					</table>
				</part>
				<part class="container-bottom wrap delete-container">
					<form method="post" action="{{environment.root}}/delete/job" data-type="delete-job">
						<input type="hidden" name="id" value="{{modules.job.data.job.id}}">
					</form>
					<button class="button delete right" data-type="job-delete-button">Delete Job</button>
				</part>
			</box>
			{% set i = 0 %}
			{% for document in modules.job.data.documents %}
				{% set i = i + 1 %}
				<part data-type="obj" data-id="{{i}}" class="tabobj box-document">
					{% include path.html.document with {
						document: document,
					} %}
				</part>
			{% endfor %}
			{% set i = i + 1 %}
			<box data-type="obj" data-id="+" class="tabobj box-document">
				<part class="container">
					{% for template in modules.job.data.templates %}
					<div class="new-document" data-type="new-document" data-template-id="{{template.id}}">
						{{template.name}}
					</div>
					{% endfor %}
				</part>
			</box>
		</part>
	</part>
	<part class="note-content">
		<box class="notes">
			<part style="padding: 5px;">
				<div class="notes-label">
					Notes
				</div>
				<div class="note-wrap wrap">
					<div class="notepad" contenteditable>
						{{modules.job.data.job.notes | raw}}
					</div>
				</div>
			</part>
		</box>
	</part>
</section>
<script>
var job = {
	tax: {{user.tax}},
	job_id: {{modules.job.data.job.id}},
	job_number: {{modules.job.data.job.job_number}},
	client_id: {{modules.job.data.client.id}},
	client_number: {{modules.job.data.client.client_number}},
	client_name: '{{modules.job.data.client.name}}',
	client_email: '{{modules.job.data.client.email}}',
};
var templates = {
	{% for a, b in modules.job.data.templates %}'{{a}}': {{b.id}},{% endfor %}
};
</script>