<link rel="stylesheet" type="text/css" href="{{environment.root}}/css/library/{{path.css.library.Document}}">
<part class="template-parent">
	<part>
		<part data-type="tab-container" class="tabs">
			<ul class="wrap">
				{% set i = 0 %}
				{% for template in modules.template.data.templates %}
					<li data-type="tab" data-id="{{i}}" class="tab">{{template.name}}</li>
					{% set i = i + 1 %}
				{% endfor %}
				<li data-type="tab" data-id="+" class="tab">+</li>
			</ul>
		</part>
		<part data-type="obj-container" class="obj">
			{% set i = 0 %}
			{% for template in modules.template.data.templates %}
				<box data-type="obj" data-id="{{i}}" data-template-id="{{template.id}}" class="tabobj">
					<div class="template-container">
						<div class="container">
							<input type="text" class="template-name" data-type="template-name" placeholder="Template name" value="{{template.name}}" required>
						</div>
						<hr>
						<div class="document-owner">
							<div data-type="document" data-id="{{i}}" class="template-document" style="opacity: 0.25;padding: 10mm 0;overflow: auto;">
								{{template.body | raw}}
							</div>
							<div data-type="template-hud" class="template-hud">
								<div class="play-container" style="padding-right: 50mm;">
									<div data-type="previous" class="play-padding">
										<div class="play-left"></div>
									</div>
								</div>
								<div class="play-container" style="padding-left: 50mm;">
									<div data-type="next" class="play-padding">
										<div class="play-right"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</box>
				{% set i = i + 1 %}
			{% endfor %}
			<box data-type="obj" data-id="+" class="tabobj">
				<div class="new-template" data-validate="on">
					<div class="container wrap">
						<div class="centered">
							<input type="text" data-type="new-template-name" class="new-template-name" placeholder="New template name" required>
						</div>
					</div>
					<hr>
					<div class="container centered">
						<button data-type="template-create" class="button">CREATE</button>
					</div>
				</div>
			</box>
		</part>
	</part>
	<part>
		<box class="template-properties container">
			<div data-type="properties">
				{% for a, b in modules.template.data.properties %}
				<row data-type="row">
					<column data-type="key">
						{{a}}
					</column>
					<column data-type="{{a}}">
						{% if a == 'image' %}
							<input type="file">
						{% elseif a == 'image_size' %}
							<div class="image-size">
								<div class="prop" contenteditable>
									{{b | raw}}
								</div>
								<input type="range" value="{{b}}">
							</div>
						{% else %}
							<div class="prop" contenteditable>
								{{b | raw}}
							</div>
							{% if 'colour' in a %}
								<div class="color-palette"></div>
							{% endif %}
						{% endif %}
					</column>
				</row>
				{% endfor %}
			</div>
		</box>
	</part>
</part>