<footer>
	<div class="footer">
		<nav>
			<ul class="footer-col">
				<li class="footer-col-head">Company</li>
				<li><a href="{{environment.root}}/about">About us</a></li>
				<li><a href="{{environment.root}}/privacy-policy">Privacy Policy</a></li>
			</ul>
			<ul class="footer-col">
				<li class="footer-col-head">Product</li>
				<li><a href="{{environment.root}}/features">Features</a></li>
				<li><a href="{{environment.root}}/pricing">Pricing</a></li>
			</ul>
			<ul class="footer-col">
				<li class="footer-col-head">Contact us</li>
				<li><a href="https://www.facebook.com/paperworkapp" target="_blank">Facebook</a></li>
				<li><a href="https://twitter.com/Paperworknz" target="_blank">Twitter</a></li>
			</ul>
			<div>
				<div style="font-size: 12px;">
					<p>
						© PAPERWORK NEW ZEALAND LIMITED<br>
						<a href="{{environment.root}}">{{environment.root}}</a><br>
					</p>
				</div>
			</div>
		</nav>
	</div>
</footer>