<footer>
	<div class="centered">
		<div>
			<a href="https://www.facebook.com/paperworkapp" target="_blank" title="Our Facebook Page">
				<img class="fb" src="{{environment.root}}/css/media/icon/facebook/png/FB-f-Logo__blue_29.png">
			</a>
		</div>
		<div style="padding: 15px 0px;">
			<a href="{{environment.root}}/privacy-policy">Privacy Policy</a>
			<div style="padding-top: 15px;font-size: 12px;">
				<p>
					Paperwork New Zealand Limited<br>
					<a href="{{environment.root}}">{{environment.root}}</a><br>
					105 Swamp Road, Kapiti Coast<br>
					hello@paperwork.nz
				</p>
			</div>
		</div>
	</div>
</footer>