<part class="wrap form">
	<box class="container" style="background-color: white;padding: 30px;">
		<div data-formid="{{id}}" style="pointer-events: none;opacity: 0.25" form-blob>
			{{ html | raw }}
		</div>
	</box>
	<part class="form-settings">
		<part class="wrap">
			<box class="left">
				<part class="container centered" style="width: 100px;">
					<button class="button" href="{{environment.root}}/put/form" form-save-btn>SAVE</button>
				</part>
			</box>
			<box class="left">
				<part class="container centered" style="width:100px;">
					<form method="post" action="{{environment.root}}/post/pdf" form-pdf-form>
						<input type="hidden" name="job_number" value="{{modules.job.data.job.job_number}}" form-pdf-job_number />
						<input type="hidden" name="name" form-pdf-name />
						<input type="hidden" name="html" form-pdf-html/>
					</form>
					<button class="button blue" type="submit" form-pdf-btn>PDF</button>
				</part>
			</box>
			<box class="left">
				<part class="container centered" style="width:125px;">
					<button class="button blue" data-button-state="off" form-margin-btn>MARGIN</button>
				</part>
			</box>
			<box class="left">
				<part class="container centered" style="width:140px;">
					<button class="button blue" data-button-state="off" form-copy-btn>MAKE COPY</button>
				</part>
			</box>
			{% if modules.job.data.email %}
			<box class="left">
				<part class="container centered" style="width:105px;">
					<form method="post" action="{{environment.root}}/post/pdf" form-email-form>
						<input type="hidden" name="data" value="" form-email-data/>
						<input type="hidden" name="id" value="{{modules.job.data.job.id}}" />
						<input type="hidden" name="name" />
						<input type="hidden" name="email" value="true" />
					</form>
					<button class="button blue" data-button-state="off" form-email-btn>EMAIL</button>
				</part>
			</box>
			{% endif %}
			<box style="right: 0;position: absolute;">
				<part class="container centered">
					<button class="button delete" href="{{environment.root}}/delete/form" form-del-btn>DELETE</button>
				</part>
			</box>
		</part>
	</part>
</part>