<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="date" content="{{date}}">
<title>Paperwork</title>
<link rel="icon" type="image/x-icon" href="{{environment.root}}/favicon.ico">
<link rel="stylesheet" type="text/css" href="{{environment.root}}/css/library/{{path.css.library.Paperwork}}">
<link rel="stylesheet" type="text/css" href="{{environment.root}}/css/3rd/sweetalert.css">

{% if path.css.views[environment.page] %}
<link rel="stylesheet" type="text/css" href="{{environment.root}}/css/views/{{path.css.views[environment.page]}}">
{% endif %}

{% for name, value in modules %}
{% if path.css.modules[name] %}
<link rel="stylesheet" type="text/css" href="{{environment.root}}/css/modules/{{path.css.modules[name]}}">
{% endif %}
{% endfor %}
{% if environment.mode == 'dev' %}
<style>#sidebar {color:yellow}</style>
{% endif %}