<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="format-detection" content="telephone=no">
<meta name="date" content="{{date}}">
<title>Paperwork</title>
<link rel="icon" type="image/x-icon" href="{{environment.root}}/favicon.ico">
<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans:300,400'>
<link rel="stylesheet" type="text/css" href="{{environment.root}}/css/library/{{path.css.library.Public}}">
<link rel="stylesheet" type="text/css" href="{{environment.root}}/css/3rd/sweetalert.css">
{% if path.css.views[environment.page] %}
<link rel="stylesheet" type="text/css" href="{{environment.root}}/css/views/{{path.css.views[environment.page]}}">
{% endif %}