<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="date" content="{{date}}">
<title>Paperwork</title>
<link rel="icon" type="image/x-icon" href="{{path.root}}/favicon.ico" />

<!-- Page stylesheets -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{{path.root}}/css/library/{{path.public_css}}" />

<!-- JS error -->
<script>
	window.onerror = function(message, url, line, column, error){
		$.post('{{path.root}}/post/error', {
			message: message,
			url: url,
			line: line,
			column: column,
			error: error,
		});
	};
</script>