<header>
	<section class="width">
		<div class="nav">
			<div class="major_title logo">
				<a href="{{environment.root}}" title="Paperwork" itemprop="name">Paperwork</a>
				<div class="thumb">
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div>
			<ul class="nav_list wrap">
				<li>
					<a href="{{environment.root}}/features">Features</a>
				</li>
				<li>
					<a href="{{environment.root}}/pricing">Pricing</a>
				</li>
				<li>
					<a href="{{environment.root}}/about">About us</a>
				</li>
				<li>
					<a href="{{environment.root}}/login">Log In</a>
				</li>
				<li class="special">
					<a href="{{environment.root}}/register">Sign Up</a>
				</li>
			</ul>
		</div>
	</section>
</header>