<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="date" content="{{date}}">
<title>Paperwork</title>
<link rel="icon" type="image/x-icon" href="{{path.root}}/favicon.ico" />

<!-- Page stylesheets -->
<link rel="stylesheet" type="text/css" href="{{path.root}}/css/library/{{path.paperwork_css}}" />
<link rel="stylesheet" type="text/css" href="{{path.root}}/css/views/{{path.page_css}}" />
<link rel="stylesheet" type="text/css" href="{{path.root}}/css/3rd/sweetalert.css" />
{% if state == 'dev' %}
<style>
	#sidebar {color:pink}
</style>
{% endif %}