<script src="{{path.root}}/js/3rd/jquery.2.1.4.js"></script>
<script src="{{path.root}}/js/services/{{path.js_cache.Events}}"></script>
<script src="{{path.root}}/js/services/{{path.js_cache.Paperwork}}"></script>
<script src="{{path.root}}/js/services/{{path.js_cache.Notification}}"></script>

{% for link in include %}
{% if link == 'typeahead' %}
<script src="{{path.root}}/js/3rd/typeahead.js"></script>
<script src="{{path.root}}/js/3rd/thebasics.js"></script>
<script src="{{path.root}}/js/services/{{path.js_cache.Typeahead}}"></script>
{% elseif link == 'areyousure' %}
<script src="{{path.root}}/js/3rd/jquery.are-you-sure.js"></script>
{% elseif link == 'sweetalert' %}
<script src="{{path.root}}/js/3rd/sweetalert.min.js"></script>
{% elseif link == 'Tab' %}
<script src="{{path.root}}/js/services/{{path.js_cache.Tab}}"></script>
{% elseif link == 'Table' %}
<script src="{{path.root}}/js/3rd/tinysort.js"></script>
<script src="{{path.root}}/js/3rd/sortable.js"></script>
<script src="{{path.root}}/js/3rd/interact.js"></script>
<script src="{{path.root}}/js/services/{{path.js_cache.Table}}"></script>
{% elseif link == 'interact' %}
<script src="{{path.root}}/js/3rd/interact.js"></script>
{% elseif link == 'contextmenu' %}
<script src="{{path.root}}/js/3rd/jquery.contextMenu.js"></script>
{% elseif link == 'selection' %}
<script src="{{path.root}}/js/3rd/jquery.selection.js"></script>
{% elseif link == 'Validation' %}
<script src="{{path.root}}/js/services/{{path.js_cache.Validation}}"></script>
{% elseif link == 'sortable' %}
<script src="{{path.root}}/js/3rd/sortable.js"></script>
{% endif %}
{% endfor %}