<div id="sidebar" 
{% if environment.menu == 'big' %}
style="text-indent:20px;width:160px;"
{% else %}
style="width:25px;text-align:center;"
{% endif %}
>
    <div id="navbar">
        <div class="noselect thumb" style="line-height: 40px;cursor: default;">Menu</div>
        <ul id="menu" class="noselect" style="display:none">
			{% set nav = {
				0: 'app',
				1: 'jobs',
				2: 'clients',
				3: 'inventory',
				4: 'templates',
				5: 'settings'
			}%}
			{% if user.privilege == 'admin' %}
				{% set nav = nav|merge(['admin', 'user']) %}
			{% elseif user.privilege == 'guest' %}
				{% set nav = nav|merge(['Sign Up']) %}
			{% endif %}
			
			{% for item in nav %}
				{% if item == 'app' %}
					{% set location = 'app' %}
					{% set item = 'home' %}
				{% else %}
					{% set location = item %}
				{% endif %}
				{% if environment.menu == 'big' %}
					{% if item == 'Sign Up' %}
					<li val="{{item}}" class="nav-register" href="{{environment.root}}/get/register">
						{{item}}
					</li>
					{% else %}
					{% set item = item|capitalize %}
					<li val="{{item}}" href="{{environment.root}}/{{location}}" 
					{% if path.page in location %}
					class="nav_active"
					{% endif %}>
						{{item}}
					</li>
					{% endif %}
				{% else %}
					<li val="{{item|capitalize}}" href="{{environment.root}}/{{location}}" 
					{% if path.page in location %}
					class="nav_active"
					{% endif %}>
						{% set item = item|first|capitalize %}
						{{item}}
					</li>
				{% endif %}
			{% endfor %}
        </ul>
    </div>
	{% if environment.menu == 'big' %}
		<!--<div class="navbar-hide"> < </div>-->
	{% else %}
		<div class="navbar-hide small"> > </div>
	{% endif %}
</div>