<div class="wrap">
	<style scoped>
		.wt-wrap {
			font-size: 0;
			display: inline-block;
			white-space: nowrap;
		}
		.wt-column {
			display: inline-block;
			min-width: 44px;
			font-size: 14px;
		}
		.wt-column-ghost {
			opacity: 0.5
		}
		.wt-head {
			position:relative;
			padding:5px 0px;
			background-color:#7dbde8;
			cursor:pointer;
		}
		.wt-head-handle {
			position:absolute;
			right:0;
			top:0;
			width:5px;
			height:100%;
			background-color:#2b85c1;
			opacity:0;
		}
		.wt-head-handle:hover {
			opacity:1;
			cursor:e-resize;
		}
		.wt-wrap li {
			padding:4px;
			white-space:nowrap;
			overflow:hidden;
		}
		.wt-row:hover {
			cursor:pointer;
		}
		.wt-row-hover {
			background-color:#eee
		}
		.wt-settings {
			height: 28px;
			line-height: 28px;
			cursor: pointer;
			color: #337ab7;
		}
		.wt-settings:hover {
			text-decoration:underline;
		}
		
		/* filter interface */
		.wt-filter-interface {
			position: fixed;
			left: 0;
			right: 0;
			margin-left: auto;
			margin-right: auto;
			width: 710px;
			background-color: white;
			border: none;
			min-height: 50px;
			opacity: 0;
			box-shadow: 0 1px 2px rgba(0,0,0,.1);
		}
		
		/* New Filter */
		.wt-filter-interface_table {
			width: 100%;
		}
		.wt-filter-interface_table td {
			width: 50%;
			vertical-align: top;
			padding: 5px;
		}
		.wt-filter-interface_table-label {
			float: left;
			width: 110px;
			color: #ccc;
			font-size: 12px;
			line-height: 25px;
			padding: 2.5px 5px;
			text-align: right;
		}
		.wt-border {
			border-right: 1px solid #ccc;
		}
		.wt-title {
			font-weight: 600;
			padding-bottom: 10px;
		}
		.wt-filter-facade {
			height: 30px;
			line-height: 30px;
		}
		.wt-filter-facade_container {
			padding: 5px;
			min-height: 40px;
		}
		.wt-multi-select {
			display:inline-block;
			background-color:#7dbde8;
			margin: 2.5px 0px;
		}
		.wt-multi-select_object {
			display: inline-block;
			padding: 5px;
			cursor: default;
		}
		.wt-multi-select_remove {
			display: inline-block;
			background-color: #52a7e0;
			width: 30px;
			text-align: center;
			line-height: 30px;
			cursor: pointer;
		}
		.wt-multi-select_remove:hover {
			background-color: #2691d9;
		}
		
		/* Existing Filters */
		
		.wt-existing-filter {
			margin: 2.5px 0px;
		}
		.wt-existing-filter_input {
			display: inline-block;
			border: 1px solid white;
			width: 260px;
		}
		.wt-existing-filter_remove {
			float: right;
			cursor: pointer;
			color: #337ab7;
			line-height: 30px;
			margin: 0px 10px;
		}
		.wt-existing-filter_remove:hover {
			text-decoration: underline;
		}
	</style>
	<div class="wt-table" style="display:none">
		<div class="wrap" style="margin-bottom:5px">
			<div class="wt-settings left" title="Edit Filters and Preferences">
				Filter Settings
			</div>
			<div class="right">
				<select class="wt-filter">
					<option value="All">All</option>
					{% for s in status %}
					<option value="{{s.name}}">{{s.name}}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="wrap" style="overflow-x:auto;">
			<div id="sortable" class="wt-wrap">
				{% set i = 0 %}
				{% for a,b in head %}
					{% set style = '' %}
					{% if '.' in a %}
						{% set z = a|split('.')%}
					{% endif %}
					{% if '_' in b %}
						{% set style = 'display:none;' %}
					{% endif %}
					<ul class="wt-column" data-id="{{b}}" style="{{style}}">
					<li class="wt-head noselect" data-state="def">
						<div wt-head>
							<span>{{b}}</span>
							<img src="{{path.root}}/css/media/up.png" style="display:none;float:right;padding:5px 0px" height="20" alt="Ascending">
						</div>
						<div class="wt-head-handle">
						</div>
					</li>
					{% for e in data %}
						{% if e[a] %}
							{% set i = i + 1 %}
							<li class="wt-row" href="{{path.root}}/job/{{e.job_number}}" data-row="{{i}}">{{e[a]}}</li>
						{% elseif z %}
							{% set i = i + 1 %}
							<li class="wt-row" href="{{path.root}}/job/{{e.job_number}}" data-row="{{i}}">{{e[z[0]][z[1]]}}</li>
						{% endif %}
					{% endfor %}
					{% set i = 0 %}
					</ul>
				{% endfor %}
			</div>
		</div>
	</div>
</div>