<!DOCTYPE html>
<html lang="en">
	<head>
		{% include path.head %}
	</head>
    <body>
        {% include path.scaffolding %}
        <div id="content">
			<module>
				<part class="tabs">
					<ul class="wrap box-std">
						<li data-tab="0" class="tab">Activity Log</li>
						{% if host.first %}
						<li data-tab="1" class="tab">{{host.first}}</li>
						{% endif %}
					</ul>
				</part>
				<part class="obj">
					<box data-obj="0" class="tabobj box-std">
						<part class="container" style="padding:15px 20px; font-weight: 600; border-bottom: 1px solid #ccc">
							RECENT
							<span class="right update" style="font-weight:300;cursor:pointer;color:#337ab7">Update</span>
							<span class="right" style="margin-right:15px;"><span style="padding: 0px 15px;cursor:pointer" prev> < </span> <span style="cursor:pointer" next> > </span></span>
						</part>
						<part events>
						</part>
					</box>
					{% if host.first %}
					<box data-obj="1" id="jobs" class="tabobj box-std">
						<part class="client-details container">
							<form method="post" action="{{path.root}}/admin/put/settings">
								<table>
									<tbody>
										{% for a,b in host %}
										<tr>
											<td>{{a}}</td>
											<td><input type="text" name="{{a}}" value="{{b}}"></td>
										</tr>
										{% endfor %}
										<tr>
											<td></td>
											<td style="height:40px">
												<button class="button" style="margin-top:3px">UPDATE</button>
											</td>
										</tr>
									</tbody>
								</table>
							</form>
						</part>
					</box>
					{% endif %}
				</part>
			</module>
		</div>
		<div class="pw-notification" data-module="notification"></div>
		<script>
		var environment = {
			root: '{{path.root}}',
			page: '{{path.page}}',
		};
		</script>
		{% include path.js with {
			include: ['Tab']
		}%}
		<script>
			$(function(){
				new Tab({
					cookie: {
						name: 'tab',
						value: "{{host.id}}"
					}
				});
				var events = $('[events]'),
					img;
				var draw = function(data){
					if(data.icon){
						img = `<img class="event-icon" src="{{path.root}}/css/media/icon/activity/${data.icon}" />`;
					}else{
						img = `<img class="event-icon" src="{{path.root}}/css/media/icon/activity/default.png" />`;
					}
					events.append(`
						<event>
							<event-title>
								${img}
								<span style="color:#27ae60">{{host.first}} {{host.last}}</span> ${data.text}
							</event-title>
							<event-date>${Paperwork.since(data.date_created)}</event-date>
						</event>
					`);
				};
				
				var update = function(){
					$.post('{{path.root}}/admin/get/activity', {
						user_id: '{{host.id}}'
					}).done(function(data){
						
						events.css('opacity', '1');
						events.html('');
						
						data = JSON.parse(data);
						if(data.length > 0){
							for(i in data) draw(data[i]);
						}else{
							events.html(`
								<div class="container centered" style="font-weight: 600;">
									No Activity For {{host.first}}
								</div>
							`);
						}
						
					}).fail(function(data){
						
						events.css('opacity', '1');
						events.html('');
						
						events.html(`
							<div style="text-align:center;padding-top:40px;font-weight:600">
								There was a problem getting {{host.first}}\'s events
							</div>
						`);
					});
				};
				
				$('.update').on('click', function(){
					events.css('opacity', '0.5');
					update();
				});
				
				$('[prev]').on('click', function(){
					var id = location.href.split('/'),
						next = Number(id.pop()) - 1;
					location = '{{path.root}}/user/' + next;
				});
				
				$('[next]').on('click', function(){
					var id = location.href.split('/'),
						next = Number(id.pop()) + 1;
					location = '{{path.root}}/user/' + next;
				});
				
				{% include path.load %}
				update();
			});
		</script>
    </body>
</html>