<!DOCTYPE html>
<html lang="en">
	<head>
		{% include head %}
	</head>
    <body>
        {% include menu %}
        <div id="content">
			<module data-module="user">
				{% include 'other/modules/user.html' %}
			</module>
		</div>
		{% include js %}
		<script>
			$(function(){
				
				var events = $('[events]'),
					img;
				var draw = function(data){
					if(data.icon){
						img = `<img class="event-icon" src="{{environment.root}}/css/media/icon/activity/${data.icon}" />`;
					}else{
						img = `<img class="event-icon" src="{{environment.root}}/css/media/icon/activity/default.png" />`;
					}
					events.append(`
						<event>
							<event-title>
								${img}
								<span style="color:#27ae60">{{modules.user.data.host.first}} {{modules.user.data.host.last}}</span> ${data.text}
							</event-title>
							<event-date>${Paperwork.since(data.date_created)}</event-date>
						</event>
					`);
				};
				
				var update = function(){
					$.post('{{environment.root}}/admin/get/activity', {
						user_id: '{{modules.user.data.host.id}}'
					}).done(function(data){
						
						events.css('opacity', '1');
						events.html('');
						
						data = JSON.parse(data);
						if(data.length > 0){
							for(i in data) draw(data[i]);
						}else{
							events.html(`
								<div class="container centered" style="font-weight: 600;">
									No Activity For {{modules.user.data.host.first}}
								</div>
							`);
						}
						
					}).fail(function(data){
						
						events.css('opacity', '1');
						events.html('');
						
						events.html(`
							<div style="text-align:center;padding-top:40px;font-weight:600">
								There was a problem getting {{modules.user.data.host.first}}\'s events
							</div>
						`);
					});
				};
				
				$('.update').on('click', function(){
					events.css('opacity', '0.5');
					update();
				});
				
				$('[prev]').on('click', function(){
					var id = location.href.split('/'),
						next = Number(id.pop()) - 1;
					location = '{{environment.root}}/user/' + next;
				});
				
				$('[next]').on('click', function(){
					var id = location.href.split('/'),
						next = Number(id.pop()) + 1;
					location = '{{environment.root}}/user/' + next;
				});
				
				
				update();
			});
		</script>
    </body>
</html>