
<style type="text/css" style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;">
	paperwork-form {
		background-color: white;
		color: #333;
		font-size: 13px;
	}
	
	paperwork-form form-header {
		display: table!important;
		width: 100%!important;
	}
	
	paperwork-form footer {
		display: table!important;
		width: 100%!important;
	}
</style>
<paperwork-form style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;">
	<form-header style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;">
		<div style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; float: left;"><img src="logo.png" alt="" style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; border: 0; box-sizing: border-box; vertical-align: middle;"></div>
		<div style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; float: right;">
			<div style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; color: inherit; font-family: inherit; font-size: 30px; font-weight: 500; line-height: 1.1; padding-bottom: 20px; padding-left: 10px;" contenteditable="">QUOTE</div>
		</div>
	</form-header>
	<form-header style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;">
		<div style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; float: left;">
			<div style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-weight: 600; min-width: 160px;" contenteditable="">
				@name<br style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;">
				@phone<br style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;">
				@address<br style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;">
				@email
			</div>
		</div>
		<div style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; float: right;">
			<section style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; display: block;">
				<ul style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; -webkit-padding-start: 0; box-sizing: border-box; float: left; margin: 0; padding: 0; text-align: right;">
					<li style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; list-style-type: none; padding: 2px 10px;" contenteditable="">Date</li>
					<li style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; list-style-type: none; padding: 2px 10px;" contenteditable="">Reference</li>
				</ul>
				<ul style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; -webkit-padding-start: 0; box-sizing: border-box; float: left; margin: 0; padding: 0; text-align: right;">
					<li style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; border: 1px solid black; box-sizing: border-box; list-style-type: none; min-width: 86px; padding: 2px 10px; text-align: center;" contenteditable="">@date</li>
					<li style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; border: 1px solid black; border-top: none; box-sizing: border-box; list-style-type: none; min-width: 86px; padding: 2px 10px; text-align: center;" contenteditable="">@id</li>
				</ul>
			</section>
		</div>
	</form-header>
	<section style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; display: block; padding-top: 15px; width: 50%;">
		<header style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; display: block;">
			<span style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; background-color: #39B0EB; border: 1px solid black; box-sizing: border-box; display: block; font-weight: 600; text-align: center; width: 100%;" contenteditable="">CUSTOMER</span>
		</header>
		<section style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; border: 1px solid black; border-top: none; box-sizing: border-box; display: block; padding: 2px; text-align: center; width: 100%;" contenteditable="">
			@clientname<br style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;">
			@clientaddress
		</section>
	</section>
	<section style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; display: block; padding-top: 15px; width: 100%;">
		<header style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; display: block;">
			<span style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; background-color: #39B0EB; border: 1px solid black; box-sizing: border-box; display: block; font-weight: 600; text-align: center; width: 100%;" contenteditable="">JOB DESCRIPTION</span>
		</header>
		<section data-type="description" style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; border: 1px solid black; border-top: none; box-sizing: border-box; display: block; padding: 5px; text-align: left; width: 100%;" contenteditable="">
			<br style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;">
		</section>
	</section>
	<section style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; display: block; padding-top: 15px; width: 100%;">
		<div style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; border: 1px solid black; box-sizing: border-box; font-size: 11px; font-weight: 600;">
			<div style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; background-color: #39B0EB; border-left: 1px solid black; box-sizing: border-box; float: right; height: 20px; line-height: 20px; min-width: 71px; text-align: center;">TOTAL</div>
			<div style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; background-color: #39B0EB; border-left: 1px solid black; box-sizing: border-box; float: right; height: 20px; line-height: 20px; min-width: 71px; text-align: center;">UNIT PRICE</div>
			<div style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; background-color: #39B0EB; border-left: 1px solid black; box-sizing: border-box; float: right; height: 20px; line-height: 20px; min-width: 71px; text-align: center;">QTY UNIT</div>
			<div style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; background-color: #39B0EB; box-sizing: border-box; height: 20px; line-height: 20px; overflow: hidden; text-align: center; width: auto;">CONTRACTORS & MATERIALS</div>
		</div>
		<div data-type="inventory-input" style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin-top: -1px; position: relative;"></div>
		<div data-type="inventory-content" style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;"></div>
	</section>
	<footer style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; display: block; padding-top: 15px; width: 100%;">
		<div style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; float: left; font-size: 11px; width: 410px;">
			<header style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; display: block;">
				<span style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; background-color: #39B0EB; border: 1px solid black; box-sizing: border-box; display: block; text-align: center; width: 100%;" contenteditable="">TERMS & CONDITIONS</span>
			</header>
			<section style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; border: 1px solid black; border-top: none; box-sizing: border-box; display: block; padding: 2px; text-align: left; width: 100%;" contenteditable="">
				<div style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;"><br style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;"></div>
			</section>
		</div>
		<div style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; float: right; margin: 10px 0px 0px 10px;">
			<section style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; display: block;">
				<ul style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; -webkit-padding-start: 0; box-sizing: border-box; float: left; margin: 0; padding: 0; text-align: right;">
					<li style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; list-style-type: none; padding: 2px 10px;" contenteditable="">Sub Total</li>
					<li style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; list-style-type: none; padding: 2px 10px;" contenteditable="">GST</li>
					<li style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; background-color: #39B0EB; border: 1px solid black; box-sizing: border-box; font-weight: 600; list-style-type: none; padding: 2px 10px;" contenteditable="">TOTAL TO PAY</li>
				</ul>
				<ul style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; -webkit-padding-start: 0; box-sizing: border-box; float: left; margin: 0; padding: 0; text-align: right;">
					<li data-type="sub-total" style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; height: 22px; list-style-type: none; min-width: 100px; padding: 2px 4px; text-align: right;">@sub-total</li>
					<li data-type="tax" style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; height: 22px; list-style-type: none; padding: 2px 4px; text-align: right;">@tax</li>
					<li data-type="total" style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; border: 1px solid black; border-left: none; box-sizing: border-box; font-weight: 600; height: 24px; list-style-type: none; padding: 2px 4px; text-align: right;">@total</li>
				</ul>
			</section>
		</div>
	</footer>
</paperwork-form>