.pw-table td {
	padding:2px 5px;
}

.pw-table td:nth-child(odd) {
	color:#ccc;
	text-align:right;
}

.prompt {
	width:100%;
	border-top:1px solid white;
	border-left:1px solid white;
	border-right:1px solid white;
	border-bottom: 1px dashed #ccc;
	outline:none;
}

.prompt:hover {
	width:100%;
	border-top:1px solid white;
	border-left:1px solid white;
	border-right:1px solid white;
	border-bottom: 1px dashed #ccc;
	outline:none;
}

.toggle-table td:nth-child(odd) {
	color: #999;
	text-align: right;
}

.toggle-table td:nth-child(even) {
	padding: 5px 10px;
}

.toggle-table img {
	cursor: pointer;
}

.fade {opacity:0.25}

.new-tour td:nth-child(2n+1) {
	text-align:right;
	font-size:9pt;
	line-height:9pt;
	color:#7f8c8d;
	padding:0px 6px;
	width: 80px;
}

.new-tour input {
	margin:2px 0px;
	width: 225px;
}

.commands {
	.commands-key, .commands-value, .commands-width, .commands-print {
		width: 106.5px;
	}
	
	.commands-print {
		color: #ccc;
		line-height: 34px;
		text-align: right;
	}
	
	.commands-colon {
		line-height: 34px;
		padding: 0 4px;
	}
	
	.commands-key {
		text-align: right;
	}
}