.pw-table td {
	padding:2px 5px;
}

.pw-table td:nth-child(odd) {
	color:#ccc;
	text-align:right;
}

.prompt {
	width:100%;
	border-top:1px solid white;
	border-left:1px solid white;
	border-right:1px solid white;
	border-bottom: 1px dashed #ccc;
	outline:none;
	margin-bottom:15px
}

.prompt:hover {
	width:100%;
	border-top:1px solid white;
	border-left:1px solid white;
	border-right:1px solid white;
	border-bottom: 1px dashed #ccc;
	outline:none;
	margin-bottom:15px
}

.toggle-table td:nth-child(odd) {
	color: #999;
	text-align: right;
}

.toggle-table td:nth-child(even) {
	padding: 5px 10px;
}

.toggle-table img {
	cursor: pointer;
}

.fade {opacity:0.25}

.new-notification td:nth-child(2n+1) {
	text-align:right;
	font-size:9pt;
	line-height:9pt;
	color:#7f8c8d;
	padding:0px 6px;
	width: 80px;
}

.new-notification input {
	margin:2px 0px;
	width: 225px;
}