<!DOCTYPE html>
<html lang="en">
	<head>
		{% include path.head %}
	</head>
    <body>
        {% include path.scaffolding %}
        <div id="content">
			<module>
				<part class="tabs">
					<ul class="wrap box-std">
						<li data-tab="0" id="summarytab" class="tab">Client</li>
						{% if jobs %}<li data-tab="1" id="jobstab" class="tab">Jobs</li>{% endif %}
					</ul>
				</part>
				<part class="obj">
					<box data-obj="0" class="tabobj box-std">
						<part class="container wrap">
							<input type="text" class="client-name" value="{{client.name}}" placeholder="Client name" client-name />
							<div class="right">
								<span class="firm-right">
									<form method="get" action="{{path.root}}/jobs">
										<input type="hidden" name="id" value="{{client.client_number}}" />
										<button type="submit" class="button">
											New Job
										</button>
									</form>
								</span>
							</div>
						</part>
						<part class="container-mid client-details">
							<table>
								<tbody>
									<tr>
										<td>Address</td>
										<td>
											<input type="text" class="input" value="{{client.address}}" placeholder="..." client-address />
										</td>
									</tr>
									<tr>
										<td>Email</td>
										<td>
											<input type="text" class="input" value="{{client.email}}" placeholder="..." client-email />
										</td>
									</tr>
									<tr>
										<td>Phone</td>
										<td>
											<input type="text" class="input" value="{{client.phone}}" placeholder="..." client-phone />
										</td>
									</tr>
								</tbody>
							</table>
						</part>
						<part class="container">
							<form method="post" action="{{path.root}}/delete/client" client-del-form>
								<input type="hidden" name="id" value="{{client.id}}" />
							</form>
							<button type="submit" class="button delete" client-del-btn>Delete Client</button>
						</part>
						<hr>
						<part class="container" id="bottom">
							<div style="color: #7f8c8d">
								Notes
							</div>
							<textarea id="notes">{{client.notes | raw}}</textarea>
						</part>
					</box>
					{% if jobs %}
					<box data-obj="1" class="tabobj box-std">
						<part class="container">
							{% include path.table with {
								'data': jobs,
								'head': {
									'id': '_id',
									'job_number': 'ID',
									'name': 'Name',
									'client.name': 'Client',
									'job_status.name': 'Status'
								}
							}%}
						</part>
					</box>
					{% endif %}
				</part>
			</module>
        </div>
		<script>
		var environment = {
			root: '{{path.root}}',
			page: '{{path.page}}',
		};
		</script>
		{% if jobs %}
			{% include path.js with {
				include: ['Tab', 'Table', 'sweetalert']
			}%}
		{% else %}
			{% include path.js with {
				include: ['Tab', 'sweetalert']
			}%}
		{% endif %}
		<script>
			new Tab({
				cookie: {
					name: 'client',
					value: "{{client.client_number}}"
				}
			});
		</script>
		<script>
			$(function(){
				
				{% if jobs %}
				Table.run();
				{% endif %}
				
				// CLIENT DELETE
				$(document).on('click', '[client-del-btn]', function(){
					$this = $(this);
					
					Paperwork.wait($this);
					swal({
						title: 'Are you sure you want to delete this client?',
						text: 'Deleting this client will delete ALL jobs, quotes and invoices!',
						showCancelButton: true,
						closeOnConfirm: true,
					}, function(result){
						if(result){
							$('[client-del-form]').submit();
						}else{
							Paperwork.ready($this, 'Delete Client');
						}
					});
				});
				
				$('#notes').on('change', function(){
					var note = $(this).val() || '';
					
					$.post('{{path.root}}/put/client-details', {
						id: "{{client.id}}",
						notes: note,
					}).done(function(){
						Paperwork.saved();
					});
				});
				
				$('.client-details input, .client-name').change(function(){
					if($('[client-name]').val() != ''){
						$('#ajax').css('display', 'block');
						
						$.post('{{path.root}}/put/client-details', {
							id: {{client.id}},
							name: $('[client-name]').val(),
							address: $('[client-address]').val(),
							email: $('[client-email]').val(),
							phone: $('[client-phone]').val(),
						}).done(function(){
							Paperwork.saved();
						});
					}
				});
				
				{% include path.load %}
			});
		</script>
    </body>
</html>