<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Page Not Found - Paperwork</title>
		{% include path.html.head_public %}
		{% include path.html.pixel %}
	</head>
	<body>
		{% include path.html.header %}
		<section>
			<div class="width">
				<div class="main top centered">
					<div class="h1">
						Sorry, this page isn't available
					</div>
					<div class="h4">
						This page may have been removed.
					</div>
					<div style="padding-top: 60px;">
						<a href="#" onclick="history.back();">Go back to the previous page</a>
						<span> · </span>
						<a href="{{environment.root}}">Go to our home page</a>
					</div>
				</div>
			</div>
		</section>
		{% include path.html.footer %}
	</body>
</html>