<!DOCTYPE html>
<html lang="en">
	<head>
		<title>About us - Paperwork</title>
		<link rel="canonical" href="{{environment.root}}/{{environment.page}}">
		{% include path.html.head_public %}
		{% include path.html.pixel %}
	</head>
	<body>
		{% include path.html.header %}
		<section>
			<div class="width top">
				<div class="main">
					<part class="centered" style="padding-bottom: 50px;">
						<img src="{{environment.root}}/css/media/meta/single_300x300.png" style="width: 100px;">
					</part>
					<h1 class="main_title">About us</h1>
					<p>
						<span class="minor_title">
							Paperwork is the result of helping a friend upgrade from spreadsheet software to a 
							modern system in order to handle an increasing amount of quotes and invoices.
						</span>
						Everything we found was either:
					</p>
					<ul class="list">
						<li>Too slow and clunky</li>
						<li>Too complex and expensive</li>
						<li>Too hard to understand</li>
					</ul>
					<p>
						So Paperwork was born. Paperworks goals are simple and clear:
					</p>
					<ul class="list" style="font-weight: 600;">
						<li>Fast, beautiful and hassle-free</li>
						<li>Dead simple, but with a solid structure to scale as your business grows</li>
						<li>Plug 'n play; pick it up and start using it immediately</li>
					</ul>
					<p>
						Paperwork is designed to be small and lightweight. 
						You won't find cluttered interfaces with every possible feature. We like it that way. It's what keeps Paperwork hassle free and easy to use.
					</p>
					<p>
						Paperwork is for those who:
					</p>
					<ul class="list">
						<li>Like lightweight tools that <strong>do one thing and one thing well</strong></li>
						<li>Are looking to <strong>reduce as much hassle as possible</strong></li>
						<li>Recognise <strong>structure is key to a streamlined system</strong>, but who don't need an extremely complicated tool</li>
					</ul>
					<p>
						Paperwork is proudly developed and maintained in New Zealand, is available worldwide, and uses world-class technology to provide a beautiful experience. 
						We build and improve Paperwork every day and we'd like to get to know you, say hi!
					</p>
				</div>
				<part class="centered">
					<a href="{{environment.root}}/register">
						<button class="button blue" style="padding: 15px 60px;font-size: 16px;">START FREE TRIAL</button>
					</a>
				</part>
			</div>
		</section>
		{% include path.html.footer %}
		<script src="{{environment.root}}/js/3rd/jquery.2.1.4.js"></script>
		<script>
			$(function(){
				$('body').on('click', '.thumb', function(){
					$('body').find('.nav_list').slideToggle('fast');
				});
			});
		</script>
	</body>
</html>