<!DOCTYPE html>
<html lang="en">
	<head>
    	{% include path.head %}
	</head>
    <body>
        {% include path.scaffolding %}
        <div id="content">
			<module>
				<flash class="box-std">
					{% include path.flash %}
				</flash>
			</module>
			<module>
				<box class="box-std">
					<part class="container-top">
						<div class="h3 title">
							Hi {{user.first}}
						</div>
					</part>
					<part class="container-mid">
						{% if user.privilege == 'guest' %}
						<div class="alert alert-success mobile">
							Paperwork is best used on a desktop or laptop. You can still use the full functionality on mobile, 
							but making Quotes/Invoices is trickier at this stage. This is going to be improved in the near 
							future.
						</div>
						<div class="alert alert-info">
							As a Guest, your data will be deleted after 24 hours or when you log out, whichever comes first.
						</div>
						<div>
							<button class="button" onclick="window.location='{{path.root}}/get/register'">Sign Up</button>
						</div>
						{% endif %}
					</part>
					<part class="container">
						<div>
							<button class="button blue" onclick="window.location='{{path.root}}/get/logout'">Log Out</button>
						</div>
					</part>
				</box>
			</module>
        </div>
		<script>
		var environment = {
			root: '{{path.root}}',
			page: '{{path.page}}',
		};
		</script>
		{% include path.js %}
		<script>
			$(function(){
				{% include path.load %}
			});
		</script>
    </body>
</html>