<!DOCTYPE html>
<html lang="en">
	<head>
    	{% include path.head %}
	</head>
    <body>
        {% include path.scaffolding %}
        <div id="content">
			<module>
				<box class="box-std">
					<part class="container-top">
						<div class="h3 title">
							Hi {{user.first}}
						</div>
					</part>
					<flash class="box-std container-mid">
						{% include path.flash %}
					</flash>
					{% if user.privilege == 'guest' %}
					<part class="container-mid">
						<div class="alert alert-info">
							As a Guest, your data will be deleted after 24 hours, or when you log out.
							<div class="mobile">
								<br>
								By the way: Paperwork is best used on a computer!
							</div>
						</div>
					</part>
					{% endif %}
					<part class="container" data-module="log-out">
						<ul class="list-inline">
							{% if user.privilege == 'guest' %}
							<li>
								<button class="button" onclick="window.location='{{path.root}}/get/register'">Sign Up</button>
							</li>
							{% endif %}
							<li>
								<button data-type="logout-btn" class="button blue">Log Out</button>
							</li>
						</ul>
					</part>
				</box>
			</module>
        </div>
		<div class="pw-notification" data-module="notification"></div>
		<script>
		var environment = {
			root: '{{path.root}}',
			page: '{{path.page}}',
		};
		</script>
		{% include path.js %}
		<script>
			$(function(){
				
				// Logout
				$('[data-type="logout-btn"]').on('click', function(){
					window.location = '{{path.root}}/get/logout';
				});
				
				{% include path.load %}
			});
		</script>
    </body>
</html>