<!DOCTYPE html>
<html lang="en">
	<head>
    	{% include html.head %}
	</head>
    <body>
        {% include html.scaffolding %}
        <div id="content">
			<module>
				<flash class="box-std">
					{% include html.flash %}
				</flash>
			</module>
			<module>
				<box class="box-std">
					<part class="container-top">
						<div class="h3 title">
							Checkout
						</div>
						<div>
							You are paying <b>$56.35</b> ($49 + 15%)<br>
							This is a monthly payment - you can toggle it on and off as you please.
						</div>
						<div style="padding-top: 15px;">
							We accept the following payment options:
							<div style="display: inline-block;">
								<!--<img alt="Paypal" title="Paypal" src="{{environment.root}}/css/media/paypal_account.png" width="40px">-->
								<img alt="Visa" title="Visa" src="{{environment.root}}/css/media/visa.png" width="40px">
								<img alt="Mastercard" title="Mastercard" src="{{environment.root}}/css/media/mastercard.png" width="40px">
							</div>
						</div>
					</part>
					<part class="container wrap">
						<form action="{{environment.root}}/post/pay" method="post" class="wrap">
							<div id="braintree" class="container" style="padding-left: 0;padding-right: 0;">
								<div id="braintree-loading" class="centered">
									<img src="{{environment.root}}/css/media/plane.gif" width="200px" />
								</div>
							</div>
							<button class="button right">Pay $56.35</button>
						</form>
						<div class="wrap" style="padding-top: 5px;">
							<button class="button blue right" onclick="window.location='{{environment.root}}/get/logout'">LOGOUT</button>
						</div>
					</part>
				</box>
			</module>
        </div>
		<script>
		var environment = {
			root: '{{environment.root}}',
			page: '{{path.page}}'
		};
		</script>
		{% include html.js %}
		<script src="https://js.braintreegateway.com/js/braintree-2.26.0.min.js"></script>
		<script>
			$(function(){
				
				// Logout
				$('[data-type="logout-btn"]').on('click', function(){
					window.location = '{{environment.root}}/get/logout';
				});
				
				Braintree
				$.get('{{environment.root}}/get/braintree-token')
				.done(function(token){
					if(token){
						$('#braintree-loading').fadeOut();
						braintree.setup(token, 'dropin', {
							container: 'braintree'
						});
					}else{
						alert('We\'re sorry - there is a problem with our payments right now.');
					}
				});
				
				
			});
		</script>
    </body>
</html>