<!DOCTYPE html>
<html lang="en">
	<head>
    	{% include path.head %}
	</head>
    <body>
        {% include path.scaffolding %}
        <div id="content">
			<module>
				<flash class="box-std">
					{% include path.flash %}
				</flash>
			</module>
			<module>
				<box class="box-std">
					<part class="container top">
						<div class="h4 title centered create-new noselect">
							New Client
						</div>
						<div id="new-content" class="container-bottom" style="display: none;padding: 0 0 15px;">
							<table class="central" data-validate="on">
								<tbody>
									<tr>
										<td class="ar">
											Full name
										</td>
										<td>
											<input type="text" name="name" required />
										</td>
									</tr>
									<tr>
										<td></td>
										<td>
											<button type="submit" class="button" href="{{path.root}}/post/client">Create</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</part>
					<hr />
					<part class="container">
						<div id="the-basics">
							<input type="text" class="typeahead" placeholder="Quick Search" />
						</div>
					</part>
				</box>
			</module>
        </div>
		<div class="pw-notification" data-module="notification"></div>
		<script>
		var environment = {
			root: '{{path.root}}',
			page: '{{path.page}}',
		};
		</script>
		{% include path.js with {
			include: ['typeahead']
		}%}
		<script>
			$(function(){
				var clients = { {% for client in clients %} "{{client.name|raw}}" : "{{client.client_number}}", {% endfor %} },
					src = []; $.each(clients, function(a,b){src.push(a);});
				
				var ta = new Typeahead(src, {
					hint: true,
					highlight: true,
					minLength: 0
				}, {
					source: substringMatcher(src),
					limit: 1000000
				});
				
				// v.input($('#new-content'), $('#new-content button'), 'clients');
				
				// New object
				$('.create-new').on('click', function(){$("#new-content").slideToggle(100);});
				
				var clientTypeahead = function(){
					var go = function(){
						Paperwork.goto("{{path.root}}/client/" + clients[$('.tt-input').val()]);
					}
					ta.run($('#content'));
					// Enter key to select the first suggestion
					$('.typeahead').on('keydown', function(event) {
						var e = jQuery.Event("keydown");
						e.keyCode = e.which = 9; // 9 == tab
						if (event.which == 13){ // if pressing enter
							$('.typeahead').trigger(e); // trigger "tab" key - which works as "enter"
							go();
						}
					});
					
					// Browse to client on typeahead selection
					$('.typeahead').on('typeahead:beforeclose', function($e) { $e.preventDefault();});
					$('input.typeahead').on('typeahead:selected', function(object, name){
						go();
					});
					
					// Give typeahead focus
					$('.tt-input').focus();
				};
				
				// New Client
				$('#new-content .button').on('click', function(){
					if($('#new-content input[name=name]').val().length > 0){
						$.post($(this).attr('href'), {
							name: $('#new-content input[name=name]').val()
						}).done(function(data){
							data = JSON.parse(data);
							if(data.type == 'success'){
								ta.src.unshift(data.client.name);
								clients[data.client.name] = data.client.client_number;
								$('#the-basics').html('<input type="text" class="typeahead" placeholder="Quick Search" />');
								clientTypeahead();
							}else{
								$('#content').prepend(
									'<module>'+
										'<flash class="box-std">'+
											'<div class="alert alert-danger">'+
												data.message+
											'</div>'+
										'</flash>'+
									'</module>'
								);
							}
						});
					}
				});
				
				{% include path.load %}
				clientTypeahead();
			});
		</script>
    </body>
</html>