<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Features - Paperwork</title>
		<link rel="canonical" href="{{environment.root}}/{{environment.page}}">
		{% include path.html.head_public %}
		{% include path.html.pixel %}
	</head>
	<body>
		{% include path.html.header %}
		<section>
			<div class="width main feature-title">
				<h1 class="main_title">What is Paperwork and why should I use it?</h1>
			</div>
		</section>
		<section class="top">
			<div class="width main wrap">
				<div class="features">
					<feature>
						<h2 class="main_title">Simple job and client management</h2>
						<p>
							From the beginning, it was important that Paperwork scales up as your business grows. 
							That's why we enforced a <strong>"job driven"</strong> workflow. All projects and tasks are <strong>Jobs</strong>.
							Jobs are assigned to a <strong>Client</strong>. That's pretty much it. This structure helps 
							you juggle many jobs on the go, and allows you to see a client's job history.
						</p>
					</feature>
					<feature>
						<h2 class="main_title">"What you see is what you get" quote builder</h2>
						<p>
							See exactly what you're doing by building your quotes in-line. 
							No going back and forward with little changes, what you see is what you get.
						</p>
					</feature>
					<feature>
						<h2 class="main_title">Autocomplete inventory items and prices</h2>
						<p>
							Paperwork stores the items you use along with their price so they can be re-used. 
							When you begin adding an item into a quote, Paperwork will show suggestions. 
							Bit of a no-brainer, right?
						</p>
					</feature>
					<feature>
						<h2 class="main_title">Bulk margin calculation</h2>
						<p>
							Store the item's cost price once, then apply a different margin for different 
							circumstances. Add and remove margins as you see fit. Compare different margins. 
							All without throwing your computer out the window.
						</p>
					</feature>
				</div>
			</div>
		</section>
		{% include path.html.footer %}
	</body>
</html>