<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Paperwork: Quote, Invoice & Job Management</title>
		<meta name="description" 
		content="Paperwork is an online Quote and Invoice builder for small businesses. 
Paperwork is designed to stop you bleeding time and money, we do that by designing the most elegant tools available anywhere. 
We think great tools are beautiful tools. Try it right now without signing up!">
		<link rel="canonical" href="{{environment.root}}/{{environment.page}}">
		{% include path.html.head_public %}
		{% include path.html.pixel %}
	</head>
	<body>
		<part itemscope itemtype="http://schema.org/Product">
			<header>
				<div class="wrap width">
					<div class="nav wrap">
						<div class="major_title logo">
							<a href="{{environment.root}}" title="Paperwork" itemprop="name">Paperwork</a>
						</div>
						<ul class="nav_list wrap">
							<li>
								<a href="{{environment.root}}/login" title="Log In">Log In</a>
							</li>
							<li class="special">
								<a href="{{environment.root}}/register" title="Sign Up">Sign Up</a>
							</li>
						</ul>
					</div>
				</div>
			</header>
			<section>
				<div class="width">
					{% include path.html.flash %}
					<div class="centered main atf" style="padding-bottom: 0;">
						<section style="padding-left: 15px;padding-right: 15px;padding-bottom: 0;">
							{% if remaining > 0 %}
							<div class="alert alert-success central" style="max-width: 500px;cursor: default;">
								Lucky you! 
								We've <b>slashed</b> our price by nearly <b>50%</b> for you early birds. 
								There's only <span style="font-weight: 600" data-type="remaining"></span> remaining until we remove this opportunity forever!<br>
								<a href="{{environment.root}}/register">Sign Up</a>
							</div>
							{% endif %}
							<span class="minor_title" itemprop="description">
								Paperwork is a web app to help you order, simplify and minimise your Quote and Invoicing.<br>
								Our mission is to make your day-to-day paperwork as <span style="font-weight: 400">painless</span> as possible.
							</span>
						</section>
						<div class="main">
							<form accept-charset="UTF-8" action="{{environment.root}}/post/temporary-user" method="post">
								<button data-type="try-now-button" class="facade button large central">TRY NOW</button>
							</form>
						</div>
					</div>
					<div class="centered top">
						<div class="minor_title" style="padding-left: 15px;padding-right: 15px;">
							We like to learn things hands-on. Try Paperwork right now, for free.
						</div>
					</div>
				</div>
			</section>
		</part>
		<section 1>
			<div class="feature main">
				<div class="width">
					<div class="content_white">
						<section>
							<div class="wrap">
								<feature>
									<span class="minor_title">Quotes and Invoices</span>
									<span>
										Paperwork provides a natural work flow, which means client details and job numbers are loaded automatically. 
										Quotes are made inside Paperwork and can be converted to a PDF with the click of a button.
									</span>
								</feature>
								<feature>
									<img src="{{environment.root}}/css/media/new-invoice.png" width="100%">
								</feature>
							</div>
						</section>
						<section>
							<div class="wrap">
								<feature>
									<span class="minor_title">Inventory</span>
									<span>
										Quotes and Invoices are powered by <b>Inventory</b>.<br>
										Your inventory is a simple list of names and prices. Inventory is used to add items to a Quote.
									</span>
								</feature>
								<feature>
									<img src="css/media/inventory.png" width="100%">
								</feature>
							</div>
						</section>
						<section>
							<div class="wrap">
								<feature>
									<span class="minor_title">Inventory in Action</span>
									<span>
										Just start typing an item name into a Quote, and Paperwork will suggest items from your inventory. 
										If you use a new material, and you'd like to use it again, you can add it to your inventory with a single tap. 
										Watch this video to see a quick demonstration. 
									</span>
								</feature>
								<feature>
									<div class="video_overlay">
										<div class="video_tint">
											<div class="video_padding">
												<div class="play"></div>
											</div>
										</div>
										<video name="inventory" width="100%" loop>
											<source src="css/media/inventory.webm" type="video/webm">
											<source src="css/media/inventory.mp4" type="video/mp4">
											<img src="{{environment.root}}/css/media/inventory.png">
										</video>
									</div>
								</feature>
							</div>
						</section>
						<section>
							<div class="wrap">
								<feature>
									<span class="minor_title">And Much More</span>
									<span>
										We listen closely to our users and build anything that helps you get in and out as fast as possible. 
										An example of this is the <b>Margin interface</b>. Tap the margin button to apply a margin to one, 
										some, or all of the items in a Quote or Invoice.
									</span>
								</feature>
								<feature>
									<div class="video_overlay">
										<div class="video_tint">
											<div class="video_padding">
												<div class="play"></div>
											</div>
										</div>
										<video name="margin" width="100%" loop>
											<source src="css/media/margin.webm" type="video/webm">
											<source src="css/media/margin.mp4" type="video/mp4">
											<img src="{{environment.root}}/css/media/margin.png">
										</video>
									</div>
								</feature>
							</div>
						</section>
					</div>
				</div>
			</div>
		</section>
		<section 2 itemscope itemtype="http://schema.org/Offer">
			<div class="width">
				<div class="main">
					<div class="centered">
						<div class="wrap" style="display: inline-block;">
							<price>
								<div style="letter-spacing: 1.5px;">Paperwork</div>
								<div class="major_title" style="padding: 10px 0px 15px;" itemprop="price">
									$29<span style="font-size: 14px;">/MO</span>
								</div>
							</price>
						</div>
						<p>
							All new users get a <b>14 day free trial</b><br>
							Create your own account today - it takes less than a minute.
						</p>
						<div>
							<span style="font-size: 11px;">Note: Prices exclude GST.</span>
						</div>
						<div class="main">
							<button data-type="sign-up-button" class="facade button large central">
								SIGN UP
							</button>
						</div>
					</div>
				</div>
			</div>
		</section>
		<meta itemprop="url" content="https://paperwork.nz/">
		<span itemprop="brand" itemscope itemtype="http://schema.org/Brand">
		<meta itemprop="name" content="Paperwork"></span></span>
		<footer>
			<div class="centered">
				<div>
					<a href="https://www.facebook.com/paperworkapp" target="_blank" title="Our Facebook Page">
						<img class="fb" src="{{environment.root}}/css/media/icon/facebook/png/FB-f-Logo__blue_29.png">
					</a>
				</div>
				<div style="padding: 15px 0px;">
					<a href="{{environment.root}}/privacy-policy">Privacy Policy</a>
				</div>
			</div>
		</footer>
		<script src="{{environment.root}}/js/3rd/jquery.2.1.4.js"></script>
		<script src="{{environment.root}}/js/library/{{path.js.library.Paperwork}}"></script>
		<script>
			$(function(){
				{% if environment.mode == 'prod' %}
				// Facebook Pixel log the try now button
				$('body').on('click', '[data-type="try-now-button"]', function(){
					fbq('track', 'Lead');
				});
				{% endif %}
				
				// Sign up button
				$('body').on('click', '[data-type="sign-up-button"]', function(){
					window.location = '{{environment.root}}/register';
				});
				
				{% if remaining > 0 %}
				var seconds = {{remaining}};
				var countdownTimer = setInterval(timer, 1000);
				
				function timer() {
					var days        = Math.floor(seconds/24/60/60);
					var hoursLeft   = Math.floor((seconds) - (days*86400));
					var hours       = Math.floor(hoursLeft/3600);
					var minutesLeft = Math.floor((hoursLeft) - (hours*3600));
					var minutes     = Math.floor(minutesLeft/60);
					var remainingSeconds = seconds % 60;
					if (remainingSeconds < 10) {
						remainingSeconds = "0" + remainingSeconds; 
					}
					$('[data-type="remaining"]').html(days + " days " + hours + ":" + minutes + ":" + remainingSeconds);
					if (seconds == 0) {
						clearInterval(countdownTimer);
						$('[data-type="remaining"]').html("Completed");
					} else {
						seconds--;
					}
				}
				{% endif %}
				
				// Play/pause videos
				$('body').on('click', '.video_overlay', function(){
					var video = $(this).find('video'),
						box = $(this).find('.video_padding'),
						icon = $(this).find('.video_padding div');
					
					if(video.get(0).paused){
						box.fadeOut();
						icon.removeClass('play');
						icon.addClass('pause');
						video.get(0).play();
					}else{
						box.css('display', 'inline-block');
						box.css('opacity', 0.25);
						icon.removeClass('pause');
						icon.addClass('play');
						video.get(0).pause();
					}
				});
			});
		</script>
	</body>
</html>