<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Paperwork: Quote, Invoice & Job Management</title>
		<meta name="description" 
		content="Paperwork is an online Quote and Invoice builder for small businesses. 
Paperwork is designed to stop you bleeding time and money, we do that by designing the most elegant tools available anywhere. 
We think great tools are beautiful tools. Try it right now without signing up!">
		<link rel="canonical" href="{{environment.root}}/{{environment.page}}">
		{% include path.html.head_public %}
		{% include path.html.pixel %}
	</head>
	<body>
		<section itemscope itemtype="http://schema.org/Product">
			{% include path.html.header %}
			<section>
				<div class="width main" style="padding-top: 0;">
					{% include path.html.flash %}
					<div class="top-part">
						<div class="top-left">
							<section itemprop="description">
								<h1 class="main_title">
									Lightweight job management.
								</h1>
								<span class="minor_title">
									A plug 'n play tool to keep on top of quotes and invoices.
								</span>
							</section>
							<section>
								<form action="{{environment.root}}/post/register" accept-charset="UTF-8" method="post" novalidate>
									<part class="user-information register-information" data-validate="on">
										<section class="register-name">
											<part>
												<input type="text" name="first" placeholder="First name" required>
											</part>
											<part>
												<input type="text" name="last" placeholder="Last name" required>
											</part>
										</section>
										<section>
											<part>
												<input type="email" name="email" placeholder="Email" required>
											</part>
										</section>
										<section>
											<part>
												<input type="password" name="password" autocomplete="off" placeholder="Password" required>
											</part>
										</section>
										<section>
											<button class="button next-step">LET'S GET STARTED</button>
										</section>
									</part>
								</form>
							</section>
						</div>
						<div class="top-right">
							<div class="browser">
								<div class="browser-header">
									<div></div>
									<div></div>
									<div></div>
								</div>
								<div class="browser-content">
									<img src="{{environment.root}}/css/media/home.gif" class="no-click">
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</section>
		<section class="price-head">
			<div class="width">
				<part class="centered">
					<h1 class="main_title">Easy pricing</h1>
					<span class="minor_title">One plan. Unlimited access.</span>
					<div class="price">
						<price>
							<div class="price-body">
								<span style="font-size: 60px;font-weight: 200;">$5</span><div style="font-size: 13px; font-weight: 200;">NZD / MONTH</div>
							</div>
							<div class="price-footer">
								<a href="{{environment.root}}/register"><button class="button blue">START FREE TRIAL</button></a>
							</div>
						</price>
					</div>
					<a href="{{environment.root}}/pricing">Learn more</a>
				</part>
			</div>
		</section>
		{% include path.html.footer %}
		<script src="{{environment.root}}/js/3rd/jquery.2.1.4.js"></script>
		<script src="{{environment.root}}/js/library/{{path.js.library.Paperwork}}"></script>
		<script>
			$(function(){
				{% if environment.mode == 'prod' %}
				// Facebook Pixel log the try now button
				$('body').on('click', '[data-type="try-now-button"]', function(){
					fbq('track', 'Lead');
				});
				{% endif %}
				
				// Sign up button
				$('body').on('click', '[data-type="sign-up-button"]', function(){
					window.location = '{{environment.root}}/register';
				});
				
				// Play/pause videos
				$('body').on('click', '.video_overlay', function(){
					var video = $(this).find('video'),
						box = $(this).find('.video_padding'),
						icon = $(this).find('.video_padding div');
					
					if(video.get(0).paused){
						box.fadeOut();
						icon.removeClass('play');
						icon.addClass('pause');
						video.get(0).play();
					}else{
						box.css('display', 'inline-block');
						box.css('opacity', 0.25);
						icon.removeClass('pause');
						icon.addClass('play');
						video.get(0).pause();
					}
				});
			});
		</script>
	</body>
</html>