<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="date" content="{{date}}">
		<title>Paperwork</title>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{{path.root}}/inc/bootstrap/bootstrap-3.3.2.css">
		<link rel="stylesheet" type="text/css" href="{{path.root}}/inc/paperwork/landing.0.css" />
	</head>
	<body>
		<header>
			<div class="wrapper width">
				<div class="nav">
					<div class="logo">Paperwork</div>
					<ul class="nav_list wrapper">
						<li>
							<span class="color_hint" features>Features</span>
						</li>
						<li>
							<span class="color_hint" pricing>Pricing</span>
						</li>
						<li>
							<span login>Log In</span>
						</li>
						<li>
							<span class="special" pricing>Sign Up</span>
						</li>
					</ul>
				</div>
			</div>
		</header>
		<section>
			<div class="width">
				{% include path.flash %}
				<div class="main centered">
					<span class="main_title">Day-to-day work simplified. No paper required.</span>
					<div style="position:relative">
						<ul class="div_fade">
							<li>Quoting</li>
							<li>Estimating</li>
							<li>Invoicing</li>
							<li>Inventory</li>
							<li>Margin Calculation</li>
							<li>Job Management</li>
							<li>Client Management</li>
							<li>Notes</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<section 1>
			<div class="feature">
				<div class="width">
					<div class="main content_white">
						<span class="main_title">Core Features</span>
						<section>
							<div class="wrapper">
								<feature>
									<span class="minor_title">Client Management</span>
									<span>
										Each Client gets their own page complete with important information, 
										a notepad and a list of jobs. You can even collect your own data, too. 
										Everything you need and nothing you don't.
									</span>
								</feature>
								<feature>
									<video class="spotlight" width="100%" autoplay loop>
										<source src="inc/paperwork/client.webm" type="video/webm">
									</video>
								</feature>
							</div>
						</section>
						<section>
							<div class="wrapper">
								<feature>
									<span class="minor_title">Job Management</span>
									<span>
										A job is attached to a client and has a name and reference number. This is where 
										you can easily build Quotes, Estimates, Invoices (or any type of form you like) and 
										convert them to a PDF to send to your client. Jobs can be filtered by your own statuses 
										and collect and update helpful data automatically.
									</span>
								</feature>
								<feature>
									<video class="spotlight" width="100%" autoplay loop>
										<source src="inc/paperwork/job.webm" type="video/webm">
									</video>
								</feature>
							</div>
						</section>
						<section>
							<div class="wrapper">
								<feature>
									<span class="minor_title">Inventory</span>
									<span>
										Your inventory is a list of items and prices. This list turbo-charges quotes 
										and invoices as it's available when adding items. If you're adding an 
										item that isn't in your inventory you have the option to save it for 
										future use - the more you use Paperwork, the easier it gets.
									</span>
								</feature>
								<feature>
									<video class="spotlight" width="100%" autoplay loop>
										<source src="inc/paperwork/inventory.webm" type="video/webm">
									</video>
								</feature>
							</div>
						</section>
					</div>
				</div>
			</div>
		</section>
		<section 2>
			<div class="width">
				<div class="main">
					<div class="centered wrapper">
						<span class="main_title">We're Not Public Yet</span>
						<div>Pop your email in below and we'll let you know when Paperwork is available.</div>
						<form method="post" action="{{path.root}}/post/email-register">
						<div class="wrapper form">
							<input type="email" name="email" class="form_input facade large pull-left" placeholder="hello@domain.com">
							<div class="form_button wrapper pull-left">
								<button class="facade wolfe-btn large" style="width:100%">SIGN UP</button>
							</div>
						</div>
						</form>
					</div>
				</div>
			</div>
		</section>
		<script src="http://localhost/paperwork/public/inc/jquery/jquery-2.1.4.min.js"></script>
		<script>
			$(function(){
				$('[features]').on('click', function(){
					var a = $('[1]').offset();
					$('html, body').animate({scrollTop: a.top}, 'slow');
				});
				$('[pricing]').on('click', function(){
					var a = $('[2]').offset();
					$('html, body').animate({scrollTop: a.top}, 'slow');
				});
				$('[login]').on('click', function(){
					window.location = '{{path.root}}/login';
				});
			});
		</script>
	</body>
</html>