<!DOCTYPE html>
<html lang="en">
	<head>
   		{% include path.head %}
	</head>
    <body>
        {% include path.scaffolding %}
        <div id="content">
			<module>
				<flash class="box-std">
					{% include path.flash %}
				</flash>
			</module>
			<module>
				<box class="box-std">
					<part class="container add-inventory">
						<div class="h3">Inventory</div>
						<div class="entry" style="width:276px">
							<input id="name" type='text' name='name' placeholder='Name' class="input-big" style="width:150px" required/>
							<input id="price" type="text" name='price' placeholder='$0.00' class="input-big" style='width:60px'/>
							<div class="right">
								<button id="ajax" class="button">ADD</button>
							</div>
						</div>
					</part>
					<hr>
					<part class="container">
						<ul class="inventory">
							{% for item in inventory %}
							<li data-id="{{item.id}}">
								<div class="item">
									<input type="text" data-type="name" style="width: 100%;" value="{{item.name}}">
									<input type="text" data-type="price" class="firm-right "value="{{item.price}}">
								</div>
								<div class="invremove">x</div>
							</li>
							{% endfor %}
						</ul>
					</part>
				</box>
			</module>
        </div>
		<script>
		var environment = {
			root: '{{path.root}}',
			page: '{{path.page}}',
		};
		</script>
		{% include path.js with {
			include: ['sweetalert', 'Validation']
		}%}
		<script>
			$(function(){
				var inv = [{% for item in inventory %}{id:"{{item.id}}", name:"{{item.name}}", price:"{{item.price}}"},{% endfor %}];
				
				var v = new Validation;
				v.input($('.entry'), $('.entry button'), 'inventory');
				
				// Check for inventory name/price change
				$(document).on('change', '.inventory input', function(){
					if($(this).data('type') == 'name'){
						var name	= $(this).val(),
							price	= $(this).next().val(),
							id		= $(this).closest('li').data('id');
					}else if($(this).data('type') == 'price'){
						var price	= $(this).val(),
							name	= $(this).prev().val(),
							id		= $(this).closest('li').data('id');
					}
					
					if(name != undefined && price != undefined && id != undefined){
						if(name != '' && id != ''){
							$.post('{{path.root}}/put/inv', {
								name: name,
								price: price,
								id: id
							}).done(function(){
								Paperwork.saved();
							});
						}
					}else{
						console.log('fail: \n name:'+name+'\n price:'+price+'\n id:'+id)
					}
				});
				
				// Upload new inv item (single)
				$('#ajax').click(function(){
					if($('#name').val() != undefined && !isNaN($('#price').val())){
						$.post('{{path.root}}/post/inv', {
							name: $('#name').val(),
							price: $('#price').val()
						}).done(function(){
							$('#name').val('');
							$('#price').val('');
							$('#name').focus();
							Paperwork.saved();
						});
					}
				});
				
				// Delete inv item
				$('.inventory li').on('mouseover', function(){
					$(this).find('.invremove').css('opacity', '1');
				});
				$('.inventory li').on('mouseout', function(){
					$(this).find('.invremove').css('opacity', '0');
				});
				$('.invremove').on('click', function(){
					var $this = $(this);
					$.post('{{path.root}}/delete/inv', {
						id: $this.closest('li').attr('data-id')
					}, function(data){
						if(data !== '0'){
							$this.closest('li').remove();
						}else{
							console.warn('Error deleting inventory item');
						}
					});
				});
				
				$('.item').on('mouseover', function(){
					$(this).find('input').addClass('item_hover');
				});
				
				$('.item').on('mouseout', function(){
					$(this).find('input').removeClass('item_hover');
				});
				
				{% include path.load %}
			});
		</script>
    </body>
</html>