<!DOCTYPE html>
<html lang="en">
	<head>
    	{% include path.head %}
	</head>
    <body>
        {% include path.scaffolding %}
        <div id="content" style="display:none;">
			<div style="width:610px">{% include path.flash %}</div>
            <div class="box material">
                <div class="n-new center">
					<div id="create-new" class="h4 ac w1 noselect">
						New Job
					</div>
					<div id="new-content" style="display:none">
						<form method="post" action="{{path.root}}/post/job">
							<table>
								<tbody>
									<tr>
										<td class="ar">
											Client:
										</td>
										<td>
											<div id="the-basics">
												<input type="text" class="typeahead" name="client_name" placeholder="Quick Search" required />
											</div>
										</td>
									</tr>
									<tr>
										<td class="ar">
											Job Name:
										</td>
										<td>
											<input type="text" name="name" required />
										</td>
									</tr>
									<tr>
										<td></td>
										<td>
											<button type="submit" class="wolfe-btn uc">CREATE</button>
										</td>
									</tr>
								</tbody>
							</table>
						</form>
					</div>
				</div>
				<hr>
				{% if jobs %}
					{% include path.table with {
						'data': jobs,
						'head': {
							'id': '_id',
							'job_number': 'ID',
							'name': 'Name',
							'client.name': 'Client',
							'job_status.name': 'Status',
						},
						'width': {
							'Name': '260px',
							'Client': '165px',
							'Status': '111px'
						}
					}%}
				{% else %}
				<div class="ac">Start your first job by hitting New Job!</div>
				{% endif %}
            </div>
        </div>
		{% include path.js with {
			include: ['typeahead', 'Table', 'contextmenu', 'Validation']
		}%}
		<script>
		var environment = {
			root: '{{path.root}}'
		};
		{% if jobs %}
		new Table();
		{% endif %}
		</script>
		<script>
			$(function(){
				
				var src = [{% for client in clients %} "{{client.name | raw}}", {% endfor %}];
				
				var ta = new Typeahead(src, {
					hint: true,
					highlight: true,
					minLength: 1
				}, {
					name: 'Clients',
					source: substringMatcher(src)
				});
				
				var v = new Validation;
				v.input($('#new-content'), $('#new-content button'), 'jobs', {
					allowDuplicates: true,
				});
				
				// New object
				$("#create-new").on('click', function(){$("#new-content").slideToggle(100);});
				
				ta.run($('#content'));
				
				// STATUS CHANGE
				$('.wt-filter').on('change', function(){
					var status = $(this).val();
					status = status.split(' ').join('+');
				});
				
				// Resizable content material box - EXPERIMENTAL
				interact('.material').resizable({
					edges: {right: true}
				}).on('resizemove', function(event){
					var target = event.target;
					target.style.width  = event.rect.width + 'px';
				});
				
				// Open new-content if a client name is provided w GET
				{% if cname|length > 1 %}
					$('#new-content').slideToggle(100);
					$('.tt-input').val('{{cname | raw}}');
					$("input[name='name']").focus();
				{% endif %}
				
				{% if jobs %}
				// Right click context menu
				$('.wt-wrap').contextMenu({
					selector: '.wt-row',
					callback: function(key){
						if(key != 'cancel'){
							var item = $(this).attr('data-row'),
								id = $('[data-id="_id"]').find('[data-row="'+item+'"]').html();
							if(id != undefined && key != undefined){
								$.post('{{path.root}}/put/job-details', {
									id: id,
									status: key
								}).done(function(data){
									if(data != '0'){
										$('[data-id="Status"]').find('[data-row="'+item+'"]').html(data);
									}
								});
							}
						}
					},
					items: {
						status: {
							name: 'Update Status',
							items: {
				{% for item in status %}
				'{{item.name}}': {'name':'{{item.name}}'},
				{% endfor %}
							}
						},
						sep: '-',
						cancel: {
							name: 'Cancel'
						}
					}
				});
				{% endif %}
			});
		</script>
		{% include path.load %}
    </body>
</html>