<!DOCTYPE html>
<html lang="en">
	<head>
   		{% include head %}
	</head>
    <body>
        {% include menu %}
        <div id="content">
			<flash data-module="flash" class="box-std">{% include path.html.flash %}</flash>
			<module data-module="jobs">
				{% include 'other/modules/jobs.html' %}
			</module>
        </div>
		{% include js %}
		{% if name %}
		<script>
			$(function(){
				$('#new-content').slideToggle(100);
				$('.typeahead').val('{{name}}');
				$("input[name='name']").focus();
			});
		</script>
		{% endif %}
    </body>
</html>