<!DOCTYPE html>
<html lang="en">
	<head>
		{% include path.head_public %}
		{% include path.pixel %}
	</head>
	<body>
		<header>
			<div class="wrapper width">
				<div class="nav">
					<div class="major_title logo" style="cursor:pointer" onclick="window.location= '{{path.root}}'">Paperwork</div>
					<ul class="nav_list_less wrapper">
						<li>
							<span class="color_hint" home>Home</span>
						</li>
						<li class="disable no-click">
							<span login>Log In</span>
						</li>
						<li>
							<span class="special" register>Sign Up</span>
						</li>
					</ul>
				</div>
			</div>
		</header>
		<section>
			<div class="width">
				<div class="main top centered">
					<div style="display:inline-block;width:30%;min-width:280px">
						<div class="login user-information">
							<input type="text" name="username" placeholder="Email / Username">
							<input type="password" name="password" placeholder="Password">
							{% if env.maintenance %}
							<div class="alert alert-info" style="margin-bottom:10px;">
								We're currently offline for maintenance and will be back up as soon as we can. Sorry about this!
							</div>
							{% endif %}
							<button class="wolfe-btn next-step {% if maintenance %}no-click wolfe-btn-wait{% endif %}">LOGIN</button>
						</div>
					</div>
				</div>
			</div>
		</section>
		<footer>
			<div class="centered">
				<a href="https://www.facebook.com/paperworkapp" target="_blank">
					<img class="fb" title="Our Facebook Page" src="{{path.root}}/css/app/media/icon/facebook/png/FB-f-Logo__blue_29.png" />
				</a>
				<div style="padding:15px 0px;"><a href="{{path.root}}/privacy-policy">Privacy Policy</a></div>
			</div>
		</footer>
		{% include path.js %}
		<script>
			$(function(){
				// Nav
				$('[home]').on('click', function(){
					window.location = '{{path.root}}';
				});
				$('[login]').on('click', function(){
					window.location = '{{path.root}}/login';
				});
				$('[register]').on('click', function(){
					window.location = '{{path.root}}/register';
				});
				
				var login = function(){
					$('.next-step').focus();
					Paperwork.wait($('.next-step'));
					// Front-end validation //
					
					$.post('{{path.root}}/post/login', {
						username: $('input[name=username]').val(),
						password: $('input[name=password]').val(),
					}).done(function(data){
						data = JSON.parse(data);
						if(data.type == 'success'){
							window.location = data.location;
						}else{
							if($('.alert').length > 0){
								$('.alert').html(data.message);
							}else{
								$('.next-step').before('<div class="alert alert-danger">'+data.message+'</div>');
							}
							Paperwork.ready($('.next-step'), 'NEXT STEP');
						}
					});
				};
				
				// Login on click (inputFlow triggers this)
				$('.next-step').on('click', function(){
					login();
				});
			});
		</script>
	</body>
</html>