<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Login - Paperwork</title>
		<link rel="canonical" href="{{environment.root}}/login">
		{% include path.html.head_public %}
		{% include path.html.pixel %}
	</head>
	<body>
		{% include path.html.header %}
		<section>
			<div class="width">
				<div class="top centered" style="padding-top: 50px;">
					<div style="display: inline-block;width: 30%;min-width: 280px;">
						<div class="login user-information">
							{% include path.html.flash %}
							<div class="container">
								<input type="text" name="username" placeholder="Email">
							</div>
							<div class="container">
								<input type="password" name="password" placeholder="Password">
							</div>
							{% if privilege %}
							<div class="alert alert-info" style="margin-bottom:10px;">
								You must be logged in to view this page.
							</div>
							{% endif %}
							{% if environment.maintenance %}
							<div class="alert alert-info" style="margin-bottom:10px;">
								We're currently offline for maintenance and will be back up as soon as we can. Sorry about this!
							</div>
							{% endif %}
							<div class="container">
								<button class="button next-step {% if maintenance %}no-click button-wait{% endif %}">LOG IN</button>
							</div>
							<div class="container">
								<a href="{{environment.root}}/recover-account" title="Account Recovery">
									Forgot password?
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		{% include path.html.footer %}
		<script src="{{environment.root}}/js/3rd/jquery.2.1.4.js"></script>
		<script src="{{environment.root}}/js/library/{{path.js.library.Paperwork}}"></script>
		<script>
			$(function(){
				
				$('body').on('click', '.thumb', function(){
					$('body').find('.nav_list').slideToggle('fast');
				});
				
				// Login on click (inputFlow triggers this)
				$('body').on('click', '.next-step', login);
				
				function login(){
					$('.next-step').focus();
					
					$.post('{{environment.root}}/post/login', {
						username: $('input[name=username]').val(),
						password: $('input[name=password]').val(),
					}).done(function(data){
						data = JSON.parse(data);
						
						// Put alert on screen if it doesn't exist
						if(data.message){
							if($('.alert').length < 1){
								$('.next-step').before('<div class="alert">'+data.message+'</div>');
							}else{
								$('.alert').removeClass('alert-success');
								$('.alert').removeClass('alert-danger');
								$('.alert').html(data.message);
							}
							
							if(data.type == 'success'){
								$('.alert').addClass('alert-success');
							}else{
								$('.alert').addClass('alert-danger');
							}
						}
						
						if(data.type == 'success'){
							window.location = data.location;
						}else{
							Paperwork.ready($('.next-step'), 'LOG IN');
						}
					});
				}
				
				$('input[name="username"]').focus();
			});
		</script>
	</body>
</html>