<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="date" content="{{date}}">
		<title>Paperwork - Login</title>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400' rel='stylesheet' type='text/css'>
		<link href="{{path.root}}/inc/bootstrap/bootstrap.3.3.6.css" rel='stylesheet' type='text/css'>
		<link href="{{path.root}}/inc/paperwork/Public.css" rel='stylesheet' type="text/css">
		{% include path.sweetalert %}
	</head>
	<body>
		<header>
			<div class="wrapper width">
				<div class="nav">
					<div class="logo">Paperwork</div>
					<ul class="nav_list_less wrapper">
						<li>
							<span class="color_hint" home>Home</span>
						</li>
						<li class="disable no-click">
							<span login>Log In</span>
						</li>
						<li>
							<span class="special" register>Sign Up</span>
						</li>
					</ul>
				</div>
			</div>
		</header>
		<section>
			<div class="width">
				<div class="main top centered">
					<div style="display:inline-block;width:30%;min-width:280px">
						<div class="login user-information">
							<input type="text" name="username" placeholder="Username">
							<input type="password" name="password" placeholder="Password">
							<button class="wolfe-btn next-step">LOGIN</button>
						</div>
					</div>
				</div>
			</div>
		</section>
		{% include path.js %}
		<script>var pw = new Paperwork;</script>
		<script>
			$(function(){
				// Nav
				$('[home]').on('click', function(){
					window.location = '{{path.root}}';
				});
				$('[login]').on('click', function(){
					window.location = '{{path.root}}/login';
				});
				$('[register]').on('click', function(){
					window.location = '{{path.root}}/register';
				});
				
				$('.next-step').on('click', function(){
					
					pw.wait($(this));
					// Front-end validation //
					
					$.post('{{path.root}}/post/login', {
						username: $('input[name=username]').val(),
						password: $('input[name=password]').val(),
					}).done(function(data){
						data = JSON.parse(data);
						if(data.type == 'success'){
							window.location = data.location;
						}else{
							if($('.alert').length > 0){
								$('.alert').html(data.message);
							}else{
								$('.next-step').before('<div class="alert alert-danger">'+data.message+'</div>');
							}
							pw.ready($('.next-step'), 'NEXT STEP');
						}
					});
				})
			});
		</script>
	</body>
</html>