<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Privacy Policy - Paperwork</title>
		<link rel="canonical" href="{{environment.root}}/{{environment.page}}">
		{% include path.html.head_public %}
		{% include path.html.pixel %}
	</head>
	<body>
		<header>
			<div class="wrap width">
				<div class="nav wrap">
					<div class="major_title logo">
						<a href="{{environment.root}}" title="Paperwork">Paperwork</a>
					</div>
					<ul class="nav_list wrap">
						<li>
							<a href="{{environment.root}}" home>Home</a>
						</li>
						<li>
							<a href="{{environment.root}}/login" title="Log In">Log In</a>
						</li>
						<li class="special">
							<a href="{{environment.root}}/register" title="Sign Up">Sign Up</a>
						</li>
					</ul>
				</div>
			</div>
		</header>
		<section>
			<div class="width">
				<div class="main top" style="padding-left: 5px;padding-right: 5px;">
					<span class="main_title">Privacy Policy</span>
					<p>
						<b>Information that is gathered from visitors</b><br>
						Log files are saved on our webserver containing details such as the vistor's IP address, browser type, referring page, and time of visit.
					</p>
					<p>
						<b>How visitor information is used</b><br>
						Visitor information is used by Paperwork and will not be sold, rented, or leased to 3rd parties.
					</p>
					<p>
						<b>Information that is gathered from users</b><br>
						Users must provide their name, company name, email address and a password to use our service. 
						Users may optionally provide their email password to use the Email feature within Paperwork. 
						This email password is <b>not</b> stored on Paperwork's servers, and is transmitted over HTTPS. 
						User passwords (note: Not email password) are securely hashed and stored on Paperworks servers - the real passwords provided are never recorded anywhere. 
						Users may choose to provide their phone number and address to assist in communication. 
						Users may input data such as, but not limited to, their customer information, job information, and other 
						user generated information. This information is saved on our webserver. 
						User activity may generate log files that are saved on our webserver, saving details that provide us with information to help make 
						Paperwork a better service. This data serves as an activity log to provide insight into how a user may use the service. This data may 
						include the time of which a user logs in/out, when a user saves or deletes data and so on. 
						All user data is owned in an unlimited fashion by Paperwork. User data will be anonymized where possible. 
						We reserve the right to manipulate user data if necessary in upgrading our service. We reserve the right to use log information (data about your data) with the intention 
						of improving our service. 
						Any data put to work by a user (eg. Sending a document from Paperwork) is the responsibility of said user. Paperwork will assist 
						in helping generate the data, but Paperwork is not liable for any errors in the data generated that may result in business losses for said user. 
						Users should be aware of the data they are producing, and any errors the data may contain.
					</p>
					<p>
						<b>Cookies</b><br>
						Cookies are small digital signature files that are stored by your web browser that allow your preferences to be recorded when visiting the website. 
						They may also be used to track your return visits to the website and your preferences.
					</p>
					<p>
						<b>3rd Party</b><br>
						No 3rd Party advertising companies or similar with interest in user data are utilized by Paperwork.<br>No user generated data will be sold, disclosed or otherwise entertained to any 3rd Party company or person. 
					</p>
					<p>
						<i>Last updated 30/08/2016</i>
					</p>
				</div>
			</div>
		</section>
		<footer>
			<div class="centered">
				<div>
					<a href="https://www.facebook.com/paperworkapp" target="_blank" title="Our Facebook Page">
						<img class="fb" src="{{environment.root}}/css/media/icon/facebook/png/FB-f-Logo__blue_29.png">
					</a>
				</div>
				<div style="padding: 15px 0px;">
					<a href="{{environment.root}}/privacy-policy">Privacy Policy</a>
					<div style="padding-top: 15px;font-size: 12px;">
						<p>
							Paperwork New Zealand Limited<br>
							<a href="{{environment.root}}">{{environment.root}}</a><br>
							105 Swamp Road, Kapiti Coast<br>
							hello@paperwork.nz<br>
							+642040268988<br>
						</p>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>