<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Account Recovery - Paperwork</title>
		<link rel="canonical" href="{{environment.root}}/{{environment.page}}">
		{% include path.html.head_public %}
		{% include path.html.pixel %}
	</head>
	<body>
		{% include path.html.header %}
		<section>
			<div class="width">
				<div class="main top centered">
					<div style="display:inline-block;width:30%;min-width:280px">
						<form accept-charset="UTF-8" method="post" action="{{environment.root}}/post/recover-request">
							<div class="login user-information">
								<div class="container">
									<input type="text" name="email" placeholder="Email">
								</div>
								<div class="container">
									<button class="button next-step">RECOVER</button>
								</div>
							</div>
							{% include path.html.flash %}
						</form>
					</div>
				</div>
			</div>
		</section>
		{% include path.html.footer %}
		<script src="{{environment.root}}/js/3rd/jquery.2.1.4.js"></script>
		<script src="{{environment.root}}/js/library/{{path.js.library.Paperwork}}"></script>
		<script>
			$(function(){
				$('body').on('click', '.thumb', function(){
					$('body').find('.nav_list').slideToggle('fast');
				});
			});
		</script>
	</body>
</html>