<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Register For Paperwork & Free Trial - Paperwork</title>
		<meta name="description" 
		content="Register for Paperwork and get a 14 day free trial, no credit card required.">
		<link rel="canonical" href="{{environment.root}}/{{environment.page}}">
		{% include path.html.head_public %}
		{% include path.html.pixel %}
	</head>
	<body>
		<header>
			<div class="wrap width">
				<div class="nav">
					<div class="major_title logo">
						<a href="{{environment.root}}" title="Paperwork">Paperwork</a>
					</div>
					<ul class="nav_list_less wrap">
						<li>
							<a href="{{environment.root}}" home>Home</a>
						</li>
						<li>
							<a href="{{environment.root}}/login" title="Log In">Log In</a>
						</li>
						<li class="disable no-click">
							<span>Sign Up</span>
						</li>
					</ul>
				</div>
			</div>
		</header>
		<section>
			<div class="width">
				<section class="main centered">
					<div class="main_title">Welcome to Paperwork</div>
					<div class="title">
						Please fill in the boxes below. You can always change these later.
					</div>
					<div>
						All new users get a <b>14 day free trial</b>
					</div>
				</section>
				<section class="user-information centered central" style="max-width: 500px;">
					{% include path.html.flash %}
					<form action="{{environment.root}}/post/register" accept-charset="UTF-8" method="post" novalidate>
						<part class="user-information register-information" data-validate="on">
							<section class="register-name">
								<part>
									<input type="text" name="first" placeholder="First name" required>
								</part>
								<part>
									<input type="text" name="last" placeholder="Last name" required>
								</part>
							</section>
							<section>
								<part>
									<input type="email" name="email" placeholder="Email" required>
								</part>
							</section>
							<section>
								<part>
									<input type="password" name="password" autocomplete="off" placeholder="Password" required>
								</part>
							</section>
							<section>
								<button class="button next-step">LET'S GET STARTED</button>
							</section>
						</part>
					</form>
				</section>
			</div>
		</section>
		{% include path.html.footer %}
	</body>
</html>