<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Register For Paperwork & Free Trial - Paperwork</title>
		<meta name="description" 
		content="Register for Paperwork and get a 14 day free trial, no credit card required.">
		<link rel="canonical" href="{{environment.root}}/{{environment.page}}">
		{% include path.html.head_public %}
		{% include path.html.pixel %}
	</head>
	<body>
		{% include path.html.header %}
		<section>
			<div class="width">
				<section class="main centered">
					<h2 class="main_title">Welcome to Paperwork</h2>
					<div class="title">
						Please fill in the boxes below. You can always change these later.
					</div>
					<div>
						All new users get a <b>14 day free trial</b>
					</div>
				</section>
				<section class="user-information centered central top" style="max-width: 500px;">
					{% include path.html.flash %}
					<form action="{{environment.root}}/post/register" accept-charset="UTF-8" method="post" novalidate>
						<part class="user-information register-information">
							<section class="register-name">
								<part>
									<input type="text" name="first" placeholder="First name" required>
								</part>
								<part>
									<input type="text" name="last" placeholder="Last name" required>
								</part>
							</section>
							<section>
								<part>
									<input type="email" name="email" placeholder="Email" required>
								</part>
							</section>
							<section>
								<part>
									<input type="password" name="password" autocomplete="off" placeholder="Password" required>
								</part>
							</section>
							<section>
								<button class="button next-step">START FREE TRIAL</button>
							</section>
						</part>
					</form>
				</section>
			</div>
		</section>
		{% include path.html.footer %}
		<script src="{{environment.root}}/js/3rd/jquery.2.1.4.js"></script>
		<script src="{{environment.root}}/js/library/{{path.js.library.Paperwork}}"></script>
		<script>
			$(function(){
				$('body').on('click', '.thumb', function(){
					$('body').find('.nav_list').slideToggle('fast');
				});
			});
		</script>
	</body>
</html>