<!DOCTYPE html>
<html lang="en">
	<head>
		{% include path.head_public %}
		<link rel="stylesheet" type="text/css" href="{{path.root}}/css/views/{{path.page_css}}" />
	</head>
	<body>
		<header>
			<div class="wrap width">
				<div class="nav">
					<div class="major_title logo">Paperwork</div>
					<ul class="nav_list_less wrap">
						<li>
							<span class="color_hint" home>Home</span>
						</li>
						<li>
							<span login>Log In</span>
						</li>
						<li class="disable no-click">
							<span>Sign Up</span>
						</li>
					</ul>
				</div>
			</div>
		</header>
		<section>
			<div class="main">
				<section>
					<div class="width">
						<div class="centered">
							<span class="main_title">Template Editor</span>
							<div info-text style="padding-bottom:20px;">Hello {{user.first}}!<br>On your free trail you have these two templates</div>
						</div>
					</div>
				</section>
				<section>
					<div class="width">
						<div class="centered">
							<div class="interest">
								<ul class="template-list">
									<li><input type="text" placeholder="Template Name" value="Quote" required disabled></li>
									<li><input type="text" placeholder="Template Name" value="Invoice" required disabled></li>
								</ul>
							</div>
							<button class="button large next-step" style="margin-top:30px;">NEXT STEP</button>
						</div>
					</div>
				</section>
			</div>
		</section>
		<footer>
			<div class="centered">
				<a href="https://www.facebook.com/paperworkapp" target="_blank">
					<img class="fb" title="Our Facebook Page" src="{{path.root}}/css/media/icon/facebook/png/FB-f-Logo__blue_29.png" />
				</a>
				<div style="padding:15px 0px;"><a href="{{path.root}}/privacy-policy">Privacy Policy</a></div>
			</div>
		</footer>
		<script>
		var environment = {
			root: '{{path.root}}',
			page: '{{path.page}}',
		};
		</script>
		{% include path.js with {
			include: ['Validation']
		}%}
		<script>var v = new Validation;</script>
		<script>
			$(function(){
				// Nav
				$('[home]').on('click', function(){
					window.location = '{{path.root}}';
				});
				$('[login]').on('click', function(){
					window.location = '{{path.root}}/login';
				});
				
				// Validation for template-list input
				v.input($('.template-list'), $('.next-step'), 'templates');
				
				$('.next-step').on('click', function(){
					$('.next-step').addClass('no-click');
					$('.next-step').addClass('spotlight');
					
					$('[info-text]').animate({
						opacity: 0
					}, 'fast', function(){
						$('[info-text]').html('These are your default templates for now.<br>As a paid user you may edit these or get an existing template created. You can also create as many as you need.');
						$('[info-text]').animate({
							opacity: 1
						}, 'fast');
					});
					
					$('.interest').parent('.centered').animate({
						opacity: 0,
						marginLeft: '-200px'
					}, 'fast', function(){
						
						$(this).html(
							'<div class="interest wrap">'+
								'<div class="template template-first">'+
									'<img src="{{path.root}}/css/media/template-1.png" height="400px">'+
								'</div>'+
								'<div class="template template-last">'+
									'<img src="{{path.root}}/css/media/template-2.png" height="400px">'+
								'</div>'+
							'</div>'
						);
						$('.interest').after('<button class="button large last-step" style="margin-top:30px;">DONE</button>');
						$(this).css('margin-left', 0);
						$(this).animate({
							opacity: 1
						}, 'fast');
					});
				});
				
				// Post template names
				$('body').on('click', '.last-step', function(){
					var data = [];
					
					$.each(v.data.templates, function(a,b){
						data.push(b.val);
					});
					
					$.post('{{path.root}}/post/template-name', {
						multiple: true,
						data: JSON.stringify(data),
					}).done(function(){
						window.location = '{{path.root}}/settings';
					});
				});
			});
		</script>
	</body>
</html>