<!DOCTYPE html>
<html lang="en">
	<head>
    	{% include path.head %}
	</head>
    <body>
        {% include path.scaffolding %}
        <div id="content" style="display:none">
			{% include path.flash %}
			<div class="tabs">
				<ul class="wrapper">
					<li data-tab="0" class="tab noselect">My Account</li>
					<li data-tab="1" class="tab noselect">Job Settings</li>
					<li data-tab="2" class="tab noselect">Trash</li>
				</ul>
			</div>
			<div class="obj">
				<div data-obj="0" class="box material im" style="padding:30px">
					<div class="uac">
						<form method="post" action="{{path.root}}/put/settings">
							<table>
								<tbody>
									<tr>
										<td>First</td>
										<td><input type="text" name="first" value="{{user.first}}" required></td>
									</tr>
									<tr>
										<td>Last</td>
										<td><input type="text" name="last" value="{{user.last}}"></td>
									</tr>
									<tr>
										<td>Email</td>
										<td><input type="text" name="email" type="email" value="{{user.email}}" required></td>
									</tr>
									<tr>
										<td>Company</td>
										<td><input type="text" name="company" value="{{user.company}}" required></td>
									</tr>
									<tr>
										<td>Phone</td>
										<td><input type="text" name="phone" value="{{user.phone}}"></td>
									</tr>
									<tr>
										<td></td>
										<td style="height:40px">
											<input type="hidden" name="my">
											<button class="wolfe-btn" style="margin-top:3px">UPDATE</button>
										</td>
									</tr>
								</tbody>
							</table>
						</form>
						<hr>
						<form method="post" action="{{path.root}}/put/password">
							<table>
								<tbody>
									<tr>
										<td>Password</td>
										<td><input name="oldpw" type="password" placeholder="Old Password"></td>
									</tr>
									<tr>
										<td></td>
										<td><input name="newpw" type="password" placeholder="New Password"></td>
									</tr>
									<tr>
										<td></td>
										<td><input name="confirmpw" type="password" placeholder="Confirm New Password"></td>
									</tr>
									<tr>
										<td></td>
										<td style="height:40px">
											<input type="hidden" name="my">
											<button class="wolfe-btn" style="margin-top:3px">UPDATE</button>
										</td>
									</tr>
								</tbody>
							</table>
						</form>
					</div>
				</div>
				<div data-obj="1" class="box material im" style="padding:30px">
					<div class="jobstatus">
						<style scoped>
							.kappa li {
								margin-top:4px;
							}
						</style>
						<ul class="kappa">
							{% for item in status %}
							<li><input type="text" data-id="{{item.id}}" value="{{item.name}}"/></li>
							{% endfor %}
						</ul>
						<a style="cursor:pointer;" new-status>
							{% if status is empty %}
							New Status
							{% else %}
							Another One
							{% endif %}
						</a><br>
						<button class="wolfe-btn" style="margin-top:7px;" job-status-btn>UPDATE</button>
					</div>
					<hr>
					<div>
						<form method="post" action="{{path.root}}/post/job-n">
							Next Job Number <input type="text" name="job_number" value="{{job_number}}"><br>
							<button class="wolfe-btn" style="margin-top:7px;">UPDATE</button>
						</form>
					</div>
					<!--<hr>
					<a href="{{path.root}}/register-settings">Rename your templates</a>-->
				</div>
				<div data-obj="2" class="box material im" style="padding:30px">
					<div class="trash">
						{% if (jobs is not empty) or (forms is not empty) or (clients is not empty) or (inventory is not empty) %}
						<div class="h4">Jobs</div>
						{% for job in jobs %}
						<div>{{job.job_number}} - {{job.name}} - <span style="color:#999">{{job.client.name}}</span>&nbsp&nbsp<a href="#" data-jobid="{{job.id}}">Undo</a></div>
						{% endfor %}
						<hr>
						<div class="h4">Job Forms</div>
						{% for form in forms %}
						<div>{{form.job.job_number}} - {{form.name}} - <span style="color:#999">{{form.client.name}}</span>&nbsp&nbsp<a href="#" data-formid="{{form.id}}">Undo</a></div>
						{% endfor %}
						<hr>
						<div class="h4">Clients</div>
						{% for client in clients %}
						<div>{{client.client_number}} - {{client.name}}&nbsp&nbsp<a href="#" data-clientid="{{client.id}}">Undo</a></div>
						{% endfor %}
						<hr>
						<div class="h4">Inventory</div>
						{% for item in inventory %}
						<div>{{item.name}} - {{item.price}}&nbsp&nbsp<a href="#" data-inventoryid="{{item.id}}">Undo</a></div>
						{% endfor %}
						<hr>
						<div class="ac empty">Empty Trash</div>
						<div class="ac"><i>Items older than 30 days will be cleaned automatically</i></div>
						{% else %}
						<div class="ac h3">Trash is empty</div>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		{% include path.js with {
			include: ['Tab']
		}%}
		<script>
			$(function(){
				new Paperwork;
				new Tab({
					cookie: {
						name: 'settings',
						value: '{{user.first}}'
					}
				});
				var j = $('.jobstatus ul');
				$('[new-status]').click(function(){
					j.append('<li><input type="text" placeholder="Status name" /></li>');
				});
				
				$('[job-status-btn]').click(function(){
					k = [];
					j.find('input').each(function(){
						if($(this).data('id') != undefined){
							if($(this).val() != undefined){
								k.push({
									id: $(this).data('id'),
									name: $(this).val(),
								});
							}
						}else if($(this).val() != undefined){
							k.push({
								name: $(this).val()
							});
						}
					});
					$.post('{{path.root}}/post/status', {
						data: k
					}).done(function(){
						location.reload();
					});
				});
				
				$('.trash').on('click', 'a', function(){
					rmv($(this));
				});
				
				$('.empty').on('click', function(){
					$('.trash').addClass('no-click');
					$('.trash').css('opacity', '0.5');
					
					$.post('{{path.root}}/post/empty-trash')
					.done(function(data){
						location.reload();
					});
				});
				
				rmv = function(element, callback){
					var type = id = 0;
					$('.trash').addClass('no-click');
					$('.trash').css('opacity', '0.5');
					if(element.attr('data-jobid') != undefined){
						type = 'job',
						id = element.attr('data-jobid');
					}
					if(element.attr('data-formid') != undefined){
						type = 'form',
						id = element.attr('data-formid');
					}
					if(element.attr('data-clientid') != undefined){
						type = 'client',
						id = element.attr('data-clientid');
					}
					if(element.attr('data-inventoryid') != undefined){
						type = 'inventory',
						id = element.attr('data-inventoryid');
					}
					
					$.post('{{path.root}}/put/restore', {
						type: type,
						id: id
					}).done(function(data){
						element.parent().remove();
						$('.trash').removeClass('no-click');
						callback === undefined ? location.reload() : callback();
					});
				};
				
			});
		</script>
    </body>
</html>