<!DOCTYPE html>
<html lang="en">
	<head>
    	{% include path.head %}
	</head>
    <body>
        {% include path.scaffolding %}
        <div id="content">
			<module>
				<flash class="box-std">
					{% include path.flash %}
				</flash>
			</module>
			<module>
				<part class="tabs">
					<ul class="wrap box-std">
						<li data-tab="0" class="tab">My Account</li>
						<li data-tab="1" class="tab">Jobs</li>
						<li data-tab="2" class="tab">Email</li>
						<li data-tab="3" class="tab">Trash</li>
					</ul>
				</part>
				<part class="obj">
					<box data-obj="0" class="tabobj box-std">
						<part class="container-top">
							<div class="h4 title">
								My Details
							</div>
						</part>
						<part class="uac container-bottom">
							<form method="post" action="{{path.root}}/put/settings">
								<table class="user-details">
									<tbody>
										<tr>
											<td>First name</td>
											<td><input type="text" name="first" value="{{user.first}}" required></td>
										</tr>
										<tr>
											<td>Last name</td>
											<td><input type="text" name="last" value="{{user.last}}"></td>
										</tr>
										<tr>
											<td>Email</td>
											<td><input type="text" name="email" type="email" value="{{user.email}}" required></td>
										</tr>
										<tr>
											<td>Company</td>
											<td><input type="text" name="company" value="{{user.company}}" required></td>
										</tr>
										<tr>
											<td>Phone</td>
											<td><input type="text" name="phone" value="{{user.phone}}"></td>
										</tr>
										<tr>
											<td></td>
											<td style="height:40px">
												<button class="button">UPDATE</button>
											</td>
										</tr>
									</tbody>
								</table>
							</form>
						</part>
						<hr>
						<part class="container-top">
							<div class="h4 title">
								Change Your Password
							</div>
						</part>
						<part class="uac container-bottom">
							<form method="post" action="{{path.root}}/put/password">
								<table class="password-settings">
									<tbody>
										<tr>
											<td>Password</td>
											<td><input name="oldpw" type="password" placeholder="Old Password" required></td>
										</tr>
										<tr>
											<td></td>
											<td><input name="newpw" type="password" placeholder="New Password" required></td>
										</tr>
										<tr>
											<td></td>
											<td><input name="confirmpw" type="password" placeholder="Confirm New Password" required></td>
										</tr>
										<tr>
											<td></td>
											<td style="height:40px">
												<input type="hidden" name="my">
												<button class="button">UPDATE</button>
											</td>
										</tr>
									</tbody>
								</table>
							</form>
						</part>
					</box>
					<box data-obj="1" class="tabobj box-std">
						<part class="jobstatus">
							<part class="container-top">
								<div class="h4 title">
									Job Statuses
								</div>
							</part>
							<part class="container-bottom">
								<ul id="job-status">
									{% for item in status %}
									<li>
										<input type="text" data-id="{{item.id}}" value="{{item.name}}" 
										{% if item.name == 'Completed' %}
										disabled title="This is a built-in status"
										{% endif %}
										/>
										<div class="status-handle">
										</div>
									</li>
									{% endfor %}
								</ul>
								<a style="cursor: pointer;padding: 5px 0px;display: block;width: 180px;" new-status>
									{% if status is empty %}
									New Status
									{% else %}
									Another One
									{% endif %}
								</a>
							</part>
						</part>
						<hr>
						<part class="container-top">
							<div class="h4 title">
								Change the next Job number
							</div>
						</part>
						<part class="container-bottom">
							<div class="job_number">
								<form method="post" action="{{path.root}}/post/job-number">
									<part style="padding: 5px 0px;">
										Next Job Number <input type="text" name="job_number" value="{{job_number}}" required>
									</part>
									<button class="button">UPDATE</button>
								</form>
							</div>
						</part>
					</box>
					<box data-obj="2" class="tabobj box-std">
						<part class="container-top">
							<div class="h4 title">
								Email Integration
							</div>
							{% if email != true %}
							<div class="alert alert-success">
								For Paperwork to send emails on your behalf, you may need to change some email settings with your email provider.<br><br>
								For Gmail, please follow <a href="https://www.google.com/settings/security/lesssecureapps" target="_blank"><b>this link</b></a>. Otherwise, you will need to ask your email provider how to allow "less secure apps" 
								to use their SMTP server.<br><br>You can always try enter your email and password below, then try to send an email from a <a href="{{path.root}}/jobs"><b>job</b></a> to see if it works.
							</div>
							{% endif %}
						</part>
						{% if email != true %}
						<hr>
						{% endif %}
						<part class="container email-settings">
							<form method="post" action="{{path.root}}/put/email-settings">
								<table>
									<tbody>
										<tr>
											<td>Email</td>
											<td><input class="email-address" type="email" name="address" value="{{email.address}}" placeholder="hello@domain.com" required></td>
										</tr>
										<tr>
											<td>Password</td>
											<td><input type="password" name="password" placeholder="Email Password" value="" required></td>
										</tr>
										<tr>
											<td></td>
											<td><hr style="margin: 15px 0px; max-width: 225px;"></td>
										</tr>
										<tr>
											<td>SMTP</td>
											<td><input type="text" name="smtp" value="{{email.smtp}}" placeholder="smtp.domain.com" required></td>
										</tr>
										<tr>
											<td>Protocol</td>
											<td><input type="text" name="protocol" value="{{email.protocol}}" placeholder="Protocol"></td>
										</tr>
										<tr>
											<td>Port</td>
											<td><input type="text" name="port" value="{{email.port}}" placeholder="000" required></td>
										</tr>
										<tr>
											<td></td>
											<td style="height:40px">
												<button class="button">UPDATE</button>
											</td>
										</tr>
									</tbody>
								</table>
							</form>
						</part>
						<hr>
						<part class="container">
							<table class="email-signature">
								<tbody>
									<tr>
										<td style="vertical-align:top;padding-top:6px;">Signature</td>
										<td>
											<div class="signature" contenteditable>{{email.signature|raw}}</div>
										</td>
									</tr>
									<tr>
										<td></td>
										<td style="height:40px">
											<button class="button">UPDATE</button>
										</td>
									</tr>
								</tbody>
							</table>
						</part>
					</box>
					<box data-obj="3" class="tabobj box-std">
						<part class="trash">
							{% if (jobs is not empty) or (forms is not empty) or (clients is not empty) or (inventory is not empty) %}
							<part class="container-top">
								<div class="h4 title">
									Jobs
								</div>
							</part>
							<part class="container-bottom">
							{% for job in jobs %}
								<part>
									Job {{job.job_number}} - {{job.name}} - 
									<span style="color:#999">
										{{job.client.name}}
									</span>
									&nbsp&nbsp
									<a href="#" data-jobid="{{job.id}}">
										Undo
									</a>
								</part>
							{% endfor %}
							</part>
							<hr>
							<part class="container-top">
								<div class="h4 title">
									Quotes and Invoices
								</div>
							</part>
							<part class="container-bottom">
							{% for form in forms %}
								<part>
									Job {{form.job.job_number}} - {{form.name}}
									<span style="color:#999">
										{{form.client.name}}
									</span>
									&nbsp&nbsp
									<a href="#" data-formid="{{form.id}}">
										Undo
									</a>
								</part>
							{% endfor %}
							</part>
							<hr>
							<part class="container-top">
								<div class="h4 title">
									Clients
								</div>
							</part>
							<part class="container-bottom">
							{% for client in clients %}
								<part>
									{{client.client_number}} - {{client.name}}
									&nbsp&nbsp
									<a href="#" data-clientid="{{client.id}}">
										Undo
									</a>
								</part>
							{% endfor %}
							</part>
							<hr>
							<part class="container-top">
								<div class="h4 title">
									Inventory
								</div>
							</part>
							<part class="container-bottom">
							{% for item in inventory %}
								<part>
									{{item.name}} - {{item.price}}
									&nbsp&nbsp
									<a href="#" data-inventoryid="{{item.id}}">
										Undo
									</a>
								</part>
							{% endfor %}
							</part>
							<hr>
							<part class="centered empty container-top">
								Empty Trash
							</part>
							<part class="centered container">
								<i>Items older than 30 days will be cleaned automatically</i>
							</part>
							{% else %}
							<div class="centered h3 title" style="padding: 50px 0px;">
								Trash is empty
							</div>
							{% endif %}
						</part>
					</box>
				</part>
			</module>
		</div>
		<script>
		var environment = {
			root: '{{path.root}}',
			page: '{{path.page}}',
		};
		</script>
		{% include path.js with {
			include: ['Tab', 'Validation', 'sortable']
		}%}
		<script>
			$(function(){
				var tab = new Tab({
					cookie: {
						name: 'settings',
						value: '{{user.first}}'
					}
				});
				
				// STATUS //
				var $status = $('.jobstatus ul');
				
				// new Sortable(document.getElementById('job-status'), {
				// 	handle: '.status-handle',
				// 	animation: 150,
				// 	ghostClass: 'status-hover',
				// 	onEnd: function(event){
				// 		updateStatus();
				// 	}
				// });
				
				// Listen to change
				$status.on('change', 'input', updateStatus);
				
				// New status
				$('[new-status]').click(function(){
					$status.append(`
						<li>
							<input type="text" placeholder="Status name" />
							<div class="status-handle">
							</div>
						</li>
					`);
				});
				
				function updateStatus(){
					let map = [];
					
					$status.find('input').each(function(){
						if($(this).data('id') != undefined){
							if($(this).val() != undefined){
								map.push({
									id: $(this).data('id'),
									name: $(this).val(),
								});
							}
						}else if($(this).val() != undefined){
							map.push({
								name: $(this).val()
							});
						}
					});
					
					$.post('{{path.root}}/post/status', {
						data: map
					}).done(function(){
						Paperwork.saved();
					});
				}
				
				
				// VALIDATION //
				var v = new Validation;
				v.input($('.user-details'), $('.user-details button'), 'user', {
					allowDuplicates: true,
					visible: true,
				});
				v.input($('.email-settings'), $('.email-settings button'), 'email');
				v.input($('.password-settings'), $('.password-settings button'), 'password', {
					allowDuplicates: true
				});
				v.input($('.job_number'), $('.job_number button'), 'jobNumber');
				
				// Trash
				$('.trash').on('click', 'a', function(){
					rmv($(this));
				});
				
				$('.empty').on('click', function(){
					$('.trash').addClass('no-click');
					$('.trash').css('opacity', '0.5');
					
					$.post('{{path.root}}/post/empty-trash')
					.done(function(data){
						location.reload();
					});
				});
				
				rmv = function(element, callback){
					var type = id = 0;
					$('.trash').addClass('no-click');
					$('.trash').css('opacity', '0.5');
					if(element.attr('data-jobid') != undefined){
						type = 'job',
						id = element.attr('data-jobid');
					}
					if(element.attr('data-formid') != undefined){
						type = 'form',
						id = element.attr('data-formid');
					}
					if(element.attr('data-clientid') != undefined){
						type = 'client',
						id = element.attr('data-clientid');
					}
					if(element.attr('data-inventoryid') != undefined){
						type = 'inventory',
						id = element.attr('data-inventoryid');
					}
					
					$.post('{{path.root}}/put/restore', {
						type: type,
						id: id
					}).done(function(data){
						element.parent().remove();
						$('.trash').removeClass('no-click');
						callback === undefined ? location.reload() : callback();
					});
				};
				
				// EMAIL SETTINGS //
				$('.email-address').on('blur', function(){
					var address = $(this).val(),
						smtp = $('.email-settings input[name=smtp]'),
						protocol = $('.email-settings input[name=protocol]'),
						port = $('.email-settings input[name=port]');
					
					if(address.indexOf('@gmail') != -1){
						smtp.val('smtp.gmail.com');
						protocol.val('TLS');
						port.val('587');
					}
					
					if(address.indexOf('@hotmail') != -1 || address.indexOf('@live') != -1){
						smtp.val('smtp.live.com');
						protocol.val('');
						port.val('465');
					}
					
					if(address.indexOf('@outlook') != -1){
						smtp.val('smtp-mail.outlook.com');
						protocol.val('TLS');
						port.val('587');
					}
					
				});
				
				$('.email-signature button').on('click', function(){
					$.post('{{path.root}}/put/email-signature', {
						signature: $('.signature').html()
					}).done(function(){
						location.reload();
					});
				});
				
				{% include path.load %}
			});
		</script>
    </body>
</html>