<!DOCTYPE html>
<html lang="en">
	<head>
    	{% include path.head %}
	</head>
    <body>
        {% include path.scaffolding %}
        <div id="content">
			<div class="box" style="background-color:white;width:712px;padding-top:5px">
				<div class="h3">Templates</div>
				{% for a in templates %}
					<a data-template="{{a.templateID}}">{{a.name}}</a><br>
				{% endfor %}
				<div style="padding:15px">
					<div class="template">
						<div style="text-align:center;padding:45px 0px">Pick a template!</div>
					</div>
				</div>
			</div>
        </div>
		{% include path.js with {
			include: ['interact']
		}%}
		<script>
			$(function(){
				var pw = new Paperwork;
				
				$('[data-template]').on('click', function(){
					var id = $(this).attr('data-template');
					$.get('{{path.root}}/get/template', {
						'templateID': id
					}).done(function(data){
						if(data != '0'){
							data = JSON.parse(data);
							$('.template').html(data.content);
							
						}
					});
				});
			});
		</script>
    </body>
</html>