<!DOCTYPE html>
<html lang="en">
	<head>
    	{% include path.head %}
	</head>
    <body>
        {% include path.scaffolding %}
        <div id="content" style="display:none;">
			<div class="box" style="background-color:white;width:712px;padding-top:5px">
				<div class="h3">Templates</div>
				{% for template in templates %}
					<a data-template="{{template.id}}">{{template.name}}</a><br>
				{% endfor %}
				<div style="padding:15px">
					<div class="template">
						<div style="text-align:center;padding:45px 0px">Pick a template!</div>
					</div>
				</div>
			</div>
        </div>
		<script>
		var environment = {
			root: '{{path.root}}',
			page: '{{path.page}}',
		};
		</script>
		{% include path.js with {
			include: ['interact']
		}%}
		<script src="{{path.root}}/services/Paint/Paint.js"></script>
		<script>var paint = new Paint;</script>
		<script>
			$(function(){
				var pw = new Paperwork;
				
				// Ajax call to load the template
				$('[data-template]').on('click', function(){
					var id = $(this).attr('data-template');
					$.get('{{path.root}}/get/template', {
						'id': id
					}).done(function(data){
						if(data != '0'){
							data = JSON.parse(data);
							$('.template').html(data.content);
						}
					});
				});
				
				$('body').on('keydown', '[contenteditable]', function(){
					if($(this).find('td')){
						console.log('kappa');
					}
				});
				
				{% include path.load %}
			});
		</script>
    </body>
</html>