// Mixins
@import 'mixins/mixins';

// Core
@import 'core/normalise';

doc-body {
	display: block;
	width: 210mm;
	max-width: 210mm;
	min-width: 210mm;
	color: #333;
	background-color: white;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.42857143;
	font-size: 13px!important;
	
	* {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	
	doc-section,
	doc-part,
	doc-text {
		display: block;
	}
	
	doc-span {
		display: inline;
	}
	
	[data-type="inventory-input"], [data-type="inventory-content"] {
		display: block;
	}
	
	[contenteditable] {
		cursor: text;
		outline: none;
		
		&:hover {
			background-color: #D6EDFF;
		}
	}
	
	[data-type="inventory-content"] {
		display: table;
		border-bottom: 1px solid black;
	}
	
	.inventory-item {
		display: table-row;
		page-break-inside: avoid!important;
		
		> doc-part {
			display: table-cell;
			vertical-align: top;
		}
		
		&:hover {
			.inventory-item_name .remove-btn {
				opacity: 0.25;
			}
		}
		
		.inventory-item_name {
			position: relative;
			width: 100%;
			
			.remove-btn {
				opacity: 0;
				position: absolute;
				top: 0;
				right: 0;
				
				&:hover {
					opacity: 1;
				}
			}
		}
	}
	
	.twitter-typeahead {
		display: inline-block;
		border-right: 1px solid black;
		border-bottom: 1px dashed #999;
		border-left: 1px solid black;
		width: 100%;
		
		.typeahead {
			padding: 4px;
			width: 100%;
			outline: 0;
			border: 0;
		}
		
		.tt-input, .tt-highlight {
			display: inline-block;
			
			&:hover {
				background-color: #D6EDFF!important;
			}
			
			&:focus,
			&:active {
				background-color: transparent!important;
			}
			
		}
		
		.ta {
			z-index: 1;
			width: 100%;
			border-top: 1px solid #333;
			border-left: 1px solid #333;
			border-right: 1px solid #333;
		}
		
		.tt-menu{
			z-index: 1!important;
			background-color: #fff;
			border: 1px solid #eee;
			box-shadow: rgba(0,0,0,.329412) 0 0 5px;
			cursor: default;
		}
	}
}