// Mixins
@import 'mixins/mixins';

// Core
@import 'core/globals';
@import 'core/normalise';
@import 'core/bootstrap-core';
@import 'core/paperwork-core';

// Parts
@import 'parts/typeahead';
@import 'parts/tab';
@import 'parts/right-click';
@import 'parts/validation';
@import 'parts/button';
@import 'parts/hud';

//
//
// Scroll bars
::-webkit-scrollbar {
	width: 10px;
    height: 10px;
    overflow: visible;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.33);
    min-height: 30px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, 0.5);
	@include transition(background-color 1000ms linear);
}

::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
	background-color: #e8e8e8;
}

//
//
//Fundamental DOM

body, html {
	background-color: #e8e8e8;
}

input, select {
	@include border-radius(0);
	@include transition(border-color 0.3s ease);
}

input:hover {
	border: 1px solid #ccc;
}

//
//
// Paperwork structures

.left { float: left; }
.right { float: right; }
.centered { text-align: center; }
.central { margin-left: auto; margin-right: auto; }
.title { padding-top: 10px; }

.noselect {
	@include select(none);
}

.noclick {
	pointer-events: none;
}

#sidebar {
	position: fixed;
	left: 0;
	top: 0;
	width: 160px;
	height: 100%;
	background-color: #333;
	color: white;
	z-index: 25;
	line-height: 40px;
	
	@include mobile {
		width: 100%!important;
		height: 40px!important;
		text-align: center;
		text-indent: 0;
	}
	
	a { color: white; }
	a:hover{ text-decoration: none; }
	li:hover{
		background-color: #666;
		cursor: pointer;
	}
}

.navbar-hide {
	position: absolute;
	bottom: 0;
	text-align: center;
	text-indent: 0;
	width: 100%;
	
	@include mobile {
		display: none;
	}
}

#menu {
	background-color: #333;
	
	li {
		background-color: #333;
	}
	
	.menu_active {
		background-color:#666;
	}
}

#content {
	margin-left: 160px;
	padding: 15px;
	opacity: 0;
	display: none;
	
	@include mobile {
		margin-left: 0;
		padding: 55px 0px 15px 0px;
	}
}

.form, flash {
	@include mobile {
		margin-left: auto;
		margin-right: auto;
	}
}

.box-std {
	width: 610px;
	max-width: 610px;
	
	@include size(610px) {
		width: auto;
	}
}

.container {
	padding: 15px;
}

.container-top {
	padding: 15px 15px 0px;
}

.container-mid {
	padding: 0px 15px;
}

.container-bottom {
	padding: 0px 15px 15px;
}

//
//
// Deprecated
.ar { text-align: right; }
.h2 { 
	font-size: 30px;
}

//
//
// Modules
module {
	position: relative;
	margin-bottom: 15px;
	
	&:last-child {
		margin-bottom: 0;
	}
}

@keyframes PaperworkPop {
	0% {
		transform: scale(0.5);
	}
	
	66% {
		transform: scale(1.1);
	}
	
	100% {
		transform: scale(1);
	}
}

.pop {
	-webkit-animation: PaperworkPop 0.25s ease forwards;
}

//
//
// Dark Container
.dark_container {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	
	& > .dark_content {
		display: flex;
		align-items: center;
		justify-content: center;
		position: fixed;
		overflow-y: auto;
		top: 15px;
		right: 15px;
		bottom: 15px;
		left: 15px;
		
		> module {
			z-index: 9999;
			max-height: 100%;
			
			box, .tabs ul {
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
	
	.dark_object {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: black;
		opacity: 0;
		overflow: hidden;
	}
}

.remove-btn {
	filter: grayscale(100%);
	width: 24px;
	height: 100%;
	padding: 5px;
	background-image: url('../media/remove.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-origin: content-box;
	cursor: pointer;
	
	&:hover {
		filter: grayscale(0);
	}
}