// Mixins
@import 'mixins/mixins';

// Modules
@import 'core/core';
@import 'parts/typeahead';
@import 'parts/tab';
@import 'parts/right-click';
@import 'parts/validation';
@import 'parts/button';
@import 'parts/hud';

//
//
// Scroll bars
::-webkit-scrollbar {
	width: 10px;
    height: 10px;
    overflow: visible;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.33);
    min-height: 30px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0,0,0,.5);
	@include transition(background-color 1000ms linear);
}

//
//
// Fundamental DOM

body, html {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input, select {
	@include border-radius(0);
	@include transition(border-color 0.3s ease);
}

input:hover {
	border: 1px solid #ccc;
}

feature {
	position: relative;
	display: block;
	float: left;
	width: 50%;
	padding: 15px;
	
	@include size(921px){
		width: 100%;
	}
	
	@include size(500px){
		padding-left: 5px;
		padding-right: 5px;
	}
}

footer {
	padding: 15px 0px 100px;
}

//
//
// Paperwork structures

.left { float: left; }
.right { float: right; }
.noselect { -webkit-user-select: none; }
.centered { text-align: center; }
.central { margin-left: auto; margin-right: auto; }
.title { padding-top: 10px; }
.color_hint {color: #999}
.color_blue {color: #0db7ed}

.width {
	width: 100%;
	max-width: 1400px;
	margin-left:auto;
	margin-right:auto;
	padding: 0px 60px;
	min-width: 300px;
	
	@include size(500px){
		padding: 0;
	}
}

.nav_list span, .nav_list_less span {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* IE/Edge */
	user-select: none;
	background-color:white;
}

video, feature img, .video_tint {
	min-width: 400px;
	
	@include size(500px){
		min-width: 300px;
	}
}

.no-click{
	pointer-events: none;
	cursor: default;
}

.disable {
	color: #999;
	cursor: default;
}

.nav {
	padding-top: 30px;
	padding-bottom: 30px;
	
	@include size(700px) {
		padding-bottom: 0;
	}
}

.nav_list, .nav_list_less {
	display: block;
	float: right;
	
	@include size(700px) {
		float: none;
		margin: 0 auto;
	}
}

.nav_list {
	@include size(700px) {
		width: 320px;
	}
	
	@include size(500px){
		width: 150px;
	}
}

.nav_list_less {
	@include size(700px) {
		width: 220px;
	}
}

.nav_list li, .nav_list_less li {
	float: left;
	margin: 20px 15px;
	cursor: pointer;
}

.main {
	padding: 50px 0px;
	position: relative;
}

.atf {
	@include size(700px) {
		padding-top: 25px;
	}
}

.top {
	padding-bottom: 80px;
}

.large {
	padding: 15px;
	font-size: 20px;
	line-height: 20px;
	
	@include size(500px){
		font-size: 18px;
	}
}

.facade {
	display: block;
}

.feature {
	background-color: #53aee0;
	
	@include size(700px) {
		text-align: center;
	}
}

.div_fade:before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(255,255,255,0);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 125px, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(125px, rgba(255,255,255,0)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 125px, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0) 125px, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 125px, rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 125px, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
}

.logo {
	display: block;
	float: left;
	
	@include size(700px){
		float: none;
		text-align: center;
	}
}

.major_title {
	font-size: 46px;
	line-height:46px;
	font-weight:300;
}

.main_title {
	font-size: 26px;
	line-height: 26px;
	font-weight: 300;
	padding-bottom: 15px;
	display: block;
}

.content_white {
	color: white;
}

.minor_title {
	font-size: 20px;
	font-weight: 300;
	padding-bottom: 12px;
	display: block;
	
	@include size(910px){
		text-align: center;
		font-size: 18px;
	}
	
	@include size(500px){
		text-align: center;
		font-size: 16px;
	}
}

.spotlight {
	opacity: 0.6;
}

.special {
	color: #53aee0;
	font-weight: 600;
}

.form {
	margin: 0 auto;
	max-width: 750px;
	padding:10px;
	
	@include size(500px){
		min-width: 300px;
	}
}

.form_input {
	width: 70%;
	padding-top: 1px;
	padding-bottom: 1px;
}

.form_button {
	width: 30%;
	padding-left:5px;
}

.quote {
	text-align: right;
	font-size: 30px;
	font-weight: 200;
	padding: 100px 0px;
	
	@include size(700px) {
		font-size: 24px;
	}
	
	@include size(500px){
		text-align: center;
		padding-left: 15px;
		padding-right: 15px;
	}
}

.quote_author {
	display: block;
	font-size: 18px;
	
	@include size(700px) {
		font-size: 13px;
	}
}

.quote_lead {
	font-family: Helvetica;
	font-size: 50px;
	line-height: 30px;
	
	@include size(700px) {
		font-size: 34px;
		line-height: 24px;
	}
}

.price {
	font-size: 60px;
	line-height: 80px;
	font-weight: 100;
	font-family: 'Open Sans Light';
}

.video_overlay {
	position:relative;
	height:100%;
	width:100%;
	cursor: pointer;
}

.video_tint {
	text-align:center;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	bottom: 5px;
	top: 0;
	height: 72px;
}

.video_padding {
	background-color: black;
	opacity: 0.25;
	display: inline-block;
	padding: 20px;
}

.play {
    width: 24px;
    height: 32px;
    border-top: 16px solid transparent;
    border-left: 24px solid white;
    border-bottom: 16px solid transparent;
}
.pause {
    width: 24px;
    height: 32px;
    border-right: 8px solid white;
    border-left: 8px solid white;
}

video::-webkit-media-controls {
    display:none !important;
}

.fb {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	cursor: pointer;
	width:29px;
	height:29px
}

.fb:hover {
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}

//
//
// Login and Registration

.user-information {
	.container {
		margin: 15px 0;
	}
	
	td {
		padding: 5px 10px;
		
		@include size(500px){
			padding: 5px;
		}
	}
	
	td:nth-child(odd) {
		color: #999;
		text-align: right;
		
		@include size(500px){
			font-size: 13px;
		}
	}
	
	td:nth-child(even) {
		font-size: 20px;
	}
	
	input {
		padding: 8px;
		width: 100%;
		
		@include size(500px){
			font-size: 16px;
		}
	}
}

.login input {
	display: block;
	font-size: 16px;
	padding: 15px;
	width: 100%;
}

.next-step {
	padding: 15px;
	font-size: 16px;
	width: 100%;
}

.negligible {
	@include size(500px){
		display: none;
	}
}