<style>
.qq-item {line-height:22px;padding:0px 6px}
.qq-qty, .qq-price {
	width: 109px;;
	border: 0;
	outline: none;
	text-align: center;
	line-height:22px;
	height:22px;
	padding:0;
}
.qq-total {
	min-width: 70px;
    border: 0;
    outline: none;
    text-align: center;
    line-height: 22px;
    height: 22px;
}
.wform li {list-style-type:none}
.ta {
    position: absolute;
    z-index: 1;
    margin-top: 51px!important;
    width: 100%;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
}
</style>
<div class="wform" style="width:650px;background-color:white;font-size:13px;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;" >
<table style="width:100%;font-size:13px;background-color:white;" >
	<tbody>
		<tr>
			<td style="vertical-align:bottom;font-size:13px;" >
				<P style="margin-bottom:0.11in;margin-top:40px;" ><FONT COLOR="#0099ff"><FONT FACE="Gisha, serif"><FONT SIZE=5><B>Carpentry
	Pro NZ Ltd</B></FONT></FONT></FONT></P>
	<div style="font-size:14px;line-height:16px;" >
		91 Ringawhati Road<br>
		Otaki, New Zealand, 5583<br>
		GST # 117211681<br>
		Mob: 027 216 2750<br>
		E: mikeatcpmcarpentry@gmail.com<br>
	</div>
			</td>
			<td style="vertical-align:top;font-size:13px;" >
				<IMG class="pull-right" NAME="Picture 1" ALIGN=LEFT HSPACE=12 WIDTH=341 HEIGHT=115 BORDER=0 SRC="mike.jpg">
			</td>
		</tr>
	</tbody>
</table>
<div style="font-size:14px;line-height:16px;text-align:right;" >
		<div style="color:#bfbfbf;font-size:24px;line-height:24px;margin-top:50px;font-weight:600;" >QUOTE</div>
		<div><B>Quote Number: <span form-jobID></span></B></div>
		<div><B>Date of Invoice: <span form-date></span></B></div>
	</div>
<P style="margin-bottom:0in;line-height:100%;" ><B>To:</B></P>
<div job-clientblob contenteditable style="min-height:25px;" ></div><br>
<P style="margin-bottom:0in;line-height:100%;" ><B>COMMENTS OR
SPECIAL INSTRUCTIONS:</B></P>
<div job-jobd contenteditable style="min-height:25px;" ></div><br>
<div class="pr" form-inventory style="position:relative;" >
	<div class="ta" form-typeahead style="position:absolute;z-index:1;margin-top:51px;width:100%;border-top-width:1px;border-top-style:solid;border-top-color:#333;border-left-width:1px;border-left-style:solid;border-left-color:#333;border-right-width:1px;border-right-style:solid;border-right-color:#333;" >
		<input class="typeahead tt" type="text" placeholder="Item" style="border-style:none;outline-style:none;width:100%;padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px;" />
	</div>
</div>
<div class="wrapper f0 br0 m15" form-itemlist style="margin-top:15px;font-size:0;border-top-width:1px;border-top-style:solid;border-top-color:black;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:black;border-left-width:1px;border-left-style:solid;border-left-color:black;" >
<table class="w" style="width:100%;" >
	<tbody>
		<tr>
			<td class="w7 br" style="width:110px;border-right-width:1px;border-right-style:solid;border-right-color:black;" >
				<ul class="f" form-itemqty style="font-size:13px;-webkit-padding-start:0px!important;margin-top:0 !important;margin-bottom:0 !important;margin-right:0 !important;margin-left:0 !important;" >
					<li class="ac uc ihead b" style="text-align:center;text-transform:uppercase;min-width:70px;font-size:13px;line-height:35px;height:35px;font-weight:600;list-style-type:none!important;" >QUANTITY</li>
					<li  form-itembuffer style="height:29px;list-style-type:none!important;" ></li>
				</ul>
			</td>
			<td class="br" style="border-right-width:1px;border-right-style:solid;border-right-color:black;" >
				<ul class="f" form-itemname style="font-size:13px;-webkit-padding-start:0px!important;margin-top:0 !important;margin-bottom:0 !important;margin-right:0 !important;margin-left:0 !important;" >
					<li class="ac uc ihead b" style="text-align:center;text-transform:uppercase;min-width:70px;font-size:13px;line-height:35px;height:35px;font-weight:600;list-style-type:none!important;" >DESCRIPTION</li>
					<li  form-itembuffer style="height:29px;list-style-type:none!important;" ></li>
				</ul>
			</td>
			<td class="w7 br" style="width:110px;border-right-width:1px;border-right-style:solid;border-right-color:black;" >
				<ul class="f" form-itemprice style="font-size:13px;-webkit-padding-start:0px!important;margin-top:0 !important;margin-bottom:0 !important;margin-right:0 !important;margin-left:0 !important;" >
					<li class="ac uc ihead b" style="text-align:center;text-transform:uppercase;min-width:70px;font-size:13px;line-height:35px;height:35px;font-weight:600;list-style-type:none!important;" >UNIT PRICE</li>
					<li  form-itembuffer style="height:29px;list-style-type:none!important;" ></li>
				</ul>
			</td>
			<td style="display:none">
				<ul form-itemtotal></ul>
			</td>
	</tbody>
</table>
</div>
<table class="pull-right">
	<tbody>
		<tr>
			<td>
				<div class="b ar" style="padding-right:5px;text-align:right;font-weight:600;" >SUBTOTAL:</div>
			</td>
			<td>
				<div style="border-width:1px;border-style:solid;border-color:black;border-bottom-style:none;border-top-style:none;text-align:center;width:111px;height:30px;" ><div  form-subtotal style="line-height:30px;" ></div></div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="b ar" style="padding-right:5px;text-align:right;font-weight:600;" >GST:</div>
			</td>
			<td>
				<div style="border-width:1px;border-style:solid;border-color:black;border-bottom-style:none;text-align:center;width:111px;height:30px;" ><div  form-tax style="line-height:30px;" ></div></div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="b ar" style="padding-right:5px;text-align:right;font-weight:600;" >TOTAL DUE:</div>
			</td>
			<td>
				<div style="border-width:1px;border-style:solid;border-color:black;text-align:center;width:111px;height:30px;" ><div  form-total style="line-height:30px;" ></div></div>
			</td>
		</tr>
	</tbody>
</table>
<div style="padding-top:100px;" >Please pay within 7 days to: 02 0506
0068467 83</div>
<P style="padding-top:10px;" ><B>THANK YOU FOR YOUR BUSINESS</B></P>
<DIV TYPE=FOOTER>
	<P ALIGN=RIGHT style="margin-top:0.47in;margin-bottom:0.11in;" ><FONT COLOR="#808080"><FONT SIZE=1 style="font-size:8pt;" ><I>All
	materials remain property of Carpentry Pro NZ until all outstanding
	invoices are paid in full.</I></FONT></FONT></P>
	<P style="margin-bottom:0in;line-height:100%;" ><BR>
	</P>
</DIV>
</div>