@import '../library/mixins/mixins';

[data-module="client"] {
	
	.header {
		display: table-row;
		
		@include size(400px) {
			display: block;
			width: 100%;
		}
		
		.client-name {
			display: table-cell;
			vertical-align: top;
			width: 100%;
			
			input {
				width: 100%;
				font-size: 24px;
				line-height: 26px;
				border: 1px solid white;
				outline: none;
				
				&:hover {
					border: 1px solid #ccc;
				}
			}
			
			@include size(400px) {
				display: block;
				width: 100%;
			}
		}
		
		.new-job {
			display: table-cell;
			vertical-align: top;
			white-space: nowrap;
			
			@include size(400px) {
				display: block;
				padding-top: 15px;
				
				button {
					width: 100%;
				}
			}
		}
	}
	
	.client-details {
		width: 100%;
		
		input {
			border: 1px solid white;
			width: 100%;
			outline: none;
			
			&:hover {
				border: 1px solid #ccc;
			}
		}
		
		td {
			height: 28px;
			
			[contenteditable] {
				padding: 4px;
				border: 1px solid white;
				width: 100%;
				outline: none;
				
				&:hover {
					border: 1px solid #ccc;
				}
			}
		}
		
		td:nth-child(odd) {
			text-align: right;
			font-size: 9pt;
			line-height: 9pt;
			color: #7f8c8d;
			padding: 0px 10px;
			width: 50px;
		}
		
		td:nth-child(even) {
			word-break: break-word;
			min-width: 100px;
			overflow: hidden;
		}
	}
	
	.footer {
		display: table-row;
		
		@include size(400px) {
			display: block;
			width: 100%;
		}
		
		.email-link {
			display: table-cell;
			vertical-align: top;
			width: 100%;
			
			@include size(400px) {
				display: block;
				width: 100%;
			}
		}
		
		.delete-button {
			display: table-cell;
			vertical-align: top;
			white-space: nowrap;
			
			@include size(400px) {
				display: block;
				width: 100%;
				padding-top: 15px;
				
				button {
					width: 100%;
				}
			}
		}
	}
	
	.notes {
		min-height: 100px;
		border: 1px solid #ccc;
		padding: 5px;
		outline: none;
	}
}