@import '../library/mixins/mixins';

[data-module="inventory"] {
	
	@include size(600px) {
		&> .box-std .container {
			text-align: center;
		}
		
		.inventory-add {
			float: none!important;
			display: inline-block;
		}
		
		.inventory-search {
			float: none;
			display: inline-block;
			width: 100%;
			max-width: 290px;
			
			input {
				width: 100%;
			}
		}
	}
	
	.inventory-add {
		float: left;
		
		> * {
			float: left;
			margin-right: 4px;
			
			&*:last-child {
				margin-right: 0;
			}
		}
		
		input {
			height: 36px;
			line-height: 36px;
		}
		
		input[name=name] {
			width: 160px;
		}
		
		input[name=price] {
			width: 54px;
		}
	}
	
	.inventory-list {
		
		li {
			position: relative;
		}
		
		.item {
			display: flex;
			position: relative;
			
			input {
				display: block;
				border: none;
				outline: none;
				background-color: transparent;
				
				&[name="name"] {
					flex: 1;
					padding-left: 19px;
				}
				
				&[name="price"] {
					text-align: right;
					flex: 0 0;
					min-width: 100px;
				}
			}
			
			&:hover {
				background-color: #eee;
				
				.remove-btn {
					opacity: 0.25;
				}
			}
			
			.remove-btn {
				flex: 0 0 24px;
				height: 24px;
				opacity: 0;
				margin: 2px 2px 2px 0;
				
				&:hover {
					opacity: 1;
				}
			}
		}
	}

	.filter {
		width: 150px;
		height: 36px;
		line-height: 36px;
	}
}