@import '../library/mixins/mixins';

[data-module="job"] {
	.box-job {
		width: 710px;
	}
	
	.job-name {
		width: 455px;
		font-size: 24px;
		line-height: 26px;
		border: 1px solid white;
		width: 75%;
		&:hover {
			border: 1px solid #ccc;
		}
	}
	
	.status {
		height: 36px;
		line-height: 36px;
	}
	
	.notes {
		display: inline-block;
		width: 250px;
		vertical-align: top;
		
		.notes-label {
			color: #7f8c8d;
			height: 20px;
			line-height: 20px;
			font-size: 13px;
		}
		
		.note-wrap {
			width: 240px;
			min-height: 205px;
			border: 1px solid #eee;
			cursor: text;
			min-width: 30px;
			
			@include mobile { width: 100%; }
		}
		
		.notepad {
			padding: 4px;
			min-width: 30px;
			min-height: 30px;
			outline: none;
		}
		
		@include mobile {
			display: block;
			width: 610px;
		}
	}
	
	.form-settings {
		margin: 5px 0;
		
		.left {
			margin-right: 5px;
		}
	}
	
	.client-details td { height:28px; }
	.client-details { width:75% }
	
	.pdf-load {
		width: 52px;
		height: 25px;
		background-color: white;
		padding: 0px;
	}
	
	.pdf-load .la-ball-fall div { background-color: #999; }
	
	.form {
		position: relative;
		min-height: 10px;
	}
	
	.p0 {
		padding: 0;
	}
	
	.client-details td:nth-child(2n+1) {
		text-align: right;
		font-size: 9pt;
		line-height: 9pt;
		color: #7f8c8d;
		padding: 0px 10px;
		width: 50px;
	}
	
	.new-document {
		text-transform: uppercase;
		text-align:center;
		height:100px;
		line-height:100px;
		font-size:30px;
		color: #27ae60;
		border: 1px solid transparent;
		margin-bottom: 5px;
		cursor:pointer;
		@include transition((background 0.3s ease, border-color 0.3s ease));
	}

	.new-document:last-child {
		margin-bottom: 0;
	}

	.new-document:hover {
		border: 1px solid #2ecc71;
		background: rgba(46,204,113, 0.25);
	}
	
	.app-button {
		position: relative;
		width: 37px;
		height: 37px;
		background-size: contain;
		background-repeat: no-repeat;
		background-origin: content-box;
		opacity: 0.66;
		
		&:hover {
			opacity: 1;
		}
		
		&.pdf {
			background-image: url(../media/icon/pdf.png);
			cursor: pointer;
		}
		
		&.margin {
			background-image: url(../media/icon/margin.png);
			padding: 2px;
		}
		
		&.copy {
			background-image: url(../media/icon/copy.png);
		}
		
		&.email {
			background-image: url(../media/icon/email.png);
			width: 43px;
			height: 43px;
		}
	}
}