[data-module="settings"] {
	td input {
		margin:2px 0px;
		width:100%;
		max-width: 225px;
	}

	.email-settings {
		width:100%;
	}
	
	table {
		width: 100%;
	}

	tr {
		margin-bottom:5px;
	}

	table td:nth-child(2n+1) {
		text-align:right;
		font-size:9pt;
		line-height:9pt;
		color:#7f8c8d;
		padding:0px 6px;
		width: 80px;
	}

	.empty {
		color: #337ab7;
		cursor: pointer;
	}

	.empty:hover {
		text-decoration:underline;
	}

	.signature {
		border: 1px solid #ccc;
		width: 100%;
		height: 200px;
		overflow-y: auto;
		margin: 2px 0px;
		padding: 4px;
	}

	.email-signature {
		width: 100%;
	}

	.status-handle {
		display: inline-block;
		letter-spacing: 3px;
		cursor: move;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		width: 10px;
		vertical-align: middle;
		text-align: center;
		-webkit-user-select: none;
		border-left: 1px solid #ccc;
		background-color: #eee;
		opacity: 0.5;
	}

	.status-handle div {
		height: 100%;
		line-height: 35px;
		width: 7px;
		text-align: center;
		float: right;
	}

	.status-hover {
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
	}

	.status-hover > * {
		opacity: 0;
		
	}

	#job-status li {
		position: relative;
		width: 180px;
		border: 1px solid #ccc;
		border-bottom: none;
		
		input {
			width: 100%;
			height: 35px;
			border: none;
			outline: none;
			padding-right: 14px;
		}
	}

	#job-status li:last-child {
		border-bottom: 1px solid #ccc;
	}

	.container, .container-top, .container-mid, .container-bottom {
		padding-left: 30px;
		padding-right: 30px;
	}
}