.button {
	background-color: #2ecc71;
	color: white;
	font-size: 10pt;
	padding: 7px 14px;
	text-transform: uppercase;
	border: none;
	border-bottom: 4px solid #27ae60;
	outline: none;
	cursor: default;
	min-width: 68px; // button-wait is 54px, + 7px padding left/right
	@include select(none);
	
	&:hover {
		background-color: #40d47e;
	}
	
	&:active {
		border-bottom: 0!important;
		margin-top: 4px!important;
		outline: 0!important;
	}
	
	&.delete {
		background-color:#e74c3c;
		border-bottom: 4px solid #c0392b;
		
		&:hover {
			background-color: #eb6d60;
		}
	}
	
	&.blue {
		background-color: #3a9bdc;
		border-bottom: 4px solid #2d8ac8;
		
		&:hover {
			background-color: #67b2e4;
		}
	}
	
	&.white {
		background-color: white;
		border-bottom: 4px solid #bbb;
		color: #333;
		
		&:hover {
			background-color: hsla(0,0%,100%,.9);
		}
	}
}

.button-wait {
	padding: 7px;
	opacity: 0.5;
	pointer-events: none;
}

.wait {
	color: inherit!important;
	margin: auto!important;
}

.wait > div{
	width: 9px!important;
	height: 9px!important;
}