//
//
// Dark Container
.dark_container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.dark_object {
	position: fixed;
	top: 0;
	left: 0;
	width: 10000px;
	height: 10000px;
	background-color: black;
	opacity: 0;
	overflow: hidden;
}

//
//
// Notification
.pw-notification {
	position: absolute;
	right: 15px;
	bottom: 15px;
	
	notification {
		z-index: 9001;
		display: block;
		position: relative;
		line-height: 36px;
		height: 36px;
		width: 150px;
		right: 0;
		border-radius: 50px;
		background-color:#333;
		min-width: 150px;
		opacity: 0;
		color: white;
		text-align:center;
		padding: 0px 10px;
		margin-bottom: 5px;
		
		@include mobile {
			margin-left: auto;
			margin-right: auto;
		}
	}
	
	@include mobile {
		width: 100%;
		left: 0;
		right: 0;
		bottom: 15px;
	}
}

//
//
// Tour
.pw-item-container {
	position: absolute;
}

.pw-item-text {
	z-index: 1;
	position: relative;
	display: inline-block;
	background-color: #53aee0;
	padding: 10px 16px;
	color: white;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	cursor: pointer;
}

.triangle-parent {
	position: relative;
	z-index: 2;
	
	&.top, &.bottom {
		height: 5px;
	}
	
	&.right, &.left {
		width: 5px;
	}
}

$side: 5px solid #53aee0;
$support: 5px solid transparent;

.triangle {
	position: relative;
	width: 0;
	height: 0;
	
	&.top {
		margin-left: auto;
		margin-right: auto;
		border-top: $side;
		border-right: $support;
		border-left: $support;
	}
	
	&.right {
		border-top: $support;
		border-right: $side;
		border-bottom: $support;
	}
	
	&.bottom {
		margin-left: auto;
		margin-right: auto;
		border-right: $support;
		border-bottom: $side;
		border-left: $support;
	}
	
	&.left {
		border-top: $support;
		border-bottom: $support;
		border-left: $side;
	}
	
}