// 
// 
// Scroll bars
::-webkit-scrollbar {
	width: 10px;
    height: 10px;
    overflow: visible;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.33);
    min-height: 30px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, 0.5);
	@include transition(background-color 1000ms linear);
}

::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
	background-color: #e8e8e8;
}

// 
// 
// Fundamental DOM
body, html {
	position: relative;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #e8e8e8;
}

[disabled] {
	pointer-events: none;
    cursor: default!important;
}

pre,textarea {
    overflow: auto
}

img {
    vertical-align: middle
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
    display: block
}

audio,canvas,progress,video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden], template {
    display: none!important;
}

*, :after, :before {
    box-sizing: border-box;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

td, th { padding: 0; }

hr {
	border-top: none;
	border-right: none;
	border-bottom: 1px solid #eee;
	border-left: none;
	margin: 0;
}

ul, ol {
	-webkit-padding-start: 0;
	margin: 0;
	
	li {
		list-style-type: none;
	}
}

input, select {
	padding: 4px;
	border: 1px solid #ccc;
	border-radius: 0px;
	@include border-radius(0);
	@include transition(border-color 0.3s ease);
}

input:hover {
	border: 1px solid #ccc;
}

input[type=text], input[type=email], input[type=number], input[type=password] {
	@include appearance(none);
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    @include appearance(none);
    margin: 0;
}

pre {
	display: block;
	margin: 0;
	padding: 10px;
	border: 1px solid #ccc;
	background-color: #f5f5f5;
	font-size: 13px;
	word-break: break-all;
	word-wrap: break-word;
	border-bottom: none;
}

pre:last-child {
	border-bottom: 1px solid #ccc;
}

module, flash { display: block; }

box {
	display: block;
	background-color: white;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	
	// < 800
	@include mobile {
		margin-left: auto;
		margin-right: auto;
	}
	
}

part {
	display: block;
}

// 
// 
// Paperwork structures
#sidebar {
	position: fixed;
	left: 0;
	top: 0;
	width: 160px;
	height: 100%;
	background-color: #333;
	color: white;
	z-index: 25;
	line-height: 40px;
	
	@include mobile {
		width: 100%!important;
		height: 40px!important;
		text-align: center;
		text-indent: 0;
	}
	
	a { color: white; }
	a:hover{ text-decoration: none; }
	li:hover{
		background-color: #666;
		cursor: pointer;
	}
}

.navbar-hide {
	position: absolute;
	bottom: 0;
	text-align: center;
	text-indent: 0;
	width: 100%;
	
	@include mobile {
		display: none;
	}
}

#menu {
	background-color: #333;
	
	li {
		background-color: #333;
	}
	
	.menu_active {
		background-color:#666;
	}
}

#content {
	margin-left: 160px;
	padding: 15px;
	opacity: 0;
	display: none;
	
	@include mobile {
		margin-left: 0;
		padding: 55px 0px 15px 0px;
	}
}

.form, flash {
	@include mobile {
		margin-left: auto;
		margin-right: auto;
	}
}

.box-std {
	max-width: 610px;
}

.wrap:before, module:before {
	display: table;
	content: " ";
}

.wrap:after, module:after {
	display: table;
	content: " ";
	clear: both;
}

.container {
	padding: 15px;
}

.container-top {
	padding: 15px 15px 0px;
}

.container-mid {
	padding: 0px 15px;
}

.container-bottom {
	padding: 0px 15px 15px;
}