$link: #337ab7;

a {
	color: $link;
	cursor: pointer;
	text-decoration: none;
}
a:hover, a:active { text-decoration: underline; outline: 0; }

.h4 {
	font-size: 18px;
	line-height: 19.8px;
	padding-bottom: 20px;
	font-weight: 500;
}

.h3 {
	font-size: 24px;
	padding-bottom: 20px;
	font-weight: 500;
}

.h2 {
	font-size: 24px;
	padding-bottom: 20px;
	font-weight: 500;
}

.h1 {
	font-size: 28px;
	padding-bottom: 20px;
	font-weight: 500;
}

.title {
	padding-top: 10px;
}

.al { text-align: left; }
.ar { text-align: right; }

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}