.tt-menu {
	z-index: 1!important;
	background-color: white;
	border: 1px solid #eee;
	width: 100%;
	box-shadow: rgba(0, 0, 0, 0.329412) 0px 0px 5px;
	cursor: default;
}
.tt-cursor, .tt-suggestion:hover {
	background-color: #eee;
}
.tt-suggestion {
	padding: 5px;
}
.twitter-typeahead {
	width: 100%;
}
.typeahead {
	width: 100%;
	background-color: white;
}