/********** Misc utils **********/
.ar {text-align:right}
.al {text-align:left}
.ac {text-align:center}
.buffer {padding:15px}
.center {float:none;margin-left:auto;margin-right:auto}
.ib {display:inline-block}
.m-null {margin:0}
.p-null {padding:0px}
.pr {position:relative}
.txt-white {color:white}
.txt-black {color:#333}
.uc {text-transform:uppercase}
.w1 {width:100%}
.fr {float:right}
.h {display:none}
.im {position: relative; z-index: 1;}

/********** Responsive **********/
@media screen and (max-width:800px){
	
	.note-parent {
		display: block!important;
	}
	.note-wrapper {width:100%!important;min-height:100px!important}
	
	.navbar-hide {display:none}
	.obj {width:100%}
	
	.pw-notification {
		z-index: 9001;
		position: absolute;
		bottom: 15px;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;
		line-height: 36px;
		min-height: 36px;
		border-radius: 50px;
		background-color:#333;
		width: 150px;
		opacity: 0;
		color: white;
		text-align:center;
		padding: 0px 10px;
	}
}

@media screen and (min-width:801px){
	
	.navbar-hide {display:block}
	
	.pw-notification {
		z-index: 9001;
		position: absolute;
		bottom: 30px;
		right: 30px;
		line-height: 36px;
		min-height: 36px;
		border-radius: 50px;
		background-color:#333;
		min-width: 150px;
		opacity: 0;
		color: white;
		text-align:center;
		padding: 0px 10px;
	}
}

#tools {border-top: 1px solid white;padding:20px;color: #333;}
#tools select {width:100%;margin-bottom:2px;}
#menu {background-color:#333;}
.thumb {height:40px; display:none}


/**** Context Menu ****/
.context-menu-list {
    position: absolute;
    display: inline-block;
    min-width: 100px;
    max-width: 360px;
    padding: 4px 0px!important;
    margin: 5px;
    font-family: inherit;
    font-size: inherit;
    list-style-type: none;
    background: #fff;
    border: 1px solid #bebebe;
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.5);
    box-shadow: 0 2px 5px rgba(0,0,0,.5);
}

.context-menu-item {
	background-color: #FFF;
	color: #2F2F2F;
	padding: 3px 28px;
	position: relative;
	user-select: none;
}

.context-menu-separator {
	border-bottom: 1px solid #e6e6e6;
	margin: 5px 0;
	padding: 0;
}

.context-menu-hover {
	background-color:#eee;
	cursor:pointer;
}

.context-menu-item.context-menu-hover {
    cursor: pointer;
    background-color: #eee;
}

.context-menu-submenu:after {
	content: '';
	border-style: solid;
	border-width: 4px 4px 4px 4px;
	border-color: transparent transparent transparent #2F2F2F;
	height: 0;
	position: absolute;
	right: 8px;
	top: 50%;
	transform: translateY(-50%);
	width: 0;
	z-index: 1;
}

.context-menu-item.context-menu-visible > .context-menu-list {
	display: block;
}

.context-menu-item > .context-menu-list {
	display: none;
	/* re-positioned by js */
	right: -5px;
	top: 5px;
}

/* Wrap: background-image on home screen */

.navbar-hide { 
	width:100%;
	height:25px;
	text-align:center;line-height:25px;
	position:absolute;
	bottom:5px;
	left:0;
	text-indent: 0;
}
.navbar-hide:hover { background-color:#555;cursor:pointer}