[data-template="modern"] {
	
	font-size: 13px;
	padding: 0 10mm;
	
	& > doc-section {
		padding-bottom: 30px;
	}
	
	& > doc-section:last-child {
		padding-bottom: 0;
	}
	
	doc-table {
		
		doc-row {
			display: table-row;
			
			doc-col {
				white-space: nowrap;
				display: table-cell;
				vertical-align: top;
				
				doc-text {
					padding: 2px 10px;
				}
				
				&:first-child {
					text-align: right;
				}
			}
		}
	}
	
	.pad {
		padding: 5px;
		min-height: 28px;
	}
	
	.h3, .h2, .h1 {
		padding-bottom: 0;
	}
	
	.h1 {
		font-size: 47px;
	}
	
	.smaller {
		font-size: 12px;
	}
	
	.header {
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		
		.table {
			display: table-row;
			
			doc-part {
				display: table-cell;
				vertical-align: top;
				padding: 4px 25px;
				white-space: nowrap;
				
				&:first-child {
					width: 100%;
					padding: 4px 0;
				}
			}
		}
	}
	
	.middle-region {
		display: table-row;
		border-collapse: separate;
		border-spacing: 5px 0;
		
		doc-section {
			display: table-cell;
			
			&:first-child {
				doc-text {
					margin-left: -5px;
				}
			}
			
			doc-part {
				display: table-row;
				vertical-align: top;
				
				doc-text {
					padding: 4px;
				}
				
				&:first-child doc-text {
					font-weight: 600;
					border-bottom: 1px solid #ccc;
					min-width: 150px;
				}
			}
		}
	}
	
	.inventory {
		display: block;
		
		.inventory-head {
			display: block;
			font-weight: 600;
			line-height: 20px;
			border-bottom: 1px solid black;
			
			> doc-part {
				min-width: 95px;
				display: table-cell;
				text-align: center;
				padding: 0px 6px;
				font-size: 12px;
				
				&:first-child {
					width: 100%;
					border-left: none;
					text-align: left;
					padding-left: 0;
				}
			}
		}
	}
	
	.bottom-region {
		display: table-row;
		
		.bottom-left {
			display: table-cell;
			vertical-align: top;
			width: 100%;
		}
		
		.bottom-right {
			display: table-cell;
			vertical-align: top;
		}
	}
	
	.document-total {
		float: right;
		page-break-inside: avoid!important;
		
		doc-row {
			
			doc-col:first-child {
				min-width: 115px;
			}
			
			doc-col:last-child {
				text-align: right;
				min-width: 100px;
			}
			
			&:last-child {
				doc-col:first-child {
					border-top: 1px solid black;
					font-weight: 600;
				}
				
				doc-col:last-child {
					border-top: 1px solid black;
					font-weight: 600;
				}
			}
		}
	}
}