td input {
	margin:2px 0px;
	width: 225px;
}

tr {
	margin-bottom:5px;
}

.uac table td:nth-child(2n+1) {
	text-align:right;
	font-size:9pt;
	line-height:9pt;
	color:#7f8c8d;
	padding:0px 6px;
}

.empty {
	color:#337ab7;
	cursor:pointer;
	padding-bottom:5px;
}

.empty:hover {
	text-decoration:underline;
}