

<section class="pw-form" style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; display: block; width: 650px;">
	<header class="wrap" style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; display: block;">
		<div class="h2 left" contenteditable="" form-type="" style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; color: inherit; float: left; font-family: inherit; font-size: 30px; font-weight: 500; line-height: 1.1; padding-bottom: 20px;">
			INVOICE
		</div>
	</header>
	<section style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; display: block; padding-top: 50px;">
		<part style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; display: block; float: left; width: 50%;">
			<div class="table" style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;">
				<row style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; border-top: 1px solid #ccc; box-sizing: border-box; display: block; width: 100%;">
					<column style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; float: left; font-weight: 600; padding: 6px 10px; width: 33%;">
						To
					</column>
					<column style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; float: left; padding: 6px 10px; width: 67%;">
						@clientname
					</column>
				</row>
				<row style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; border-top: 1px solid #ccc; box-sizing: border-box; display: block; width: 100%;">
					<column style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; float: left; font-weight: 600; padding: 6px 10px; width: 33%;">
						Number
					</column>
					<column style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; float: left; padding: 6px 10px; width: 67%;">
						@id
					</column>
				</row>
				<row style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; border-top: 1px solid #ccc; box-sizing: border-box; display: block; width: 100%;">
					<column style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; float: left; font-weight: 600; padding: 6px 10px; width: 33%;">
						Date
					</column>
					<column style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; float: left; padding: 6px 10px; width: 67%;">
						@date
					</column>
				</row>
				<row style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; border-bottom: 1px solid #ccc; border-top: 1px solid #ccc; box-sizing: border-box; display: block; width: 100%;">
					<column style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; float: left; font-weight: 600; padding: 6px 10px; width: 33%;">
						GST
					</column>
					<column style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; float: left; padding: 6px 10px; width: 67%;">
						
					</column>
				</row>
			</div>
		</part>
		<part style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; display: block; float: left; width: 50%;">
			<div class="table" style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding-left: 75px;">
				<row style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; border-bottom: 1px solid #ccc; border-top: 1px solid #ccc; box-sizing: border-box; display: block; width: 100%;">
					<column style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; float: left; font-weight: 600; padding: 6px 10px; width: 33%;">
						From
					</column>
					<column style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; float: left; padding: 6px 10px; width: 67%;">
						@name<br style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;">
						@address
					</column>
				</row>
			</div>
		</part>
		<part style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; display: block; float: left; width: 50%;">
		</part>
	</section>
	<section style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; display: block; padding-top: 25px;">
		<div style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-weight: 600; padding: 6px 10px;" contenteditable="">
			Description
		</div>
		<div style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 6px 10px;" contenteditable="">
			<br style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;">
		</div>
	</section>
	<section style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; display: block; padding-top: 25px;">
		<div style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-size: 11px; font-weight: 600;">
			<div class="inv-head" style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; float: right; height: 20px; line-height: 20px; min-width: 71px; text-align: center;">TOTAL</div>
			<div class="inv-head" style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; float: right; height: 20px; line-height: 20px; min-width: 71px; text-align: center;">UNIT PRICE</div>
			<div class="inv-head" style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; float: right; height: 20px; line-height: 20px; min-width: 71px; text-align: center;">QTY UNIT</div>
			<div class="inv-head" style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; float: none; height: 20px; line-height: 20px; min-width: 71px; overflow: hidden; padding-left: 10px; text-align: left; width: auto;">CONTRACTORS & MATERIALS</div>
		</div>
		<div style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin-top: -1px; position: relative;" form-inventory=""></div>
		<div form-content="" style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;"></div>
	</section>
	<section style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; display: block; padding-top: 25px;">
		<div contenteditable="" style="-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 15px 6px 15px 6px;">
			Thanks for your business!
		</div>
	</section>
</section>