<style>
.qq-item {line-height:22px;padding:0px 6px}
.qq-qty, .qq-price {
	width: 69px;
	border: 1px solid white;
	outline: none;
	text-align: center;
	line-height:22px;
	height:22px;
	padding:0;
}
.qq-total {
	min-width: 70px;
    border: 0;
    outline: none;
    text-align: center;
    line-height: 22px;
    height: 22px;
}
.wform li {list-style-type:none}
</style>
<div class="wform" style="background-color:white;font-size:13px;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;" >
	<table class="w pr" style="width:100%;position:relative;font-size:13px;background-color:white;" >
		<tbody>
			<tr>
				<td form-logo style="font-size:13px;" ></td>
				<td class="vb" style="vertical-align:bottom;font-size:13px;" >
					<div class="h2 ar" contenteditable form-type style="text-align:right;" >QUOTE</div>
				</td>
			</tr>
			<tr>
				<td style="font-size:13px;" >
					<div class="al b" contenteditable style="text-align:left;font-weight:600;" >
						Logan Rear<br>
						027 5077 187<br>
						40 Seddon Street<br>
						Waikanae<br>
						logan.rear@hotmail.co.nz
					</div>
				</td>
				<td class="ar vt" style="text-align:right;vertical-align:top;font-size:13px;" >
					<table class="pull-right details" style="font-size:13px;background-color:white;" >
						<tbody>
							<tr>
								<td class="p010 ar" style="text-align:right;padding-top:2px;padding-bottom:2px;padding-right:10px;padding-left:10px;" >Date</td>
								<td class="p010 bb ac" contenteditable form-date style="text-align:center;border-width:1px;border-style:solid;border-color:#000;padding-top:2px;padding-bottom:2px;padding-right:10px;padding-left:10px;" ></td>
							</tr>
							<tr>
								<td class="p010 ar" style="text-align:right;padding-top:2px;padding-bottom:2px;padding-right:10px;padding-left:10px;" >Reference#</td>
								<td class="p010 bb ac" form-jobID style="text-align:center;border-width:1px;border-style:solid;border-color:#000;padding-top:2px;padding-bottom:2px;padding-right:10px;padding-left:10px;" ></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td colspan="2" class="w" style="width:100%;font-size:13px;" >
					<table class="client m15" style="margin-top:15px;width:50%;font-size:13px;background-color:white;" >
						<tbody>
							<tr class="bl ac uc" style="text-align:center;background-color:#39B0EB;text-transform:uppercase;" >
								<td class="b bb" style="font-weight:600;border-width:1px;border-style:solid;border-color:#000;" >Customer</td>
							</tr>
							<tr>
								<td class="bb" style="border-width:1px;border-style:solid;border-color:#000;" >
									<div class="ac w"  contenteditable form-clientblob style="padding-top:2px;padding-bottom:2px;padding-right:2px;padding-left:2px;text-align:center;width:100%;" >
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td colspan="2" class="w" style="width:100%;font-size:13px;" >
					<table class="m15 w" style="width:100%;margin-top:15px;font-size:13px;background-color:white;" >
						<tbody>
							<tr>
								<td colspan="2" class="b bb bl ac uc" style="text-align:center;font-weight:600;border-width:1px;border-style:solid;border-color:#000;background-color:#39B0EB;text-transform:uppercase;" >
									<span>Job Description</span>
								</td>
							</tr>
							<tr>
								<td colspan="2" class="bb" style="border-width:1px;border-style:solid;border-color:#000;" >
									<div class="w"  contenteditable form-jobd style="padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px;width:100%;" ></div>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td colspan="2" class="w" style="width:100%;font-size:13px;" >
					<div class="pr" form-inventory style="position:relative;" >
						<div class="ta" form-typeahead style="position:absolute;z-index:1;margin-top:36px;width:100%;border-top-width:1px;border-top-style:solid;border-top-color:#333;border-left-width:1px;border-left-style:solid;border-left-color:#333;border-right-width:1px;border-right-style:solid;border-right-color:#333;" >
							<input class="typeahead tt" type="text" placeholder="Item" style="border-style:none;outline-style:none;width:100%;padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px;" />
						</div>
					</div>
					<div class="wrapper f0 br0 m15" form-itemlist style="margin-top:15px;font-size:0;border-top-width:1px;border-top-style:solid;border-top-color:black;border-bottom-width:1px;border-bottom-style:solid;border-bottom-color:black;border-left-width:1px;border-left-style:solid;border-left-color:black;" >
						<table class="w" style="width:100%;font-size:13px;background-color:white;" >
							<tbody>
								<tr>
									<td class="br" style="border-right-width:1px;border-right-style:solid;border-right-color:black;" >
										<ul class="f" form-itemname style="font-size:13px;-webkit-padding-start:0px!important;margin-top:0 !important;margin-bottom:0 !important;margin-right:0 !important;margin-left:0 !important;" >
											<li class="ac uc bl ihead" style="text-align:center;background-color:#39B0EB;text-transform:uppercase;min-width:70px;font-size:11px;line-height:20px;height:20px;font-weight:600;list-style-type:none!important;" >CONTRACTORS & MATERIALS</li>
											<li  form-itembuffer style="height:29px;list-style-type:none!important;" ></li>
										</ul>
									</td>
									<td class="w7 br" style="width:70px;border-right-width:1px;border-right-style:solid;border-right-color:black;" >
										<ul class="f" form-itemqty style="font-size:13px;-webkit-padding-start:0px!important;margin-top:0 !important;margin-bottom:0 !important;margin-right:0 !important;margin-left:0 !important;" >
											<li class="ac uc bl ihead" style="text-align:center;background-color:#39B0EB;text-transform:uppercase;min-width:70px;font-size:11px;line-height:20px;height:20px;font-weight:600;list-style-type:none!important;" >QTY UNIT</li>
											<li  form-itembuffer style="height:29px;list-style-type:none!important;" ></li>
										</ul>
									</td>
									<td class="w7 br" style="width:70px;border-right-width:1px;border-right-style:solid;border-right-color:black;" >
										<ul class="f" form-itemprice style="font-size:13px;-webkit-padding-start:0px!important;margin-top:0 !important;margin-bottom:0 !important;margin-right:0 !important;margin-left:0 !important;" >
											<li class="ac uc bl ihead" style="text-align:center;background-color:#39B0EB;text-transform:uppercase;min-width:70px;font-size:11px;line-height:20px;height:20px;font-weight:600;list-style-type:none!important;" >UNIT PRICE</li>
											<li  form-itembuffer style="height:29px;list-style-type:none!important;" ></li>
										</ul>
									</td>
									<td class="w7 br" style="width:70px;border-right-width:1px;border-right-style:solid;border-right-color:black;" >
										<ul class="f" form-itemtotal style="font-size:13px;-webkit-padding-start:0px!important;margin-top:0 !important;margin-bottom:0 !important;margin-right:0 !important;margin-left:0 !important;" >
											<li class="ac uc bl ihead" style="text-align:center;background-color:#39B0EB;text-transform:uppercase;min-width:70px;font-size:11px;line-height:20px;height:20px;font-weight:600;list-style-type:none!important;" >TOTAL</li>
											<li  form-itembuffer style="height:29px;list-style-type:none!important;" ></li>
										</ul>
									</td>
							</tbody>
						</table>
					</div>
				</td>
			</tr>
			<tr>
				<td style="font-size:13px;" >
					<div class="tac" contenteditable style="font-size:11px!important;margin-top:10px;" >
						<table style="font-size:11px!important;background-color:white;margin-top:5px" >
							<tbody>
								<tr class="ac bl uc" style="text-align:center;background-color:#39B0EB;text-transform:uppercase;" >
									<td class="bb w" style="border-width:1px;border-style:solid;border-color:#000;width:100%;font-size:11px!important;" >Terms and Conditions</td>
								</tr>
								<tr>
									<td class="bb w" style="border-width:1px;border-style:solid;border-color:#000;width:100%;font-size:11px!important;padding:2px" >
										<table style="font-size: 11px!important">
											<tbody>
												<tr>
													<td style="vertical-align:top;padding-right:3px;">1.</td><td style="vertical-align:top">Payment must be made within seven working days from the invoice date</td>
												</tr>
												<tr>
													<td style="vertical-align:top">2.</td><td style="vertical-align:top">Overdue accounts may incur a late interest fee.</td>
												</tr>
												<tr>
													<td style="vertical-align:top">3.</td><td style="vertical-align:top">If payments have passed their due date, further work may be discontinued.</td>
												</tr>
												<tr>
													<td style="vertical-align:top">4.</td><td style="vertical-align:top">Travel costs of 77 cents per km will be applied to work north of Otaki or south of Paraparaumu.</td>
												</tr>
												<tr>
													<td style="vertical-align:top">5.</td><td style="vertical-align:top">Estimates will be invoiced fortnightly.</td>
												</tr>
												<tr>
													<td style="vertical-align:top">6.</td><td style="vertical-align:top">Quotes in excess of $10,000 will require a 30% deposit prior to work commencing followed by monthly instalments.</td>
												</tr>
												<tr>
													<td style="vertical-align:top">7.</td><td style="vertical-align:top">Quotes are valid for three months.</td>
												</tr>
												<tr>
													<td style="vertical-align:top">8.</td><td style="vertical-align:top">Work in excess of $10,000 will require construction insurance that is to be paid by the client.</td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</td>
				<td class="vt" style="vertical-align:top;font-size:13px;" >
					<table class="ar m90" style="margin-top:10px;text-align:right;margin-left:10px;font-size:13px;background-color:white;" >
						<tbody>
							<tr>
								<td style="min-width:105px;padding-top:2px;padding-bottom:2px;padding-right:4px;padding-left:4px;" >Sub Total</td>
								<td style="min-width:105px;padding-top:2px;padding-bottom:2px;padding-right:4px;padding-left:4px;" ><div form-subtotal></div></td>
							</tr>
							<tr>
								<td style="min-width:105px;padding-top:2px;padding-bottom:2px;padding-right:4px;padding-left:4px;" >GST</td>
								<td style="min-width:105px;padding-top:2px;padding-bottom:2px;padding-right:4px;padding-left:4px;" ><div form-tax></div></td>
							</tr>
							<tr>
								<td class="b bb bl uc" style="font-size:12px;text-align:center;font-weight:600;border-width:1px;border-style:solid;border-color:#000;background-color:#39B0EB;text-transform:uppercase;min-width:105px;padding-top:2px;padding-bottom:2px;padding-right:4px;padding-left:4px;" >Total To Pay</td>
								<td class="b bb" form-total style="font-weight:600;border-width:1px;border-style:solid;border-color:#000;min-width:105px;padding-top:2px;padding-bottom:2px;padding-right:4px;padding-left:4px;" ></td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
</div>